/* Fonts Starts */
@font-face {
  font-family: "freight-sans-book";
  src: url("../fonts/Freight-Sans-Book.ttf"), url("../fonts/Freight-Sans-Book.woff2") format("woff2"), url("../fonts/Freight-Sans-Book.woff") format("woff");
}

@font-face {
  font-family: "freight-sans-light";
  src: url("../fonts/Freight-Sans-Light.ttf"), url("../fonts/Freight-Sans-Light.woff2") format("woff2"), url("../fonts/Freight-Sans-Light.woff") format("woff");
}

@font-face {
  font-family: "vanitas-black";
  src: url("../fonts/Vanitas-Black.ttf"), url("../fonts/Vanitas-Black.woff2") format("woff2"), url("../fonts/Vanitas-Black.woff") format("woff");
}

@font-face {
  font-family: "vanitas-bold";
  src: url("../fonts/Vanitas-Bold.ttf"), url("../fonts/Vanitas-Bold.woff2") format("woff2"), url("../fonts/Vanitas-Bold.woff") format("woff");
}

/* Branding Starts */
/* left-menu variables */
/* weather info variables */
/* Branding Ends */
/*# sourceMappingURL=custom.css.map */