﻿/* Fonts Starts */
@font-face {
  font-family: "freight-sans-book";
  src: url("../fonts/Freight-Sans-Book.ttf"),
    url("../fonts/Freight-Sans-Book.woff2") format("woff2"),
    url("../fonts/Freight-Sans-Book.woff") format("woff");
}

@font-face {
  font-family: "freight-sans-light";
  src: url("../fonts/Freight-Sans-Light.ttf"),
    url("../fonts/Freight-Sans-Light.woff2") format("woff2"),
    url("../fonts/Freight-Sans-Light.woff") format("woff");
}

@font-face {
  font-family: "vanitas-black";
  src: url("../fonts/Vanitas-Black.ttf"),
    url("../fonts/Vanitas-Black.woff2") format("woff2"),
    url("../fonts/Vanitas-Black.woff") format("woff");
}

@font-face {
  font-family: "vanitas-bold";
  src: url("../fonts/Vanitas-Bold.ttf"),
    url("../fonts/Vanitas-Bold.woff2") format("woff2"),
    url("../fonts/Vanitas-Bold.woff") format("woff");
}
/* Branding Starts */

/* left-menu variables */
$menuFontFamily: "freight-sans-book";
$menuInfoFontColor: #ffffff;
$menuListFontColor: #ecf0f8;

/* weather info variables */
$weatherInfoFontFamily: "freight-sans-book";
$weatherInfoFontColor: #ffffff;

/* Branding Ends */
@mixin component-wrapper {
  align-items: flex-start;
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  color: #ecf0f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

@mixin page-wrapper {
  align-items: flex-start;
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  color: #ecf0f8;
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 100;
}

@mixin list-style {
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@mixin hide-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

@mixin active-style {
  background: none;
  color:#eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
}

@mixin focus-style {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

@mixin button-style-1 {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2vw;
  color: #eef1f9;
  line-height: 2vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
  width: 100%;
  height: auto;
  word-spacing: 0.2vh;

  &.focused {
    background-image: linear-gradient(
      163deg,
      rgba(49, 51, 51, 0.47) 48%,
      #313333 48%,
      #484f50 100%
    );
    border: 1px solid #979797;
    @include focus-style;
  }

  &.selected {
    @include active-style;
    border: 1px solid #979797;
  }
}

@mixin button-style-2 {
  background-color: transparent;
  background-image: linear-gradient(
      163deg,
      rgba(49, 51, 51, 0.47) 48%,
      #313333 48%,
      #484f50 100%
    );
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: "freight-sans-book";
  font-size: 1.5vw;
  color: #c2c2c2;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  padding: 1vh 2vw;
  &.focused {
    @include focus-style;
  }
}
