/* Fonts Starts */
@font-face {
  font-family: "freight-sans-book";
  src: url("../fonts/Freight-Sans-Book.ttf"), url("../fonts/Freight-Sans-Book.woff2") format("woff2"), url("../fonts/Freight-Sans-Book.woff") format("woff");
}

@font-face {
  font-family: "freight-sans-light";
  src: url("../fonts/Freight-Sans-Light.ttf"), url("../fonts/Freight-Sans-Light.woff2") format("woff2"), url("../fonts/Freight-Sans-Light.woff") format("woff");
}

@font-face {
  font-family: "vanitas-black";
  src: url("../fonts/Vanitas-Black.ttf"), url("../fonts/Vanitas-Black.woff2") format("woff2"), url("../fonts/Vanitas-Black.woff") format("woff");
}

@font-face {
  font-family: "vanitas-bold";
  src: url("../fonts/Vanitas-Bold.ttf"), url("../fonts/Vanitas-Bold.woff2") format("woff2"), url("../fonts/Vanitas-Bold.woff") format("woff");
}

/* Branding Starts */
/* left-menu variables */
/* weather info variables */
/* Branding Ends */
/* Global styles */
html,
body {
  background-color: #000;
  font-family: "freight-sans-book";
  font-size: 1vw;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}

.nonotification {
  text-align: center;
  /* vertical-align: middle; */
  /* line-height: 90px; */
  padding-top: 10vw;
  height: 70vh;
  font-size: 2vw;
}

.channelno {
  background: #40474b;
  text-align: center;
  position: absolute;
  color: #fff;
  width: 2.5vw;
  border-top-left-radius: .4vw;
  border-bottom-right-radius: .4vw;
  font-size: 1.5vw;
}

.notificationul {
  min-height: 75vh;
  height: 75vh;
  overflow: auto;
  padding-left: 0vw;
}

.notificationul li {
  list-style-type: none;
  border-radius: 0vw;
  width: 80%;
  border-bottom: .1vw solid #eee;
  margin-bottom: 1vw;
  padding: 1vw 1vw;
  font-size: 1.7vw;
}

.notificationul li.focused {
  border-radius: 1vw;
  border: solid .1vw #eee;
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484F50 100%);
}

.smallp {
  font-size: 1vw;
  margin-bottom: 0vw;
}

.ntitle {
  margin-bottom: 0vw;
}

.menu-icon {
  list-style-type: none;
  padding-left: 0vw;
  position: relative;
  width: 5vw;
  padding: 1vw;
}

.menuul {
  padding-left: 0vw;
  text-align: center;
  margin-bottom: 0vw;
}

.menuul li img {
  width: 2.5vw;
}

.menuul li.focused {
  background: #ccc;
}

.notificationcount {
  position: absolute;
  right: 1.5vw;
  top: .8vw;
  text-align: center;
  width: 1vw;
}

.nimg {
  width: 100%;
  height: 100%;
  border-radius: 1.5vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.note_popup {
  background-image: linear-gradient(162deg, rgba(49, 51, 51, 0.47) 0%, #484F50 74%) !important;
  border: 1px solid #979797;
  padding: 0 !important;
  border-radius: 1.5vw;
}

.notifytitle {
  font-size: 3vw;
  color: #ECF0F8;
  letter-spacing: 0;
  font-weight: 500;
}

.notifybody {
  font-size: 2vw;
  color: #CACCCF;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 2vw;
}

.closeicon {
  height: 3vw;
  background: #333;
  padding: 1vw;
  position: absolute;
  bottom: -4vw;
}

.closeicon.focused {
  border: solid .2vw #eee;
}

.notepopup {
  background: #363636 !important;
}

.restbtn {
  background-color: transparent;
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  border-radius: 8px;
  font-family: "freight-sans-book";
  font-size: 1.5vw;
  color: #c2c2c2;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
  padding: 1vh 2vw;
  background: #b7b3ad !important;
  color: #494237 !important;
}

.restbtn.focused {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.ch-background {
  position: fixed;
  right: 1vw;
  width: auto;
  top: 1vw;
  background: #000;
}

.chnname {
  width: auto;
  color: #fff;
  font-size: 2vw;
  top: 1.5vw;
  display: none;
  /* position: fixed; */
  right: 1vw;
  float: left;
  padding: .5vw 1vw;
}

.chindicator {
  position: fixed;
  right: 1vw;
  top: 1vw;
  width: 7vw;
  color: #fff;
  height: 4vw;
  text-align: center;
  border: solid 1px #eee;
  padding: 0vw;
  display: none;
}

.numch {
  font-size: 2.5vw;
}

.chind {
  float: left;
  right: 1vw;
  top: 1vw;
  width: 7vw;
  color: #fff;
  height: 4vw;
  text-align: center;
  border: solid 1px #eee;
  padding: 0vw;
  display: none;
}

.chnumb {
  font-size: 2.5vw;
}

.chinvalid {
  position: fixed;
  right: 1vw;
  top: 1vw;
  width: auto;
  color: #fff;
  height: auto;
  text-align: center;
  border: solid 1px #eee;
  padding: 0vw;
  display: none;
  padding: 1vw;
  z-index: 99;
  background: #000;
}

.invalid {
  font-size: 2vw;
  margin-bottom: 0vw;
}

.tv-genre-button.active {
  border: solid 1px #b7b3ad;
}

.service-menu {
  width: 90vw;
}

.offers-wrapper .servicecontainer li .image-card {
  height: 36vh !important;
}

.servicecontainer {
  width: 100% !important;
  padding: 2vw 0 !important;
}

.service-menu li {
  display: inline-block;
  list-style-type: none;
  color: #ecf0f8;
  padding: 1vw 2vw;
  margin-right: 1vw;
  font-size: 1.5vw;
  border-radius: .5vw;
}

.service-menu li.focused {
  color: #fff;
  background: #ecf0f8;
}

.restaurant-wrapper .cityguide-list li .image-card img {
  width: 100% !important;
  margin: 0vw !important;
  border-radius: 1vw;
}

.restaurant-wrapper .cityguide-list li .image-card .go-arrow {
  bottom: 7vh !important;
  height: auto !important;
  background: transparent !important;
}

.restaurant-wrapper .cityguide-list li .image-card {
  background: none !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000 !important;
          box-shadow: 0px 0px 0px 0px #000 !important;
  border-radius: 0px !important;
}

.hide {
  display: none !important;
}

.genre-list li.focused {
  background: #f00;
}

.city-wrapper {
  padding: 0 0 0 10vw !important;
}

.city-wrapper .scroll-content-section {
  max-height: 60vw !important;
  min-height: 56vw !important;
  width: 40vw !important;
  -webkit-box-align: initial !important;
      -ms-flex-align: initial !important;
          align-items: initial !important;
}

.citydesc {
  color: #ecf0f8;
  padding: 2vh;
  padding-left: 4vh;
}

.city-back-button img {
  width: 6vw;
  padding: 1vw;
  border: solid 1px transparent;
}

.city-back-button.focused img {
  border: solid 1px #ecf0f8;
}

.livetv-wrapper .genre-section .genre-list li.focused {
  background: #b7b3ad !important;
  color: #ecf0f8 !important;
}

#ViewContainer {
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0vw  0;
  padding-right: 2vw;
  padding-top: 1vw;
  width: 100%;
}

.ViewContainer {
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0vw  0;
  padding-right: 2vw;
  padding-top: 1vw;
  width: 100%;
}

.livetv-wrapper .genre-section .genre-list li.focused button {
  color: #ecf0f8 !important;
  font-weight: 600;
}

.main-wrapper {
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  height: 100vh;
  left: 0;
  padding: 0 0 0 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

.navMenuWrapper .left-menu {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#292e30), color-stop(57%, #40474b), to(#101315));
  background-image: linear-gradient(180deg, #292e30 0%, #40474b 57%, #101315 100%);
  -webkit-box-shadow: 2px 1px 1px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 2px 1px 1px 0 rgba(0, 0, 0, 0.5);
  height: 100vh;
  opacity: 0.85;
  width: 10vw;
  padding: 2vh 0;
  font-family: "freight-sans-book";
  color: #ffffff;
  z-index: 99;
  -webkit-transition: width ease-in-out 0.25s;
  transition: width ease-in-out 0.25s;
}

.navMenuWrapper .left-menu.hidden {
  display: none !important;
}

.navMenuWrapper .left-menu.expanded {
  width: 24vw;
}

.navMenuWrapper .left-menu.expanded .default-hide {
  display: block;
}

.navMenuWrapper .left-menu.expanded .menu-list-wrapper .menu-list li button {
  padding: 0 3vw;
}

.navMenuWrapper .left-menu.expanded .room-number-section {
  padding: 0 3vw;
}

.navMenuWrapper .left-menu .divider {
  background-image: linear-gradient(103deg, #363d3f 0%, #101213 49%, #33393c 100%);
  height: 0.3vh;
  width: 100%;
}

.navMenuWrapper .left-menu .room-number-section {
  padding: 0 2vw;
}

.navMenuWrapper .left-menu .room-number-section .title {
  font-family: "freight-sans-book";
  font-size: 1.2vw;
  line-height: 1.32vw;
  margin-bottom: 0.2vh;
}

.navMenuWrapper .left-menu .room-number-section .room-number {
  font-size: 3vw;
  line-height: 3vw;
  font-family: "vanitas-black";
  margin-bottom: 0vw;
}

.navMenuWrapper .left-menu .menu-list-wrapper {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.navMenuWrapper .left-menu .menu-list-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.navMenuWrapper .left-menu .menu-list-wrapper .menu-list {
  list-style: none;
}

.navMenuWrapper .left-menu .menu-list-wrapper .menu-list li button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: 2px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  outline: none;
  white-space: nowrap;
  width: 100%;
  height: auto;
  padding: 0 3.5vw;
  -webkit-transition: padding ease-in-out 0.25s;
  transition: padding ease-in-out 0.25s;
}

.navMenuWrapper .left-menu .menu-list-wrapper .menu-list li button .icon {
  background: url(../img/icons/live_tv_icon.svg) no-repeat center;
  display: block;
  width: 2.5vw;
  height: 10vh;
  background-size: contain !important;
}

.navMenuWrapper .left-menu .menu-list-wrapper .menu-list li button .menu-name {
  font-size: 1.6vw;
  color: #ecf0f8;
  letter-spacing: 0;
  margin-left: 1vw;
  line-height: 10vh;
  word-spacing: 0.2vw;
}

.navMenuWrapper .left-menu .menu-list-wrapper .menu-list li button.focused {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
  border: 2px solid #979797;
}

.navMenuWrapper .left-menu .menu-list-wrapper .menu-list li button.focused .menu-name {
  color: #494237;
}

.navMenuWrapper .left-menu .menu-list-wrapper .menu-list li button.selected {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 2px solid #979797;
}

.navMenuWrapper .left-menu .default-hide {
  display: none;
}

.content-nWelcome {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background: rgba(54, 54, 54, 0.8);
  /* height: auto; */
  height: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 999;
}

.nWelcome_popup {
  width: 80%;
  margin: 5.5% auto;
  background: transparent;
  padding: 3% 7%;
  text-align: CENTER;
  height: auto;
}

.udidpopup {
  width: 100%;
  margin: 0 auto;
}

.welcome_header {
  text-align: right;
  margin-bottom: 0vw;
}

.email_popup {
  width: 90%;
  margin: 12% auto;
  background: #FFF;
  text-align: center;
  height: 70vh;
  position: relative;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.email-popup-content {
  text-align: left;
  color: #494237;
}

.slno-btns {
  position: absolute;
  bottom: 3vw;
}

.view-bill-btns {
  margin-top: 12vw;
  text-align: center;
}

.view-bill-btns button {
  margin-right: 3vw;
  margin-bottom: -1vw;
}

.view-bill-btns button {
  margin-right: 7vw;
  outline: none;
  padding: 1vw 2vw !important;
  font-size: 1.5vw !important;
  color: #494237;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.5vw !important;
  margin-bottom: 20px;
  background: none;
  border: 0.1vw solid;
  text-transform: uppercase;
  height: auto;
}

.serial_number_popup_content input {
  border: solid 0.1vw #494237;
  line-height: 4vw;
  color: #494237 !important;
  background: transparent !important;
  padding: 0 1vw;
}

.email-popup-content input {
  border: none;
  border-bottom: 0.1vw solid #ccc;
  width: 100%;
  font-size: 1.5vw;
  color: #6B6B6B !important;
  letter-spacing: 0;
  text-align: left;
  font-weight: 400;
  line-height: 2vw;
  padding-left: 0vw;
  margin-top: 1vw;
}

.new-kb-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 5% 5%;
}

.new-kb-style .new-key-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.new-kb-style .row-1 .new-key-btn {
  width: 30%;
}

.new-kb-style .new-key-btn {
  width: 24%;
}

.new-kb-style .new-key-btn button {
  width: 100%;
  background: transparent;
  border: none;
  color: #494237;
  font-size: 1.5vw;
  outline: none;
}

.new-kb-style .new-key-btn button.focused {
  -webkit-box-shadow: 0px 0px 6px 4px #7e7e7e;
  box-shadow: 0px 0px 6px 4px #7e7e7e;
}

.email-popup-content input.focused {
  background: #494237 !important;
  color: #fff !important;
}

.serial_number_popup_content input {
  border: solid 0.1vw #494237;
  line-height: 4vw;
  color: #494237 !important;
  background: transparent !important;
  padding: 0 1vw;
}

.popup-code {
  max-height: 100px;
  overflow: auto;
}

.banner_search_type.focused {
  background: #494237 !important;
  color: #fff;
  padding: 3px;
}

.banner_search_type {
  color: #494237;
}

.welcome-screen-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  justify-content: space-around !important;
  padding: 0 5vw 0 9vw !important;
}

.welcome-screen-wrapper.hidden {
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.welcome-screen-wrapper .logo-section .logo-wrapper {
  max-width: 15vw;
}

.welcome-screen-wrapper .logo-section .logo-wrapper img {
  max-width: 100%;
}

.welcome-screen-wrapper .message-section .hi-name {
  font-family: "vanitas-bold";
  font-size: 5.5vw;
  margin: 0;
}

.welcome-screen-wrapper .message-section .welcome-message {
  font-family: "freight-sans-book";
  font-size: 1.87vw;
  letter-spacing: 0.1vw;
}

.welcome-screen-wrapper .language-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.welcome-screen-wrapper .language-section .language-selection-wrapper .title {
  color: #c2c2c2;
  font-family: "freight-sans-book";
  font-size: 1.2vw;
  margin: 0;
}

.welcome-screen-wrapper .language-section .language-selection-wrapper .language-selection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome-screen-wrapper .language-section .language-selection-wrapper .language-selection .selected-language {
  color: #ffffff;
  font-family: "freight-sans-book";
  font-size: 1.8vw;
  margin: 0;
}

.welcome-screen-wrapper .language-section .language-selection-wrapper .language-selection button {
  background: none;
  border: none;
  height: auto;
  outline: none;
  width: 45px;
  padding: 5px !important;
}

.welcome-screen-wrapper .language-section .language-selection-wrapper .language-selection button.left {
  margin-left: 3vw;
}

.welcome-screen-wrapper .language-section .language-selection-wrapper .language-selection button.language-left {
  margin-left: 3vw;
}

.welcome-screen-wrapper .language-section .language-selection-wrapper .language-selection button:disabled {
  opacity: 0.6;
}

.welcome-screen-wrapper .language-section .language-selection-wrapper .language-selection button.focused {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.welcome-screen-wrapper .language-section .arrow-section button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  height: auto;
  width: auto;
}

.welcome-screen-wrapper .language-section .arrow-section button img {
  max-height: 100%;
  width: 10vw;
}

.welcome-screen-wrapper .top-info {
  position: absolute;
  right: 3vw;
  top: 1vh;
}

.welcome-screen-wrapper .top-info p {
  font-family: "freight-sans-book";
  font-size: 1.6vw;
  color: #ecf0f8;
  letter-spacing: 0.09px;
}

.welcome-screen-wrapper .top-info p span.weather {
  font-size: 2.6vw;
  position: relative;
  top: 0.5vh;
  border-left: 1px solid #595959;
  padding-left: 10px;
}

.welcome-screen-wrapper .udid-popup {
  display: none;
}

.welcome-screen-wrapper .udid-popup .popup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(42, 46, 48, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.welcome-screen-wrapper .udid-popup .popup .popup-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: linear-gradient(179deg, rgba(49, 51, 51, 0.78) 0%, #262828 21%, #404343 100%);
  border: 1px solid rgba(255, 245, 245, 0.44);
  -webkit-box-shadow: 11px 39px 39px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 11px 39px 39px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 5vh 3vw;
  position: relative;
}

.welcome-screen-wrapper .error-popup {
  display: none;
}

.welcome-screen-wrapper .error-popup .popup {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(42, 46, 48, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.welcome-screen-wrapper .error-popup .popup .popup-wrapper {
  background-image: linear-gradient(179deg, rgba(49, 51, 51, 0.47) 0%, #313333 21%, #484f50 100%);
  border: 1px solid rgba(255, 245, 245, 0.44);
  -webkit-box-shadow: 11px 39px 39px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 11px 39px 39px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 5vh 6vw;
  position: relative;
}

.welcome-screen-wrapper .error-popup .popup .popup-wrapper p {
  font-family: "freight-sans-book";
  font-size: 1vw;
  color: #ecf0f8;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 5vh;
}

.welcome-screen-wrapper .error-popup .popup .popup-wrapper .button-group {
  text-align: center;
}

.welcome-screen-wrapper .error-popup .popup .popup-wrapper .button-group button {
  background: none;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 0.85vw;
  color: #ecf0f8;
  line-height: 0.93vw;
  padding: 1vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  height: auto;
  width: auto;
  margin: 0 1vw;
}

.welcome-screen-wrapper .error-popup .popup .popup-wrapper .button-group button.focused {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.welcome-screen-wrapper .form-section {
  width: 25vw;
}

.welcome-screen-wrapper .form-section .title {
  font-family: "vanitas-bold";
  font-size: 2vw;
  color: #c2c2c2;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 5vh;
}

.welcome-screen-wrapper .form-section .form-input {
  margin: 4vh 0;
}

.welcome-screen-wrapper .form-section .form-input input {
  background: none;
  border: 0px solid transparent;
  border-bottom: 1px solid #c2c2c2;
  position: relative;
  display: block;
  text-overflow: ellipsis;
  padding: 0;
  height: auto;
  width: 100%;
  overflow: auto;
  white-space: normal;
  font-family: "freight-sans-book";
  font-size: 1.8vw;
  color: #c2c2c2;
  letter-spacing: 0;
}

.welcome-screen-wrapper .form-section .form-input input::-webkit-input-placeholder {
  opacity: 0.9;
}

.welcome-screen-wrapper .form-section .form-input input:-ms-input-placeholder {
  opacity: 0.9;
}

.welcome-screen-wrapper .form-section .form-input input::-ms-input-placeholder {
  opacity: 0.9;
}

.welcome-screen-wrapper .form-section .form-input input::placeholder {
  opacity: 0.9;
}

.welcome-screen-wrapper .form-section .form-input input:focus {
  outline: none;
}

.welcome-screen-wrapper .form-section .form-input input.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  color: #c2c2c2;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.welcome-screen-wrapper .form-section .form-input input.selected {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  color: #c2c2c2;
}

.welcome-screen-wrapper .form-section .form-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcome-screen-wrapper .form-section .form-dropdown .label {
  font-family: "freight-sans-book";
  font-size: 1.5vw;
  color: #c2c2c2;
}

.welcome-screen-wrapper .form-section .form-dropdown .hotel-list-wrapper {
  width: 60%;
  max-height: 15vh;
  overflow: auto;
  border: 1px solid #4f4f4f;
  margin-left: 2vw;
}

.welcome-screen-wrapper .form-section .form-dropdown .hotel-list-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.welcome-screen-wrapper .form-section .form-dropdown .hotel-list-wrapper .hotel-list {
  list-style: none;
  padding: 0;
}

.welcome-screen-wrapper .form-section .form-dropdown .hotel-list-wrapper .hotel-list li {
  font-family: "freight-sans-book";
  font-size: 1.2vw;
  color: #c2c2c2;
  padding: 0.5vh;
}

.welcome-screen-wrapper .form-section .form-dropdown .hotel-list-wrapper .hotel-list li.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.welcome-screen-wrapper .form-section .form-dropdown .hotel-list-wrapper .hotel-list li.selected {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
}

.welcome-screen-wrapper .form-section .button-group {
  margin: 1vh 0;
  text-align: center;
}

.welcome-screen-wrapper .form-section .button-group button {
  background-color: transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 1.5vw;
  color: #ecf0f8;
  padding: 0.5vh 2vw;
  text-align: left;
  text-transform: uppercase;
  margin: 2vh;
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #6d6c6c;
}

.welcome-screen-wrapper .form-section .button-group button.focused {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.welcome-screen-wrapper {
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  color: #ecf0f8;
}

hr {
  border-top: 1px solid #ecf0f8 !important;
}

.error-screen {
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 999;
}

.error-screen .message {
  position: relative;
  top: 40%;
  left: 0%;
  color: #ecf0f8;
  font-family: "freight-sans-book";
  font-size: 3vw;
}

.version {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
}

.home-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
  padding: 0 0 2vh 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  background-image: url("../img/Address downtown landing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-wrapper section {
  max-width: 100%;
}

.home-wrapper .bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.home-wrapper .top-info {
  position: absolute;
  right: 3vw;
  top: 1vh;
}

.home-wrapper .top-info p {
  font-family: "vanitas-black";
  font-size: 1.6vw;
  color: #ffffff;
  letter-spacing: 0.09px;
}

.home-wrapper .top-info p span.weather {
  font-size: 2.6vw;
  position: relative;
  top: 0.5vh;
  border-left: 1px solid #595959;
  padding-left: 10px;
}

.home-wrapper .top-info.hidden {
  display: none !important;
}

.home-wrapper .qr-section {
  position: fixed;
  top: 3vw;
  left: 13vw;
}

.home-wrapper .qr-section .qr-wrapper {
  width: 10vw;
  height: 10vw;
  overflow: hidden;
}

.home-wrapper .qr-section .qr-wrapper img {
  max-width: 100%;
  border-radius: 1.5vw;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

.home-wrapper .home-scroll-section .home-scroll-list {
  list-style: none;
  margin: 0;
  padding: 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.home-wrapper .home-scroll-section .home-scroll-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.home-wrapper .home-scroll-section .home-scroll-list .card-home {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.home-wrapper .home-scroll-section .home-scroll-list .card-home.focused {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.home-wrapper .home-scroll-section .home-scroll-list .image-card {
  border-radius: 20px;
  margin: 0 0.5vw;
  overflow: hidden;
  width: 26vw;
  height: 25vh;
  background: url(../img/placeholder/home.png) no-repeat center;
  background-size: cover;
  position: relative;
}

.home-wrapper .home-scroll-section .home-scroll-list .image-card img {
  max-width: 100%;
  height: auto;
}

.home-wrapper .home-scroll-section .home-scroll-list .image-text {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(19%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.64)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 19%, rgba(0, 0, 0, 0.64) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2vh 4vh;
  width: 100%;
}

.home-wrapper .home-scroll-section .home-scroll-list .image-text .name {
  font-family: "freight-sans-book";
  font-size: 1.71vw;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 1.87vw;
}

.home-wrapper .home-scroll-section .home-scroll-list .image-text .desc {
  font-family: "freight-sans-book";
  font-size: 0.93vw;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 1.2vw;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.livetv-wrapper {
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  height: 100vh;
  left: 0;
  padding: 0 0 0 0vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

.livetv-wrapper section {
  position: fixed;
}

.livetv-wrapper .video-section {
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
  background: url("../img/live-tv.jpg") no-repeat center;
  background-size: cover;
  display: none;
}

.livetv-wrapper .search-section {
  display: none;
  top: 2vh;
  left: 12vw;
}

.livetv-wrapper .search-section button {
  background: none;
  border: 0px solid transparent;
  position: relative;
  display: block;
  text-overflow: ellipsis;
  padding: 0;
  color: inherit;
  font-size: inherit;
  width: 5vw;
  overflow: hidden;
}

.livetv-wrapper .search-section button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.livetv-wrapper .search-section button img {
  width: 100%;
}

.livetv-wrapper .genre-section {
  top: 10vh;
  left: 12vw;
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  display: inline-block;
  max-width: 100%;
}

.livetv-wrapper .genre-section .genre-list {
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.livetv-wrapper .genre-section .genre-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.livetv-wrapper .genre-section .genre-list li {
  font-family: "freight-sans-book";
  letter-spacing: 0;
  position: relative;
  min-width: 15vw;
}

.livetv-wrapper .genre-section .genre-list li:first-child {
  min-width: 7vw;
}

.livetv-wrapper .genre-section .genre-list li:first-child button {
  padding: 2vh 2vw;
  min-width: 7vw;
}

.livetv-wrapper .genre-section .genre-list li button {
  font-size: 1.6vw;
  color: #ecf0f8;
  line-height: 1.4vw;
  background: none;
  border: 1px solid transparent;
  border-right: 1px solid #656464;
  position: relative;
  display: block;
  text-align: left;
  text-overflow: unset;
  text-transform: uppercase;
  padding: 3vh 2vw;
  min-width: 15vw;
  height: 11vh;
  overflow: hidden;
}

.livetv-wrapper .genre-section .genre-list li button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.livetv-wrapper .genre-section .genre-list li button.active {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
}

.livetv-wrapper .genre-section .genre-list li button img {
  max-height: 100%;
  width: 3vw;
}

.livetv-wrapper .genre-section .genre-list li:last-child button {
  border-right: 1px solid transparent;
}

.livetv-wrapper .genre-section .genre-list li:last-child button.active {
  border-right: 1px solid;
}

.livetv-wrapper .channels-section {
  top: 21vh;
  left: 10vw;
  padding: 2vh 2vw 2vh 0;
  max-width: 92vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.livetv-wrapper .channels-section::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.livetv-wrapper .channels-section .genre-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10vh;
}

.livetv-wrapper .channels-section .genre-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.livetv-wrapper .channels-section .channel-wrapper {
  overflow: auto;
}

.livetv-wrapper .channels-section .channel-wrapper .title {
  font-family: "freight-sans-book";
  font-size: 1.8vw;
  color: #ffffff;
  letter-spacing: 0.09px;
  padding-left: 2vw;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}

.livetv-wrapper .channels-section .channel-wrapper .arrow-section {
  padding: 2vh;
  min-width: 88vw;
  position: fixed;
  bottom: 2vh;
}

.livetv-wrapper .channels-section .channel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 4vh 0;
  max-width: 100%;
  overflow: auto;
}

.livetv-wrapper .channels-section .channel-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.livetv-wrapper .channels-section .channel-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 1vw;
  background: none;
  border: 0px solid transparent;
  position: relative;
  display: block;
  text-overflow: ellipsis;
  padding: 0;
  color: inherit;
  font-size: inherit;
  min-width: 15vw;
  max-width: 15vw;
  height: 9vw;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.livetv-wrapper .channels-section .channel-list li:first-child {
  margin-left: 1vw;
}

.livetv-wrapper .channels-section .channel-list li .channel-card {
  background: #eee;
  border-radius: 10px;
  height: 16vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.livetv-wrapper .channels-section .channel-list li .channel-card.loaded {
  background: #fff;
}

.livetv-wrapper .channels-section .channel-list li .channel-card img {
  width: 100%;
  height: 100%;
  padding: 0;
}

.livetv-wrapper .channels-section .channel-list li .channel-card .name-overlay {
  height: auto;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 100%;
  padding: 1vh 0 0 0;
  z-index: -1;
  margin: 0;
  -webkit-transition: visibility 0s, opacity 1s linear;
  transition: visibility 0s, opacity 1s linear;
}

.livetv-wrapper .channels-section .channel-list li .channel-card p.channel-name {
  color: #ffffff;
  font-size: 1.4vw;
  word-spacing: 0.2vh;
  margin: 0;
}

.livetv-wrapper .channels-section .channel-list li.focused {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.livetv-wrapper .channels-section .channel-list li.focused .channel-card .name-overlay {
  visibility: visible;
  opacity: 1;
}

.livetv-wrapper #av-player {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 105;
}

.hotelinfo-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: 0;
  padding: 0 0 0 22vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

.hotelinfo-wrapper section {
  max-width: 100%;
}

.hotelinfo-wrapper .background-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.hotelinfo-wrapper .background-slider .carousel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hotelinfo-wrapper .background-slider .carousel-wrapper .item {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.hotelinfo-wrapper .background-slider .carousel-wrapper .item img {
  width: 100%;
  height: auto;
}

.hotelinfo-wrapper .background-slider .carousel-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.hotelinfo-wrapper .scroll-content-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, rgba(41, 44, 46, 0.75)), to(rgba(36, 40, 42, 0.75)));
  background-image: linear-gradient(180deg, rgba(41, 44, 46, 0.75) 33%, rgba(36, 40, 42, 0.75) 100%);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 46vw;
  max-height: 46vw;
  padding: 3vw;
  width: 45vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.hotelinfo-wrapper .scroll-content-section .wrapper .title {
  font-family: "vanitas-black";
  font-size: 3vw;
  color: #ecf0f8;
  letter-spacing: 0;
  text-transform: uppercase;
}

.hotelinfo-wrapper .scroll-content-section .wrapper .contact-details p {
  font-family: "freight-sans-book";
  font-size: 1.2vw;
  color: #ecf0f8;
  letter-spacing: 1px;
  line-height: 1.2vw;
}

.hotelinfo-wrapper .scroll-content-section .wrapper .description {
  font-family: "freight-sans-book";
  font-size: 1.2vw;
  color: #ecf0f8;
  letter-spacing: 0;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 20;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.hotelinfo-wrapper .scroll-content-section .arrow-wrapper {
  text-align: center;
}

.hotelinfo-wrapper .scroll-content-section .arrow-wrapper button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 0.78vw;
  color: #eef1f9;
  line-height: 0.78vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
  width: auto;
  height: auto;
}

.hotelinfo-wrapper .scroll-content-section .arrow-wrapper button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.hotelinfo-wrapper .scroll-content-section .arrow-wrapper button img {
  height: auto;
  width: 45px;
}

.hotelinfo-wrapper .scroll-content-section .dot-wrapper {
  padding: 1vh 0;
}

.hotelinfo-wrapper .scroll-content-section .dot-wrapper .dot {
  background: #828282;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  height: 5px;
  width: 5px;
}

.hotelinfo-wrapper .scroll-content-section .dot-wrapper .dot.active {
  background: #ecf0f8;
  height: 6px;
  width: 6px;
}

.hotelinfo-wrapper .amenities-name-section {
  z-index: 2;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list li {
  min-width: 18vw;
  max-width: 18vw;
  border: 1px solid transparent;
  border-right: 1px solid #656464;
  padding: 0 1vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list li:last-child {
  border: none;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list li.focused button {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list li.active button {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list button {
  min-height: 6vw;
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2vw;
  color: #eef1f9;
  line-height: 2vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
  width: 100%;
  height: auto;
  word-spacing: 0.2vh;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.hotelinfo-wrapper .amenities-name-section .amenities-name-list button.selected {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid #979797;
}

.hotelinfo-wrapper .amenities-name-section::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.offers-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: linear-gradient(175deg, #252829e6 0%, #2d3235e6 54%, #050707b3 100%);
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 10vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

.offers-wrapper section {
  max-width: 100%;
}

.offers-wrapper .offer-type-section .offer-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.offers-wrapper .offer-type-section .offer-type-list button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2.8vw;
  color: #eef1f9;
  line-height: 2.8vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
}

.offers-wrapper .offer-type-section .offer-type-list button.focused {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid rgba(187, 145, 145, 0.46);
}

.offers-wrapper .offer-list-wrapper {
  padding: 2vh 0;
  width: 100%;
  overflow: auto;
}

.offers-wrapper .offer-list-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.offers-wrapper .offer-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers-wrapper .offer-list li {
  border: 0px solid transparent;
  display: inline-table;
  padding: 0px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 18px;
  padding: 5vh 0;
}

.offers-wrapper .offer-list li:last-child .image-card {
  margin-right: 2vw;
}

.offers-wrapper .offer-list li.focused {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.offers-wrapper .offer-list li.focused .image-card .go-arrow {
  display: block;
}

.offers-wrapper .offer-list li.focused .button-wrapper button {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
}

.offers-wrapper .offer-list li .image-card {
  height: 40vh;
  width: 30vw;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  margin: 0 1vw;
  background: url("../img/placeholder/offer.png") no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.offers-wrapper .offer-list li .image-card .go-arrow {
  position: absolute;
  bottom: 4vh;
  right: 3vh;
  width: 4vw;
  display: none;
}

.offers-wrapper .offer-list li .image-card img {
  width: 100%;
  height: auto;
}

.offers-wrapper .offer-name-section {
  padding: 0 0 3vh 3vw;
}

.offers-wrapper .offer-name-section .offer-name-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vh 0;
}

.offers-wrapper .offer-name-section .offer-name-list::-webkit-scrollbar {
  width: 0;
}

.offers-wrapper .offer-name-section .offer-name-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.offers-wrapper .offer-name-section .offer-name-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

.offers-wrapper .offer-name-section .offer-name-list li {
  border-right: 1px solid #656464;
  padding: 0 1vw;
  min-width: 18vw;
  max-width: 18vw;
}

.offers-wrapper .offer-name-section .offer-name-list li:last-child {
  border: none;
}

.offers-wrapper .offer-name-section .offer-name-list button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2vw;
  color: #eef1f9;
  line-height: 2vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
  width: 100%;
  height: auto;
  word-spacing: 0.2vh;
  color: #ecf0f8;
}

.offers-wrapper .offer-name-section .offer-name-list button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.offers-wrapper .offer-name-section .offer-name-list button.selected {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid #979797;
}

.offers-wrapper .offer-name-section::-webkit-scrollbar {
  width: 0;
}

.offers-wrapper .offer-name-section::-webkit-scrollbar-track {
  background: transparent;
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.offers-wrapper .offer-name-section::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

.offers-wrapper .offers-card-title {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.84)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.84) 100%);
  font-family: "vanitas-black";
  font-size: 2vw;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 2vw;
  position: absolute;
  bottom: -2px;
  left: 0;
  padding: 8vh 12vh 4vh 4vh;
  width: 100%;
}

.offers-wrapper .offer {
  font-family: "freight-sans-book";
  font-size: 1.5vw;
  color: #ecf0f8;
  letter-spacing: 0;
}

.offer-details-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 100;
}

.offer-details-wrapper .left-section {
  width: 60vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 5vw;
}

.offer-details-wrapper .left-section .back-arrow-wrapper {
  position: absolute;
  left: 2vw;
  top: 4vh;
}

.offer-details-wrapper .left-section .back-arrow-wrapper button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 4vw;
  padding: 1vh;
}

.offer-details-wrapper .left-section .back-arrow-wrapper button img {
  width: 100%;
}

.offer-details-wrapper .left-section .back-arrow-wrapper button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
}

.offer-details-wrapper section {
  max-width: 100%;
}

.offer-details-wrapper .offer-type-section .offer-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.offer-details-wrapper .offer-type-section .offer-type-list button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2.8vw;
  color: #eef1f9;
  line-height: 2.8vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
}

.offer-details-wrapper .offer-type-section .offer-type-list button.focused {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid rgba(187, 145, 145, 0.46);
}

.offer-details-wrapper .left-section {
  width: 60vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 5vw;
}

.offer-details-wrapper .left-section .back-arrow-wrapper {
  position: absolute;
  left: 2vw;
  top: 4vh;
}

.offer-details-wrapper .left-section .back-arrow-wrapper button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 4vw;
  padding: 1vh;
}

.offer-details-wrapper .left-section .back-arrow-wrapper button img {
  width: 100%;
}

.offer-details-wrapper .left-section .back-arrow-wrapper button.focused {
  background-image: none;
  border: 1px solid #979797;
}

.offer-details-wrapper .banner-section {
  height: 100vh;
  width: 40vw;
}

.offer-details-wrapper .banner-section .banner {
  background-image: url("../img/placeholder/city-guide.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.offer-details-wrapper .container-fluid {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
}

.offer-details-wrapper .overlay {
  position: relative;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.offer-details-wrapper .offerType.selected {
  background: #ecf0f8 !important;
}

.offer-details-wrapper .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.offer-details-wrapper .flex-container > div {
  margin: 10px;
  padding: 10px;
}

.offer-details-wrapper .title {
  font-family: "vanitas-black";
  font-size: 3vw;
  color: #ecf0f8;
  letter-spacing: 0.09px;
  line-height: 3.1vw;
}

.offer-details-wrapper .description {
  font-family: "freight-sans-book";
  font-size: 1.3vw;
  color: #ecf0f8;
  letter-spacing: 0.06px;
  word-spacing: 0.2vh;
}

.offer-details-wrapper .det {
  font-family: "freight-sans-book";
  font-size: 1.3vw;
  color: #ecf0f8;
  letter-spacing: 1px;
  line-height: 1.3vw;
}

.offer-details-wrapper .det img {
  height: 17px;
}

.offer-details-wrapper .left-arrow.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  border-radius: 18px;
}

.offer-details-wrapper .spacing {
  padding-right: 20px;
}

.cityguide-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: linear-gradient(175deg, #252829e6 0%, #2d3235e6 54%, #050707b3 100%);
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 10vw;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.cityguide-wrapper section {
  max-width: 100%;
}

.cityguide-wrapper .cityguide-type-section .cityguide-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.cityguide-wrapper .cityguide-type-section .cityguide-type-list button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2.8vw;
  color: #eef1f9;
  line-height: 2.8vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
}

.cityguide-wrapper .cityguide-type-section .cityguide-type-list button.focused {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid rgba(187, 145, 145, 0.46);
}

.cityguide-wrapper .cityguide-list-wrapper {
  padding: 2vh 0;
  width: 100vw;
  overflow: auto;
}

.cityguide-wrapper .cityguide-list-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.cityguide-wrapper .cityguide-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cityguide-wrapper .cityguide-list li {
  border: 0px solid transparent;
  display: inline-table;
  padding: 0px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 18px;
  height: 80vh;
}

.cityguide-wrapper .cityguide-list li:last-child .image-card {
  margin-right: 2vw;
}

.cityguide-wrapper .cityguide-list li.focused {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.cityguide-wrapper .cityguide-list li.focused .image-card .go-arrow {
  display: block;
}

.cityguide-wrapper .cityguide-list li.focused .button-wrapper button {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
}

.cityguide-wrapper .cityguide-list li .image-card {
  height: 100%;
  width: 30vw;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  margin: 0 1vw;
  background: url(../img/placeholder/home.png) no-repeat center;
  background-size: cover;
  -webkit-box-shadow: 5px 7px 12px #000;
          box-shadow: 5px 7px 12px #000;
}

.cityguide-wrapper .cityguide-list li .image-card .go-arrow {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 16vw;
  bottom: 0vh;
  right: 0vh;
  width: 100%;
  display: none;
}

.cityguide-wrapper .cityguide-list li .image-card img {
  width: 3vw;
  height: auto;
  margin: 1vw;
}

.cityguide-wrapper .cityguide-name-section {
  padding: 0 0 3vh 3vw;
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vh 0;
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list::-webkit-scrollbar {
  width: 0;
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list li {
  border-right: 1px solid #656464;
  padding: 0 1vw;
  min-width: 18vw;
  max-width: 18vw;
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list li:last-child {
  border: none;
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2vw;
  color: #eef1f9;
  line-height: 2vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
  width: 100%;
  height: auto;
  word-spacing: 0.2vh;
  color: #ecf0f8;
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.cityguide-wrapper .cityguide-name-section .cityguide-name-list button.selected {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid #979797;
}

.cityguide-wrapper .cityguide-name-section::-webkit-scrollbar {
  width: 0;
}

.cityguide-wrapper .cityguide-name-section::-webkit-scrollbar-track {
  background: transparent;
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.cityguide-wrapper .cityguide-name-section::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

.cityguide-wrapper .cityguideType.selected {
  background: #ecf0f8 !important;
}

.cityguide-wrapper .cityguide-card-title {
  font-family: "freight-sans-book";
  font-size: 2.5vw;
  color: #ecf0f8;
  letter-spacing: 0;
  line-height: 2.5vw;
  left: 0;
  padding: 1vh;
  width: 100%;
}

.cityguide-wrapper .cityguide {
  font-family: "freight-sans-book";
  font-size: 1.5vw;
  color: #ecf0f8;
  letter-spacing: 0;
}

.cityguide-details-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fff;
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 100;
}

.cityguide-details-wrapper .left-section {
  width: 60vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 5vw;
}

.cityguide-details-wrapper .left-section .back-arrow-wrapper {
  position: absolute;
  left: 2vw;
  top: 4vh;
}

.cityguide-details-wrapper .left-section .back-arrow-wrapper button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 4vw;
  padding: 1vh;
}

.cityguide-details-wrapper .left-section .back-arrow-wrapper button img {
  width: 100%;
}

.cityguide-details-wrapper .left-section .back-arrow-wrapper button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
}

.cityguide-details-wrapper section {
  max-width: 100%;
}

.cityguide-details-wrapper .cityguide-type-section .cityguide-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.cityguide-details-wrapper .cityguide-type-section .cityguide-type-list button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2.8vw;
  color: #eef1f9;
  line-height: 2.8vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
}

.cityguide-details-wrapper .cityguide-type-section .cityguide-type-list button.focused {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid rgba(187, 145, 145, 0.46);
}

.cityguide-details-wrapper .left-section {
  width: 60vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 5vw;
}

.cityguide-details-wrapper .left-section .back-arrow-wrapper {
  position: absolute;
  left: 2vw;
  top: 4vh;
}

.cityguide-details-wrapper .left-section .back-arrow-wrapper button {
  background-color: transparent;
  border: none;
  outline: none;
  width: 4vw;
  padding: 1vh;
}

.cityguide-details-wrapper .left-section .back-arrow-wrapper button img {
  width: 100%;
}

.cityguide-details-wrapper .left-section .back-arrow-wrapper button.focused {
  background-image: none;
  border: 1px solid #979797;
}

.cityguide-details-wrapper .banner-section {
  height: 100vh;
  width: 40vw;
}

.cityguide-details-wrapper .banner-section .banner {
  background-image: url("../img/placeholder/city-guide.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.cityguide-details-wrapper .container-fluid {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
}

.cityguide-details-wrapper .overlay {
  position: relative;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.cityguide-details-wrapper .offerType.selected {
  background: #ecf0f8 !important;
}

.cityguide-details-wrapper .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cityguide-details-wrapper .flex-container > div {
  margin: 10px;
  padding: 10px;
}

.cityguide-details-wrapper .title {
  font-family: "freight-sans-book";
  font-size: 3vw;
  color: #ecf0f8;
  letter-spacing: 0.09px;
  line-height: 3.1vw;
}

.cityguide-details-wrapper .description {
  font-family: "freight-sans-book";
  font-size: 1.3vw;
  color: #ecf0f8;
  letter-spacing: 0.06px;
  word-spacing: 0.2vh;
}

.cityguide-details-wrapper .det {
  font-family: "freight-sans-book";
  font-size: 1.3vw;
  color: #ecf0f8;
  letter-spacing: 1px;
  line-height: 1.3vw;
}

.cityguide-details-wrapper .det img {
  height: 17px;
}

.cityguide-details-wrapper .left-arrow.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  border-radius: 18px;
}

.cityguide-details-wrapper .spacing {
  padding-right: 20px;
}

.keyboard-section {
  padding: 0 3vw;
  width: 35vw;
}

.keyboard-section .keyboard-wrapper {
  padding: 3vh 0;
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
}

.keyboard-section .key-row {
  text-align: center;
  padding: 0.1vh 0;
}

.keyboard-section .key-row button {
  background: none;
  border: none;
  font-family: "freight-sans-book";
  font-size: 1.7vw;
  color: #ecf0f8;
  letter-spacing: 0;
  line-height: 1.7vw;
  width: 3.5vw;
  height: 3.5vw;
  padding: 0 1vw;
}

.keyboard-section .key-row button.focused {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.keyboard-section .key-row.row-7 button {
  width: auto;
}

.livetv-search-wrapper {
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  color: #ecf0f8;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 104;
}

.livetv-search-wrapper .page-title {
  display: block;
  padding: 3vh 3vw;
}

.livetv-search-wrapper .page-title p {
  font-family: "freight-sans-book";
  font-size: 1.95vw;
  color: #ecf0f8;
  letter-spacing: 0.85px;
  line-height: 1.95vw;
  margin: 0;
}

.livetv-search-wrapper .keyboard-channels-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section {
  width: 65vw;
  height: 100vh;
  overflow: hidden;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .genre-menu {
  max-width: 100%;
  overflow: auto;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .genre-menu::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .genre-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .genre-list li {
  border-right: 1px solid #979797;
  display: inline-table;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .genre-list button {
  background: none;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 1.56vw;
  color: #ecf0f8;
  line-height: 1.64vw;
  padding: 2vh 3vw;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid transparent;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .genre-list button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .genre-list button.selected {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid #979797;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channels-wrapper {
  padding: 3vh 2vw;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channels-wrapper .title {
  font-family: "freight-sans-book";
  font-size: 1.4vw;
  color: #eef1f9;
  letter-spacing: 0;
  line-height: 1.95vw;
  border-bottom: 1px solid #979797;
  padding: 1vh 0;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-list {
  list-style: none;
  margin: 0;
  padding: 2vh 0;
  height: 70vh;
  overflow: auto;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-list li {
  border: 0px solid transparent;
  position: relative;
  display: block;
  text-overflow: ellipsis;
  padding: 0;
  color: inherit;
  font-size: inherit;
  width: auto;
  height: auto;
  overflow: auto;
  white-space: normal;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-list li.focused .channel-card {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-list li.focused .channel-card .channel-number {
  color: #494237;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-list li.focused .channel-card .channel-name {
  color: #494237;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #979797;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vw;
  padding: 1vh 0;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-card .channel-number {
  font-family: "freight-sans-book";
  font-size: 2vw;
  color: #dddddd;
  letter-spacing: 0.07px;
  text-align: center;
  width: 15%;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-card .channel-image {
  background: url("../img/placeholder/live-tv.png") no-repeat center;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 10%;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-card .channel-image img {
  max-width: 100%;
  max-height: 100%;
  height: 4vw;
}

.livetv-search-wrapper .keyboard-channels-wrapper .channels-section .channel-card .channel-name {
  width: 75%;
  font-family: "freight-sans-book";
  font-size: 1.56vw;
  color: #dddddd;
  letter-spacing: 0.07px;
  padding-left: 3vw;
  word-spacing: 0.3vh;
}

.livetv-search-wrapper #av-player {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.livetv-search-wrapper .keyboard-section {
  padding: 0 3vw;
  width: 35vw;
}

.livetv-search-wrapper .keyboard-section .input-field input {
  background: none;
  border: 1px solid #979797;
  border-radius: 18px;
  font-family: "freight-sans-book";
  font-size: 1.56vw;
  color: #ffffff;
  letter-spacing: 0;
  padding: 2vh;
  width: 100%;
}

.livetv-search-wrapper .keyboard-section .keyboard-wrapper {
  padding: 3vh 0;
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
}

.livetv-search-wrapper .keyboard-section .key-row {
  text-align: center;
  padding: 0.1vh 0;
}

.livetv-search-wrapper .keyboard-section .key-row button {
  background: none;
  border: none;
  font-family: "freight-sans-book";
  font-size: 1.7vw;
  color: #ecf0f8;
  letter-spacing: 0;
  line-height: 1.7vw;
  width: 3.5vw;
  height: 3.5vw;
  padding: 0 1vw;
}

.livetv-search-wrapper .keyboard-section .key-row button.focused {
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.livetv-search-wrapper .keyboard-section .key-row.row-7 button {
  width: auto;
}

.livetv-search-wrapper .live-tv-no-data-title {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  margin-top: 20%;
}

.prayer-timing-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: linear-gradient(175deg, #252829e6 0%, #2d3235e6 54%, #050707b3 100%);
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

.prayer-timing-wrapper .timing-section {
  width: 100%;
}

.prayer-timing-wrapper .timing-section .title {
  font-family: "freight-sans-book";
  font-size: 3vw;
  color: #ecf0f8;
  letter-spacing: 0;
  margin: 0 0 0 4vw;
}

.prayer-timing-wrapper .timing-section .sub-title {
  font-family: "freight-sans-book";
  font-size: 1.2vw;
  color: #ecf0f8;
  letter-spacing: 0;
  margin: 0 0 4vw 4vw;
  word-spacing: 0.2vh;
}

.prayer-timing-wrapper .timing-section .prayer-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prayer-timing-wrapper .timing-section .prayer-card-list .time-card {
  background-image: #FFFFFF;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 30%;
  margin: 1vw;
}

.prayer-timing-wrapper .timing-section .prayer-card-list .time-card.active {
  background: #b7b3ad;
  border: 1px solid #ecf0f8;
}

.prayer-timing-wrapper .timing-section .prayer-card-list .time-card.active .active-text {
  color: #494237;
  visibility: visible;
}

.prayer-timing-wrapper .timing-section .prayer-card-list .time-card.active .title {
  color: #494237;
}

.prayer-timing-wrapper .timing-section .prayer-card-list .time-card.active .time {
  color: #494237;
}

.prayer-timing-wrapper .timing-section .card-wrapper {
  padding: 2vh 2vw;
}

.prayer-timing-wrapper .timing-section .card-wrapper .title {
  font-family: "freight-sans-book";
  font-size: 2.14vw;
  color: #ecf0f8;
  letter-spacing: 0;
  margin: 0;
}

.prayer-timing-wrapper .timing-section .card-wrapper .time {
  font-family: "freight-sans-book";
  font-size: 3vw;
  color: #ecf0f8;
  letter-spacing: 0;
}

.prayer-timing-wrapper .timing-section .card-wrapper .active-text {
  font-family: "freight-sans-book";
  font-size: 1.0vw;
  color: #ecf0f8;
  letter-spacing: 0;
  margin: 0;
  visibility: hidden;
}

.house-keeping-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: linear-gradient(175deg, #252829 0%, #2d3235 54%, #050707 100%);
  color: #ecf0f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

.house-keeping-wrapper section {
  max-width: 100%;
}

.house-keeping-wrapper .facility-type-section {
  padding-left: 3vw;
}

.house-keeping-wrapper .facility-type-section .facility-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3vh 2vw;
  max-width: 100%;
}

.house-keeping-wrapper .facility-type-section .facility-type-list button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2vw;
  color: #eef1f9;
  line-height: 2vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
  width: 100%;
  height: auto;
  word-spacing: 0.2vh;
}

.house-keeping-wrapper .facility-type-section .facility-type-list button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.house-keeping-wrapper .facility-type-section .facility-type-list button.selected {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid #979797;
}

.house-keeping-wrapper .facility-scroll-section .facility-scroll-list {
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  padding: 3vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.house-keeping-wrapper .facility-scroll-section .facility-scroll-list li {
  display: inline-table;
}

.house-keeping-wrapper .facility-scroll-section .facility-scroll-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.house-keeping-wrapper .facility-scroll-section .facility-scroll-list .image-card {
  border-radius: 20px;
  margin: 0 1vw;
  overflow: hidden;
  width: 40vw;
  background: url("../img/placeholder/live-tv.png") no-repeat center;
  background-size: cover;
  min-height: 40vh;
  max-height: 40vh;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

.house-keeping-wrapper .facility-scroll-section .facility-scroll-list .image-card img {
  width: 100%;
  height: auto;
}

.house-keeping-wrapper .facility-name-section {
  padding-bottom: 5vh;
}

.house-keeping-wrapper .facility-name-section .facility-name-list {
  list-style: none;
  margin: 0;
  padding: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house-keeping-wrapper .facility-name-section .facility-name-list::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.house-keeping-wrapper .facility-name-section .facility-name-list li {
  min-width: 18vw;
  max-width: 18vw;
  border-right: 1px solid #656464;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
  padding: 0 1vw;
}

.house-keeping-wrapper .facility-name-section .facility-name-list li:last-child {
  border: none;
}

.house-keeping-wrapper .facility-name-section .facility-name-list button {
  background: none;
  border: 1px solid transparent;
  outline: none;
  font-family: "freight-sans-book";
  font-size: 2vw;
  color: #eef1f9;
  line-height: 2vw;
  padding: 2vh 2vw;
  text-align: left;
  text-transform: uppercase;
  border-radius: 13px;
  width: 100%;
  height: auto;
  word-spacing: 0.2vh;
  word-wrap: break-word;
  height: 100%;
}

.house-keeping-wrapper .facility-name-section .facility-name-list button.focused {
  background-image: linear-gradient(163deg, rgba(49, 51, 51, 0.47) 48%, #313333 48%, #484f50 100%);
  border: 1px solid #979797;
  background: #b7b3ad !important;
  color: #494237 !important;
  font-weight: 600;
  border: 1px solid #979797 !important;
}

.house-keeping-wrapper .facility-name-section .facility-name-list button.selected {
  background: none;
  color: #eef1f9;
  font-weight: 600;
  border: 1px solid #979797;
  border: 1px solid #979797;
}

.house-keeping-wrapper .facility-name-section::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.loader-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
}

.loader-wrapper img {
  height: 10vw;
  width: 10vw;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader-wrapper embed {
  height: 10vw;
  width: 10vw;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */