@import "./custom.scss";

/* Global styles */
html,
body {
  background-color: #000;
  font-family: "freight-sans-book";
  font-size: 1vw;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
.nonotification
{
  text-align: center;
    /* vertical-align: middle; */
    /* line-height: 90px; */
    padding-top: 10vw;
    height: 70vh;
    font-size: 2vw;
}



.channelno
{
  background: #40474b;
    text-align: center;
    position: absolute;
    color: #fff;
    width: 2.5vw;
    border-top-left-radius: .4vw;
    border-bottom-right-radius: .4vw;
    font-size:1.5vw;
}
.notificationul{
  min-height:75vh;
  height:75vh;
  overflow: auto;
  padding-left:0vw;
}
.notificationul li{
  list-style-type: none;
  border-radius:0vw;
  width: 80%;
  border-bottom: .1vw solid #eee;
  margin-bottom: 1vw;
  padding: 1vw 1vw;
  font-size: 1.7vw;

}
.notificationul li.focused{
  border-radius: 1vw;
  border:solid .1vw #eee;
  background-image: linear-gradient(163deg, rgba(49,51,51,0.47) 48%, #313333 48%, #484F50 100%);
}
.smallp
{
  font-size:1vw;
  margin-bottom:0vw;
}
.ntitle
{
  margin-bottom:0vw;
}
.menu-icon
{
  list-style-type: none;
    padding-left: 0vw;
    position: relative;
    width: 5vw;
    // border: solid 1px #ccc;
    padding: 1vw;
}
.menuul
{
  padding-left:0vw;
  text-align:center;
  margin-bottom:0vw;
}
.menuul li img{
  width:2.5vw;
}
.menuul li.focused{
  background:#ccc;
}
.notificationcount
{
  position: absolute;
    right: 1.5vw;
    top: .8vw;
    text-align: center;
    width: 1vw;
}
.nimg
{
  width:100%;
  height:100%;
  border-radius: 1.5vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.note_popup
{
  background-image: linear-gradient(162deg, rgba(49,51,51,0.47) 0%, #484F50 74%) !important;
border: 1px solid #979797;
padding:0 !important;
border-radius: 1.5vw;
}
.notifytitle
{
  font-size: 3vw;
color: #ECF0F8;
letter-spacing: 0;
font-weight: 500;
}
.notifybody
{
  font-size: 2vw;
color: #CACCCF;
letter-spacing: 0;
font-weight: 500;
line-height: 2vw;
}
.closeicon{
  height: 3vw;
  background: #333;
  padding: 1vw;
  position: absolute;
  bottom: -4vw;
}
.closeicon.focused{
  border:solid .2vw #eee;
}
.notepopup
{
  background: rgba(54, 54, 54, 1) !important;
}
.restbtn
{
  @include button-style-2;
  background: #b7b3ad !important;
    color: #494237 !important;

}
// .stdbybtn.focused{
//   border: solid 1vw #f00;
// }
.ch-background
{
  position: fixed;
    right: 1vw;
    width: auto;
    top: 1vw;
    background: #000;
}
.chnname{
  // position: fixed;
   width: auto;
    color: #fff;
    font-size: 2vw;
    top: 1.5vw;
    display: none;
    /* position: fixed; */
    right: 1vw;
    float: left;
    padding: .5vw 1vw;
    
  
   
}
.chindicator
{
  position: fixed;
    right: 1vw;
    top: 1vw;
    width: 7vw;
    color: #fff;
    height: 4vw;
  
    text-align: center;
    border: solid 1px #eee;
    padding: 0vw;
    display:none;
}
.numch
{
  font-size:2.5vw
}

.chind
{
  float:left;
    right: 1vw;
    top: 1vw;
    width: 7vw;
    color: #fff;
    height: 4vw;
  
    text-align: center;
    border: solid 1px #eee;
    padding: 0vw;
    display:none;
}
.chnumb
{
  font-size:2.5vw
}

.chinvalid
{
  position: fixed;
    right: 1vw;
    top: 1vw;
    width: auto;
    color: #fff;
    height: auto;
    text-align: center;
    border: solid 1px #eee;
    padding: 0vw;
    display: none;
    padding: 1vw;
    z-index: 99;
    background: #000;
}
.invalid
{
  font-size:2vw;
  margin-bottom:0vw;

}
.tv-genre-button.active{
  border:solid 1px #b7b3ad;
}
.service-menu
{
  width:90vw;
}
.offers-wrapper .servicecontainer li .image-card
{
 height:36vh !important;
}
.servicecontainer
{
  width:100% !important;
  padding:2vw 0 !important;
}
.service-menu li{
  display: inline-block;
    list-style-type: none;
    color: #ecf0f8;
    padding: 1vw 2vw;
    margin-right: 1vw;
    font-size: 1.5vw;
    border-radius:.5vw;
}
.service-menu li.focused{
color:#fff;
background:#ecf0f8;
}

.restaurant-wrapper .cityguide-list li .image-card img
{
  width:100% !important;
  margin:0vw !important;
  border-radius:1vw;

}
.restaurant-wrapper .cityguide-list li .image-card .go-arrow
{
  bottom:7vh !important;
  height:auto !important;
  background:transparent !important;
}
.restaurant-wrapper .cityguide-list li .image-card
{
background:none !important;
box-shadow: 0px 0px 0px 0px #000 !important;
border-radius:0px !important;
}
.hide{
  display:none !important;
}
.genre-list li.focused{
  background:#f00;
}
.city-wrapper{
padding:0 0 0 10vw !important;
}
.city-wrapper .scroll-content-section
{
  max-height:60vw !important;
  min-height:56vw !important;
  width:40vw !important;
  align-items:initial !important;
}

.citydesc{
  color: #ecf0f8;
  padding: 2vh;
  padding-left: 4vh;
}
.city-back-button img
{
  width: 6vw;
  padding: 1vw;
  border: solid 1px transparent;
}
.city-back-button.focused img{
  border:solid 1px #ecf0f8;
}
.livetv-wrapper .genre-section .genre-list li.focused
{
  background: #b7b3ad !important;
    color: #ecf0f8 !important;
}
#ViewContainer{
  overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    
    padding: 0vw  0;
    padding-right:2vw;
    padding-top:1vw;
    width: 100%;
}

.ViewContainer{
  overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    
    padding: 0vw  0;
    padding-right:2vw;
    padding-top:1vw;
    width: 100%;
}
.livetv-wrapper .genre-section .genre-list li.focused button{
  color:#ecf0f8 !important;
  font-weight:600;
}
.main-wrapper {
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  height: 100vh;
  left: 0;
  padding: 0 0 0 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
}

.navMenuWrapper {
  .left-menu {
    background-image: linear-gradient(
      180deg,
      #292e30 0%,
      #40474b 57%,
      #101315 100%
    );
    box-shadow: 2px 1px 1px 0 rgba(0, 0, 0, 0.5);
    height: 100vh;
    opacity: 0.85;
    width: 10vw;
    padding: 2vh 0;
    font-family: $menuFontFamily;
    color: $menuInfoFontColor;
    z-index: 99;
    transition: width ease-in-out 0.25s;

    &.hidden {
      display: none !important;
    }

    &.expanded {
      width: 24vw;

      .default-hide {
        display: block;
      }

      .menu-list-wrapper .menu-list li button {
        padding: 0 3vw;
      }

      .room-number-section {
        padding: 0 3vw;
      }
    }

    .divider {
      background-image: linear-gradient(
        103deg,
        #363d3f 0%,
        #101213 49%,
        #33393c 100%
      );
      height: 0.3vh;
      width: 100%;
    }

    .room-number-section {
      padding: 0 2vw;
      .title {
        font-family: $menuFontFamily;
        font-size: 1.2vw;
        line-height: 1.32vw;
        margin-bottom: 0.2vh;
      }
      .room-number {
        font-size: 3vw;
        line-height: 3vw;
        font-family:"vanitas-black";
        margin-bottom:0vw;
      }
    }

    .menu-list-wrapper {
      max-height: 80vh;
      overflow-x: hidden;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
      }

      .menu-list {
        list-style: none;

        li {
          button {
            align-items: center;
            background: none;
            border: 2px solid transparent;
            display: flex;
            justify-content: flex-start;
            outline: none;
            white-space: nowrap;
            width: 100%;
            height: auto;
            padding: 0 3.5vw;
            transition: padding ease-in-out 0.25s;

            .icon {
              background: url(../img/icons/live_tv_icon.svg) no-repeat center;
              display: block;
              width: 2.5vw;
              height: 10vh;
              background-size: contain !important;
            }
            .menu-name {
              font-size: 1.6vw;
              color: $menuListFontColor;
              letter-spacing: 0;
              margin-left: 1vw;
              line-height: 10vh;
              word-spacing: 0.2vw;
            }

            &.focused {
              @include focus-style;
              border: 2px solid #979797;
              .menu-name {
                color: #494237;
              }
            }

            &.selected {
              @include active-style;
              border: 2px solid #979797;
            }
          }
        }
      }
    }

    .default-hide {
      display: none;
    }
  }
}

.content-nWelcome {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background: rgba(54, 54, 54, 0.8);
  /* height: auto; */
  height: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 999;
}
.nWelcome_popup {
  width: 80%;
  margin: 5.5% auto;
  background: transparent;
  padding: 3% 7%;
  text-align: CENTER;
  height: auto;
}
.udidpopup {
  width: 100%;
  margin: 0 auto;
}
.welcome_header {
  text-align: right;
  margin-bottom: 0vw;
}
.email_popup {
  width: 90%;
  margin: 12% auto;
  background: #FFF;
  text-align: center;
  height: 70vh;
  position: relative;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.email-popup-content {
  text-align: left;
  color: #494237;
}
.slno-btns {
  position: absolute;
  bottom: 3vw;
}
.view-bill-btns {
  margin-top: 12vw;
  text-align: center;
}
.view-bill-btns button {
  margin-right: 3vw;
  margin-bottom: -1vw;
}
.view-bill-btns button {
  margin-right: 7vw;
  outline: none;
  padding: 1vw 2vw!important;
  font-size: 1.5vw !important;
  color: #494237;
  letter-spacing: 0;
  text-align: center;
  line-height: 1.5vw !important;
  margin-bottom: 20px;
  background: none;
  border: 0.1vw solid;
  text-transform: uppercase;
  height: auto;
}
.serial_number_popup_content input {
  border: solid 0.1vw #494237;
  line-height: 4vw;
  color: #494237 !important;
  background: transparent !important;
  padding: 0 1vw;
}
.email-popup-content input {
  border: none;
  border-bottom: 0.1vw solid #ccc;
  width: 100%;
  font-size: 1.5vw;
  color: #6B6B6B !important;
  letter-spacing: 0;
  text-align: left;
  font-weight: 400;
  line-height: 2vw;
  padding-left: 0vw;
  margin-top: 1vw;
}
.new-kb-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 5% 5%;
}
.new-kb-style .new-key-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.new-kb-style .row-1 .new-key-btn {
  width: 30%;
}
.new-kb-style .new-key-btn {
  width: 24%;
}
.new-kb-style .new-key-btn button {
  width: 100%;
  background: transparent;
  border: none;
  color: #494237;
  font-size: 1.5vw;
  outline: none;
}
.new-kb-style .new-key-btn button.focused {
  -webkit-box-shadow: 0px 0px 6px 4px #7e7e7e;
  box-shadow: 0px 0px 6px 4px #7e7e7e;
}
.email-popup-content input.focused {
  background: #494237 !important;
  color: #fff !important;
}
.serial_number_popup_content input {
  border: solid 0.1vw #494237;
  line-height: 4vw;
  color: #494237 !important;
  background: transparent !important;
  padding: 0 1vw;
}
.popup-code {
  max-height: 100px;
  overflow: auto;
}
.banner_search_type.focused {
  background: #494237 !important;
  color: #fff;
  padding: 3px;
}
.banner_search_type {
  color: #494237;
}
.welcome-screen-wrapper {
  @include component-wrapper;
  justify-content: space-around !important;
  padding: 0 5vw 0 9vw !important;

  &.hidden {
    animation-name: slideLeft;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .logo-section {
    .logo-wrapper {
      max-width: 15vw;
      img {
        max-width: 100%;
      }
    }
  }
  .message-section {
    .hi-name {
      font-family: "vanitas-bold";
      font-size: 5.5vw;
      margin: 0;
    }

    .welcome-message {
      font-family: "freight-sans-book";
      font-size: 1.87vw;
      letter-spacing: 0.1vw;
    }
  }
  .language-section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .language-selection-wrapper {
      .title {
        color: #c2c2c2;
        font-family: "freight-sans-book";
        font-size: 1.2vw;
        margin: 0;
      }
      .language-selection {
        align-items: center;
        display: flex;
        .selected-language {
          color: #ffffff;
          font-family: "freight-sans-book";
          font-size: 1.8vw;
          margin: 0;
        }
        button {
          background: none;
          border: none;
          height: auto;
          outline: none;
          width: 45px;
          padding: 5px !important;

          &.left {
            margin-left: 3vw;
          }
          &.language-left {
            margin-left: 3vw;
          }
          &:disabled {
            opacity: 0.6;
          }

          &.focused {
            @include focus-style;
          }
        }
      }
    }
    .arrow-section {
      button {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        height: auto;
        width: auto;

        img {
          max-height: 100%;
          width: 10vw;
        }
      }
    }
  }
  .top-info {
    position: absolute;
    right: 3vw;
    top: 1vh;
  
    p {
      font-family: $weatherInfoFontFamily;
      font-size: 1.6vw;
      color: #ecf0f8;
      letter-spacing: 0.09px;
  
      span {
        &.weather {
          font-size: 2.6vw;
          position: relative;
          top: 0.5vh;
          border-left: 1px solid #595959;
          padding-left: 10px;
        }
      }
    }
  }
  .udid-popup {
    display: none;
    .popup {
      align-items: center;
      background: rgba(42, 46, 48, 0.8);
      display: flex;
      height: 100vh;
      justify-content: center;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
  
      .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-image: linear-gradient(
          179deg,
          rgba(49, 51, 51, 0.78) 0%,
          #262828 21%,
          #404343 100%
        );
        border: 1px solid rgba(255, 245, 245, 0.44);
        box-shadow: 11px 39px 39px 0 rgba(0, 0, 0, 0.50);
        border-radius: 20px;
        padding: 5vh 3vw;
        position: relative;
      }
    }
  }
  .error-popup {
    display: none;
    .popup {
      align-items: center;
      background: rgba(42, 46, 48, 0.8);
      display: flex;
      height: 100vh;
      justify-content: center;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 999;
  
      .popup-wrapper {
        background-image: linear-gradient(
          179deg,
          rgba(49, 51, 51, 0.47) 0%,
          #313333 21%,
          #484f50 100%
        );
        border: 1px solid rgba(255, 245, 245, 0.44);
        box-shadow: 11px 39px 39px 0 rgba(0, 0, 0, 0.50);
        border-radius: 20px;
        padding: 5vh 6vw;
        position: relative;
  
        p {
          font-family: "freight-sans-book";
          font-size: 1vw;
          color: #ecf0f8;
          letter-spacing: 0;
          text-align: center;
          margin-bottom: 5vh;
        }
  
        .button-group {
          text-align: center;
          button {
            background: none;
            outline: none;
            font-family: "freight-sans-book";
            font-size: 0.85vw;
            color: #ecf0f8;
            line-height: 0.93vw;
            padding: 1vh 2vw;
            text-align: left;
            text-transform: uppercase;
            border: 1px solid #c2c2c2;
            border-radius: 8px;
            height: auto;
            width: auto;
            margin: 0 1vw;
            &.focused {
              @include focus-style;
            }
          }
        }
      }
    }
  }
  .form-section {
    width: 25vw;
    .title {
      font-family: "vanitas-bold";
      font-size: 2vw;
      color: #c2c2c2;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 5vh;
    }
  
    .form-input {
      margin: 4vh 0;
  
      input {
        background: none;
        border: 0px solid transparent;
        border-bottom: 1px solid #c2c2c2;
        position: relative;
        display: block;
        text-overflow: ellipsis;
        padding: 0;
        height: auto;
        width: 100%;
        overflow: auto;
        white-space: normal;
        font-family: "freight-sans-book";
        font-size: 1.8vw;
        color: #c2c2c2;
        letter-spacing: 0;
  
        &::placeholder {
          opacity: 0.9;
        }
  
        &:focus {
          outline: none;
        }
  
        &.focused {
          background-image: linear-gradient(
            163deg,
            rgba(49, 51, 51, 0.47) 48%,
            #313333 48%,
            #484f50 100%
          );
          color: #c2c2c2;
          @include focus-style;
        }
  
        &.selected {
          background-image: linear-gradient(
            163deg,
            rgba(49, 51, 51, 0.47) 48%,
            #313333 48%,
            #484f50 100%
          );
          color: #c2c2c2;
        }
      }
    }
  
    .form-dropdown {
      display: flex;
      .label {
        font-family: "freight-sans-book";
        font-size: 1.5vw;
        color: #c2c2c2;
      }
      .hotel-list-wrapper {
        width: 60%;
        max-height: 15vh;
        overflow: auto;
        border: 1px solid #4f4f4f;
        margin-left: 2vw;
  
        &::-webkit-scrollbar {
          @include hide-scrollbar;
        }
  
        .hotel-list {
          list-style: none;
          padding: 0;
          li {
            font-family: "freight-sans-book";
            font-size: 1.2vw;
            color: #c2c2c2;
            padding: 0.5vh;
  
            &.focused {
              background-image: linear-gradient(
                163deg,
                rgba(49, 51, 51, 0.47) 48%,
                #313333 48%,
                #484f50 100%
              );
              @include focus-style;
            }
            &.selected {
              @include active-style;
            }
          }
        }
      }
    }
  
    .button-group {
      margin: 1vh 0;
      text-align: center;
  
      button {
        background-color: transparent;
        outline: none;
        font-family: "freight-sans-book";
        font-size: 1.5vw;
        color: #ecf0f8;
        padding: 0.5vh 2vw;
        text-align: left;
        text-transform: uppercase;
        margin: 2vh;
        background-image: linear-gradient(
            163deg,
            rgba(49, 51, 51, 0.47) 48%,
            #313333 48%,
            #484f50 100%
          );
  
       border: 1px solid #6d6c6c;
  
        &.focused {
          @include focus-style;
        }
      }
    }
  }
}
.welcome-screen-wrapper
{
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  color:#ecf0f8;
}
hr {
  border-top: 1px solid #ecf0f8 !important;
}

.error-screen {
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 999;

  .message {
    position: relative;
    top: 40%;
    left: 0%;
    color: #ecf0f8;
    font-family: "freight-sans-book";
    font-size: 3vw;
  }
}

.version {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
}

.home-wrapper {
  align-items: flex-start;
  color: #ecf0f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  left: 0;
  padding: 0 0 2vh 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;

  background-image: url('../img/Address downtown landing.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  section {
    max-width: 100%;
  }

  .bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .top-info {
    position: absolute;
    right: 3vw;
    top: 1vh;

    p {
      font-family: "vanitas-black";
      font-size: 1.6vw;
      color: $weatherInfoFontColor;
      letter-spacing: 0.09px;

      span {
        &.weather {
          font-size: 2.6vw;
          position: relative;
          top: 0.5vh;
          border-left: 1px solid #595959;
          padding-left: 10px;
        }
      }
    }

    &.hidden {
      display: none !important;
    }
  }

  .qr-section {
    position: fixed;
    top: 3vw;
    left: 13vw;
    .qr-wrapper {
      width: 10vw;
      height: 10vw;
      overflow: hidden;
      img {
        max-width: 100%;
        border-radius: 1.5vw;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
      }
    }
  }

  .home-scroll-section {
    .home-scroll-list {
      list-style: none;
      margin: 0;
      padding: 5vh 0;
      display: flex;
      max-width: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
      }

      .card-home {
        transform: translateY(0px);
        transition: transform 0.5s;
        &.focused {
          transform: translateY(-20px);
        }
      }

      .image-card {
        border-radius: 20px;
        margin: 0 0.5vw;
        overflow: hidden;
        width: 26vw;
        height: 25vh;
        background: url(../img/placeholder/home.png) no-repeat
          center;
        background-size: cover;
        position: relative;
        img {
          max-width: 100%;
          height: auto;
        }
      }

      .image-text {
        background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 19%,
          rgba(0, 0, 0, 0.64) 100%
        );
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2vh 4vh;
        width: 100%;
        .name {
          font-family: "freight-sans-book";
          font-size: 1.71vw;
          color: #ffffff;
          letter-spacing: 0;
          line-height: 1.87vw;
        }
        .desc {
          font-family: "freight-sans-book";
          font-size: 0.93vw;
          color: #ffffff;
          letter-spacing: 0;
          line-height: 1.2vw;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
      }
    }
  }
}

.livetv-wrapper {
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  height: 100vh;
  left: 0;
  padding: 0 0 0 0vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;

  section {
    position: fixed;
  }

  .video-section {
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    background: url("../img/live-tv.jpg") no-repeat center;
    background-size: cover;
    display: none;
  }

  .search-section {
    display: none;
    top: 2vh;
    left: 12vw;
    button {
      background: none;
      border: 0px solid transparent;
      position: relative;
      display: block;
      text-overflow: ellipsis;
      padding: 0;
      color: inherit;
      font-size: inherit;
      width: 5vw;
      overflow: hidden;

      &.focused {
        background-image: linear-gradient(
          163deg,
          rgba(49, 51, 51, 0.47) 48%,
          #313333 48%,
          #484f50 100%
        );
        border: 1px solid #979797;
        @include focus-style;
      }

      img {
        width: 100%;
      }
    }
  }

  .genre-section {
    top: 10vh;
    left: 12vw;
    background-image: linear-gradient(
      163deg,
      rgba(49, 51, 51, 0.47) 48%,
      #313333 48%,
      #484f50 100%
    );
    display: inline-block;
    max-width: 100%;

    .genre-list {
      @include list-style;
      display: flex;
      max-width: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
       @include hide-scrollbar;
      }

      li {
        font-family: "freight-sans-book";
        letter-spacing: 0;
        position: relative;
        min-width: 15vw;

        &:first-child {
          min-width: 7vw;
          
          button {
            padding: 2vh 2vw;
            min-width: 7vw;
          }
        }

        button {
          font-size: 1.6vw;
          color: #ecf0f8;
          line-height: 1.4vw;
          background: none;
          border: 1px solid transparent;
          border-right: 1px solid #656464;
          position: relative;
          display: block;
          text-align: left;
          text-overflow: unset;
          text-transform: uppercase;
          padding: 3vh 2vw;
          min-width: 15vw;
          height: 11vh;
          overflow: hidden;

          &.focused {
            background-image: linear-gradient(
              163deg,
              rgba(49, 51, 51, 0.47) 48%,
              #313333 48%,
              #484f50 100%
            );
            border: 1px solid #979797;
            @include focus-style;
          }
  
          &.active {
            @include active-style;
          }

          img {
            max-height: 100%;
            width: 3vw;
          }
        }

        &:last-child {
          button {
            border-right: 1px solid transparent;
            &.active{
              border-right: 1px solid;
            }
          }
        }
      }
    }
  }

  .channels-section {
    top: 21vh;
    left: 10vw;
    padding: 2vh 2vw 2vh 0;
    max-width: 92vw;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }
    
    .genre-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-bottom: 10vh;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
      }
    }

    .channel-wrapper {
      overflow: auto;
      .title {
        font-family: "freight-sans-book";
        font-size: 1.8vw;
        color: #ffffff;
        letter-spacing: 0.09px;
        padding-left: 2vw;
        margin: 0;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
      }
      .arrow-section {
        padding: 2vh;
        min-width: 88vw;
        position: fixed;
        bottom: 2vh;
      }
    }

    .channel-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 4vh 0;
      max-width: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
      }

      li {
        flex: 1 1 auto;
        margin: 1vw;
        background: none;
        border: 0px solid transparent;
        position: relative;
        display: block;
        text-overflow: ellipsis;
        padding: 0;
        color: inherit;
        font-size: inherit;
        min-width: 15vw;
        max-width: 15vw;
        height: 9vw;
        // box-shadow: 1px 4px 14px 0px #0b0a0a;
        transform: translateY(0px);
        transition: transform 0.5s ease-in-out;

        &:first-child {
          margin-left: 1vw;
        }
        
        .channel-card {
          // background: url("../img/placeholder/live-tv.png")
          //   no-repeat center;
          // background-size: cover;
          background:#eee;
          border-radius: 10px;
          height: 16vh;
          width: 100%;
          overflow: hidden;
          text-align: center;

          &.loaded {
            background: #fff;
          }

          // img {
          //   width: auto;
          //   height: 100%;
          //   padding: 4% 0;
          // }

          img {
            width: 100%;
            height: 100%;
            padding: 0;
          }

          .name-overlay {
            height: auto;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            text-align: center;
            position: absolute;
            top: 100%;
            padding: 1vh 0 0 0;
            z-index: -1;
            margin: 0;
            transition: visibility 0s, opacity 1s linear;
          }

          p.channel-name {
            color: #ffffff;
            font-size: 1.4vw;
            word-spacing: 0.2vh;
            margin: 0;
          }
        }

        &.focused {
          transform: translateY(-20px);
          .channel-card .name-overlay {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  #av-player {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 105;
  }
}

.hotelinfo-wrapper {
  align-items: flex-start;
  // background-image: linear-gradient(
  //   175deg,
  //   #252829e6 0%,
  //   #2d3235e6 54%,
  //   #050707b3 100%
  // );
  color: #ecf0f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  left: 0;
  padding: 0 0 0 22vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;

  section {
    max-width: 100%;
  }

  .background-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;

    .carousel-wrapper {
      display: flex;
      height: 100vh;
      width: 100vw;
      overflow: hidden;

      .item {
        min-width: 100vw;
        min-height: 100vh;
        overflow: hidden;
        background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
        background-size: cover;
        background-repeat: no-repeat;
        img {
          width: 100%;
          height: auto;
        }
      }

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
      }
    }
  }

  .scroll-content-section {

    align-items: center;
    background-image: linear-gradient(
      180deg,
      rgba(41, 44, 46, 0.75) 33%,
      rgba(36, 40, 42, 0.75) 100%
    );
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
    display: flex;
    min-height: 46vw;
    max-height: 46vw;
    padding: 3vw;
    width: 45vw;
    flex-direction: column;
    justify-content: space-around;
    position:relative;
    z-index: 2;
    overflow: hidden;

    .wrapper {
      .title {
        font-family: "vanitas-black";
        font-size: 3vw;
        color: #ecf0f8;
        letter-spacing: 0;
        text-transform: uppercase;
      }

      .contact-details {
        p {
          font-family: "freight-sans-book";
          font-size: 1.2vw;
          color: #ecf0f8;
          letter-spacing: 1px;
          line-height: 1.2vw;
        }
      }

      .description {
        font-family: "freight-sans-book";
        font-size: 1.2vw;
        color: #ecf0f8;
        letter-spacing: 0;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 20;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }
    }

    .arrow-wrapper {
      text-align: center;
      button {
        background: none;
        border: 1px solid transparent;
        outline: none;
        font-family: "freight-sans-book";
        font-size: 0.78vw;
        color: #eef1f9;
        line-height: 0.78vw;
        padding: 2vh 2vw;
        text-align: left;
        text-transform: uppercase;
        border-radius: 13px;
        width: auto;
        height: auto;

        &.focused {
          background-image: linear-gradient(
            163deg,
            rgba(49, 51, 51, 0.47) 48%,
            #313333 48%,
            #484f50 100%
          );
          border: 1px solid #979797;
          @include focus-style;
        }


        img {
          height: auto;
          width: 45px;
        }
      }
    }

    .dot-wrapper {
      padding: 1vh 0;
      .dot {
        background: #828282;
        border-radius: 50%;
        display: inline-block;
        margin: 0 5px;
        height: 5px;
        width: 5px;
        &.active {
          background: #ecf0f8;
          height: 6px;
          width: 6px;
        }
      }
    }
  }

  .amenities-name-section {
    z-index: 2;
    .amenities-name-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      max-width: 100%;
      overflow: auto;
      align-items: center;
      //max-width: 100%;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
        background: transparent;
      }

      li {
        min-width: 18vw;
        max-width: 18vw;
        border: 1px solid transparent;
        border-right: 1px solid #656464;
        padding: 0 1vw;
        flex: 1 2 auto;

        &:last-child {
          border: none;
        }

        &.focused { 
          button{
            @include focus-style;
           }  
        }
        &.active {
          button{
            @include active-style;
           } 
        }
      }

      button {
        min-height: 6vw;
        @include button-style-1;
      }
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }
  }
}

.offers-wrapper {
  align-items: flex-start;
  background-image: linear-gradient(
    175deg,
    #252829e6 0%,
    #2d3235e6 54%,
    #050707b3 100%
  );
  color: #ecf0f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 10vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;

  section {
    max-width: 100%;
  }

  .offer-type-section {
    .offer-type-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      max-width: 100%;
      overflow: auto;

      button {
        background: none;
        border: 1px solid transparent;
        outline: none;
        font-family: "freight-sans-book";
        font-size: 2.8vw;
        color: #eef1f9;
        line-height: 2.8vw;
        padding: 2vh 2vw;
        text-align: left;
        text-transform: uppercase;
        border-radius: 13px;

        &.focused {
          @include active-style;
          border: 1px solid rgba(187, 145, 145, 0.46);
        }
      }
    }
  }

  .offer-list-wrapper {
    padding: 2vh 0;
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      @include hide-scrollbar;
    }
  }

  .offer-list {
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 5vh 0;
    display: flex;

    li {
      border: 0px solid transparent;
      display: inline-table;
      padding: 0px;
      transform: translateY(0px);
      transition: transform 0.5s;
      border-radius: 18px;
      padding: 5vh 0;
      
      &:last-child {
        .image-card {
          margin-right: 2vw;
        }
      }

      &.focused {
        transform: translateY(-30px);

        .image-card {
          .go-arrow {
            display: block;
          }
        }

        .button-wrapper {
          button {
            background-image: linear-gradient(
              163deg,
              rgba(49, 51, 51, 0.47) 48%,
              #313333 48%,
              #484f50 100%
            );
            border: 1px solid #979797;
          }
        }
      }

      .image-card {
        height: 40vh;
        width: 30vw;
        position: relative;
        border-radius: 18px;
        overflow: hidden;
        margin: 0 1vw;
        background: url('../img/placeholder/offer.png') no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);

        .go-arrow {
          position: absolute;
          bottom: 4vh;
          right: 3vh;
          width: 4vw;
          display: none;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .offer-name-section {
    padding: 0 0 3vh 3vw;
    .offer-name-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      //max-width: 100%;
      overflow: auto;
      align-items: center;
      //max-width: 100%;
      padding: 1vh 0;
      &::-webkit-scrollbar {
        width: 0;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        outline: 1px solid transparent;
      }

      li {
        border-right: 1px solid #656464;
        //display: inline-table;
        padding: 0 1vw;
        min-width: 18vw;
        max-width: 18vw;
        &:last-child {
          border: none;
        }
      }

      button {
        @include button-style-1;
        color: #ecf0f8;   
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      outline: 1px solid transparent;
    }
  }
  
  .offers-card-title {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0.84) 100%
    );
    font-family: "vanitas-black";
    font-size: 2vw;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 2vw;
    position: absolute;
    bottom: -2px;
    left: 0;
    padding: 8vh 12vh 4vh 4vh;
    width: 100%;
  }
  .offer {
    font-family: "freight-sans-book";
    font-size: 1.5vw;
    color: #ecf0f8;
    letter-spacing: 0;
  }
}

.offer-details-wrapper {
  align-items: flex-start;
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  color: #ecf0f8;
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 100;

  .left-section {
    width: 60vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 0 5vw;
    .back-arrow-wrapper {
      position: absolute;
      left: 2vw;
      top: 4vh;
      button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 4vw;
        padding: 1vh;
        img{
          width: 100%;
        }
        &.focused{
          background-image: linear-gradient(
            163deg,
            rgba(49, 51, 51, 0.47) 48%,
            #313333 48%,
            #484f50 100%
          );
          border: 1px solid #979797;
        }
      }
    }
  }
  section {
    max-width: 100%;
  }

  .offer-type-section {
    .offer-type-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      max-width: 100%;
      overflow: auto;

      button {
        background: none;
        border: 1px solid transparent;
        outline: none;
        font-family: "freight-sans-book";
        font-size: 2.8vw;
        color: #eef1f9;
        line-height: 2.8vw;
        padding: 2vh 2vw;
        text-align: left;
        text-transform: uppercase;
        border-radius: 13px;

        &.focused {
          @include active-style;
          border: 1px solid rgba(187, 145, 145, 0.46);
        }
      }
    }
  }

  .left-section {
    width: 60vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 0 5vw;
    .back-arrow-wrapper {
      position: absolute;
      left: 2vw;
      top: 4vh;
      button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 4vw;
        padding: 1vh;
        img{
          width: 100%;
        }
        &.focused{
          background-image: none;
          border: 1px solid #979797;
        }
      }
    }
  }
  .banner-section {
    height: 100vh;
    width: 40vw;
    .banner {
      background-image: url('../img/placeholder/city-guide.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
  }

  .container-fluid {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    // background-image: linear-gradient(180deg, rgba(32,32,32,0.51) 0%, #0E0E0E 40%);
  }
  
  .overlay {
    position: relative; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .offerType.selected
  {
    background:#ecf0f8 !important;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // background-color: #f1f1f1;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 10px;
  }
  .title {
    font-family: "vanitas-black";
    font-size: 3vw;
    color: #ecf0f8;
    letter-spacing: 0.09px;
    line-height: 3.1vw;
  }
  .description {
    font-family: "freight-sans-book";
    font-size: 1.3vw;
    color: #ecf0f8;
    letter-spacing: 0.06px;
    word-spacing: 0.2vh;
  }
  .det {
    font-family: "freight-sans-book";
    font-size: 1.3vw;
    color: #ecf0f8;
    letter-spacing: 1px;
    line-height: 1.3vw;
    img {
      height: 17px;
    }
  }
  
  .left-arrow.focused {
    background-image: linear-gradient(
      163deg,
      rgba(49, 51, 51, 0.47) 48%,
      #313333 48%,
      #484f50 100%
    );
    border: 1px solid #979797;
    border-radius: 18px;
  }
  
  .spacing {
    padding-right: 20px;
  }
}

.cityguide-wrapper {
  align-items: flex-start;
  background-image: linear-gradient(
    175deg,
    #252829e6 0%,
    #2d3235e6 54%,
    #050707b3 100%
  );
  color: #ecf0f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 10vw;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;

  section {
    max-width: 100%;
  }

  .cityguide-type-section {
    .cityguide-type-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      max-width: 100%;
      overflow: auto;

      button {
        background: none;
        border: 1px solid transparent;
        outline: none;
        font-family: "freight-sans-book";
        font-size: 2.8vw;
        color: #eef1f9;
        line-height: 2.8vw;
        padding: 2vh 2vw;
        text-align: left;
        text-transform: uppercase;
        border-radius: 13px;

        &.focused {
          @include active-style;
          border: 1px solid rgba(187, 145, 145, 0.46);
        }
      }
    }
  }

  .cityguide-list-wrapper {
    padding: 2vh 0;
    width: 100vw;
    overflow: auto;

    &::-webkit-scrollbar {
      @include hide-scrollbar;
    }
  }

  .cityguide-list {
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 5vh 0;
    display: flex;

    li {
      border: 0px solid transparent;
      display: inline-table;
      padding: 0px;
      transform: translateY(0px);
      transition: transform 0.5s;
      border-radius: 18px;
      height:80vh;

      &:last-child {
        .image-card {
          margin-right: 2vw;
        }
      }

      &.focused {
        transform: translateY(-30px);

        .image-card {
          .go-arrow {
            display: block;
          }
        }

        .button-wrapper {
          button {
            background-image: linear-gradient(
              163deg,
              rgba(49, 51, 51, 0.47) 48%,
              #313333 48%,
              #484f50 100%
            );
            border: 1px solid #979797;
          }
        }
      }

      .image-card {
        height: 100%;
        width: 30vw;
        position: relative;
        border-radius: 18px;
        overflow: hidden;
        margin: 0 1vw;
        background: url(../img/placeholder/home.png) no-repeat center;
        background-size: cover;
        box-shadow: 5px 7px 12px #000;

        .go-arrow {
          position: absolute;
          background: rgba(0,0,0,0.7);  
          height:16vw;
          bottom: 0vh;
          right: 0vh;
          width: 100%;
          display: none;
        }

        img {
          width: 3vw;
          height: auto;
          margin:1vw;
          //float:right;
        }
      }
    }
  }

  .cityguide-name-section {
    padding: 0 0 3vh 3vw;
    .cityguide-name-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      //max-width: 100%;
      overflow: auto;
      align-items: center;
      //max-width: 100%;
      padding: 1vh 0;
      &::-webkit-scrollbar {
        width: 0;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        outline: 1px solid transparent;
      }

      li {
        border-right: 1px solid #656464;
        //display: inline-table;
        padding: 0 1vw;
        min-width: 18vw;
        max-width: 18vw;
        &:last-child {
          border: none;
        }
      }

      button {
        @include button-style-1;
        color: #ecf0f8;  
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      outline: 1px solid transparent;
    }
  }
  .cityguideType.selected{
    background:#ecf0f8 !important;
  }
  .cityguide-card-title {
    // background-image: linear-gradient(
    //   180deg,
    //   rgba(0, 0, 0, 0) 1%,
    //   rgba(0, 0, 0, 0.84) 100%
    // );
    //background: #b7b3ad;
   // height: 16vw;
    font-family: "freight-sans-book";
    font-size: 2.5vw;
    color: #ecf0f8;
    letter-spacing: 0;
    line-height: 2.5vw;
   // position: absolute;
    //bottom: -2px;
    left: 0;
    padding: 1vh;
    width: 100%;
  }
  .cityguide {
    font-family: "freight-sans-book";
    font-size: 1.5vw;
    color: #ecf0f8;
    letter-spacing: 0;
  }
}

.cityguide-details-wrapper {
  align-items: flex-start;
  // background-image: linear-gradient(
  //   175deg,
  //   #252829 0%,
  //   #2d3235 54%,
  //   #050707 100%
  // );
  background:#fff;
  color: #ecf0f8;
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 100;

  .left-section {
    width: 60vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 0 5vw;
    .back-arrow-wrapper {
      position: absolute;
      left: 2vw;
      top: 4vh;
      button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 4vw;
        padding: 1vh;
        img{
          width: 100%;
        }
        &.focused{
          background-image: linear-gradient(
            163deg,
            rgba(49, 51, 51, 0.47) 48%,
            #313333 48%,
            #484f50 100%
          );
          border: 1px solid #979797;
        }
      }
    }
  }
  section {
    max-width: 100%;
  }

  .cityguide-type-section {
    .cityguide-type-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      max-width: 100%;
      overflow: auto;

      button {
        background: none;
        border: 1px solid transparent;
        outline: none;
        font-family: "freight-sans-book";
        font-size: 2.8vw;
        color: #eef1f9;
        line-height: 2.8vw;
        padding: 2vh 2vw;
        text-align: left;
        text-transform: uppercase;
        border-radius: 13px;

        &.focused {
          @include active-style;
          border: 1px solid rgba(187, 145, 145, 0.46);
        }
      }
    }
  }

  .left-section {
    width: 60vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
    padding: 0 5vw;
    .back-arrow-wrapper {
      position: absolute;
      left: 2vw;
      top: 4vh;
      button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 4vw;
        padding: 1vh;
        img{
          width: 100%;
        }
        &.focused{
          background-image: none;
          border: 1px solid #979797;
        }
      }
    }
  }
  .banner-section {
    height: 100vh;
    width: 40vw;
    .banner {
      background-image: url('../img/placeholder/city-guide.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
  }

  .container-fluid {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    // background-image: linear-gradient(180deg, rgba(32,32,32,0.51) 0%, #0E0E0E 40%);
  }
  
  .overlay {
    position: relative; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .offerType.selected
  {
    background:#ecf0f8 !important;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // background-color: #f1f1f1;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 10px;
  }
  .title {
    font-family: "freight-sans-book";
    font-size: 3vw;
    color: #ecf0f8;
    letter-spacing: 0.09px;
    line-height: 3.1vw;
  }
  .description {
    font-family: "freight-sans-book";
    font-size: 1.3vw;
    color: #ecf0f8;
    letter-spacing: 0.06px;
    word-spacing: 0.2vh;
  }
  .det {
    font-family: "freight-sans-book";
    font-size: 1.3vw;
    color: #ecf0f8;
    letter-spacing: 1px;
    line-height: 1.3vw;
    img {
      height: 17px;
    }
  }
  
  .left-arrow.focused {
    background-image: linear-gradient(
      163deg,
      rgba(49, 51, 51, 0.47) 48%,
      #313333 48%,
      #484f50 100%
    );
    border: 1px solid #979797;
    border-radius: 18px;
  }
  
  .spacing {
    padding-right: 20px;
  }
}
.keyboard-section {
  padding: 0 3vw;
  width: 35vw;

  .keyboard-wrapper {
    padding: 3vh 0;
    background-image: linear-gradient(
      163deg,
      rgba(49, 51, 51, 0.47) 48%,
      #313333 48%,
      #484f50 100%
    );
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
  }

  .key-row {
    text-align: center;
    padding: 0.1vh 0;
    button {
      background: none;
      border: none;
      font-family: "freight-sans-book";
      font-size: 1.7vw;
      color: #ecf0f8;
      letter-spacing: 0;
      line-height: 1.7vw;
      width: 3.5vw;
      height: 3.5vw;
      padding: 0 1vw;

      &.focused {
        @include focus-style;
      }
    }

    &.row-7 {
      button {
        width: auto;
      }
    }
  }
}

.livetv-search-wrapper {
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  color: #ecf0f8;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 104;

  .page-title {
    display: block;
    padding: 3vh 3vw;
    p {
      font-family: "freight-sans-book";
      font-size: 1.95vw;
      color: #ecf0f8;
      letter-spacing: 0.85px;
      line-height: 1.95vw;
      margin: 0;
    }
  }

  .keyboard-channels-wrapper {
    display: flex;
    .channels-section {
      width: 65vw;
      height: 100vh;
      overflow: hidden;
      .genre-menu {
        max-width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
          display: none;
          width: 0;
          background: transparent;
        }
      }

      .genre-list {
        // background-image: linear-gradient(163deg, rgba(49,51,51,0.47) 48%, #313333 48%, #484F50 100%);
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
          border-right: 1px solid #979797;
          display: inline-table;
        }

        button {
          background: none;
          outline: none;
          font-family: "freight-sans-book";
          font-size: 1.56vw;
          color: #ecf0f8;
          line-height: 1.64vw;
          padding: 2vh 3vw;
          text-align: left;
          text-transform: uppercase;
          border: 1px solid transparent;
          height: auto;
          width: auto;
          white-space: nowrap;

          &.focused {
            background-image: linear-gradient(
              163deg,
              rgba(49, 51, 51, 0.47) 48%,
              #313333 48%,
              #484f50 100%
            );
            border: 1px solid #979797;
            @include focus-style;
          }

          &.selected {
            @include active-style;
            border: 1px solid #979797;
          }
        }
      }

      .channels-wrapper {
        padding: 3vh 2vw;
        .title {
          font-family: "freight-sans-book";
          font-size: 1.4vw;
          color: #eef1f9;
          letter-spacing: 0;
          line-height: 1.95vw;
          border-bottom: 1px solid #979797;
          padding: 1vh 0;
        }
      }

      .channel-list {
        list-style: none;
        margin: 0;
        padding: 2vh 0;
        height: 70vh;
        overflow: auto;

        &::-webkit-scrollbar {
          display: none;
          width: 0;
          background: transparent;
        }

        li {
          border: 0px solid transparent;
          position: relative;
          display: block;
          text-overflow: ellipsis;
          padding: 0;
          color: inherit;
          font-size: inherit;
          width: auto;
          height: auto;
          overflow: auto;
          white-space: normal;

          &.focused {
            .channel-card {
              @include focus-style;

              .channel-number {
                color: #494237;
              }

              .channel-name {
                color: #494237;
              }

            }
          }
        }
      }

      .channel-card {
        align-items: center;
        border-bottom: 1px solid #979797;
        display: flex;
        height: 5vw;
        padding: 1vh 0;
        .channel-number {
          font-family: "freight-sans-book";
          font-size: 2vw;
          color: #dddddd;
          letter-spacing: 0.07px;
          text-align: center;
          width: 15%;
        }
        .channel-image {
          background: url("../img/placeholder/live-tv.png")
            no-repeat center;
          background-size: cover;
          text-align: center;
          height: 100%;
          width: 10%;
          img {
            max-width: 100%;
            max-height: 100%;
            height: 4vw;
          }
        }
        .channel-name {
          width: 75%;
          font-family: "freight-sans-book";
          font-size: 1.56vw;
          color: #dddddd;
          letter-spacing: 0.07px;
          padding-left: 3vw;
          word-spacing: 0.3vh;
        }
      }
    }
  }

  #av-player {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .keyboard-section {
    padding: 0 3vw;
    width: 35vw;
    .input-field {
      input {
        background: none;
        border: 1px solid #979797;
        border-radius: 18px;
        font-family: "freight-sans-book";
        font-size: 1.56vw;
        color: #ffffff;
        letter-spacing: 0;
        padding: 2vh;
        width: 100%;
      }
    }
  
    .keyboard-wrapper {
      padding: 3vh 0;
      background-image: linear-gradient(
        163deg,
        rgba(49, 51, 51, 0.47) 48%,
        #313333 48%,
        #484f50 100%
      );
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
    }
  
    .key-row {
      text-align: center;
      padding: 0.1vh 0;
      button {
        background: none;
        border: none;
        font-family: "freight-sans-book";
        font-size: 1.7vw;
        color: #ecf0f8;
        letter-spacing: 0;
        line-height: 1.7vw;
        width: 3.5vw;
        height: 3.5vw;
        padding: 0 1vw;
  
        &.focused {
          @include focus-style;
        }
      }
  
      &.row-7 {
        button {
          width: auto;
        }
      }
    }
  }
  .live-tv-no-data-title{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    margin-top: 20%;
  }

}

.prayer-timing-wrapper {
  align-items: flex-start;
  background-image: linear-gradient(175deg, #252829e6 0%, #2d3235e6 54%, #050707b3 100%);
color: #ecf0f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;

  .timing-section {
    width: 100%;

    .title {
      font-family: "freight-sans-book";
font-size: 3vw;
color: #ecf0f8;
letter-spacing: 0;
margin: 0 0 0 4vw;
    }

    .sub-title {
      font-family: "freight-sans-book";
      font-size: 1.2vw;
      color: #ecf0f8;
      letter-spacing: 0;
      margin: 0 0 4vw 4vw;
      word-spacing: 0.2vh;
    }

    .prayer-card-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      .time-card {
        background-image: #FFFFFF;
        box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        width: 30%;
        margin: 1vw;

        &.active {
          background: #b7b3ad;
          border: 1px solid #ecf0f8;

          .active-text {
            color: #494237;
            visibility: visible;
          }
          .title {
            color: #494237;
            }
            .time {
            color: #494237;
            }
        }
      }
    }

    .card-wrapper {
      padding: 2vh 2vw;

      .title {
        font-family: "freight-sans-book";
        font-size: 2.14vw;
        color: #ecf0f8;
        letter-spacing: 0;
        margin: 0;
      }

      .time {
        font-family: "freight-sans-book";
        font-size: 3vw;
        color: #ecf0f8;
        letter-spacing: 0;
      }

      .active-text {
        font-family: "freight-sans-book";
        font-size: 1.0vw;
        color: #ecf0f8;
        letter-spacing: 0;
        margin: 0;
        visibility: hidden;
      }
    }
  }
}

.house-keeping-wrapper {
  align-items: flex-start;
  background-image: linear-gradient(
    175deg,
    #252829 0%,
    #2d3235 54%,
    #050707 100%
  );
  color: #ecf0f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  justify-content: space-evenly;
  left: 0;
  padding: 0 0 0 12vw;
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;

  section {
    max-width: 100%;
  }

  .facility-type-section {
    padding-left: 3vw;
    .facility-type-list {
      @include list-style;
      display: flex;
      padding: 3vh 2vw;
      max-width: 100%;

      button {
        @include button-style-1;
      }
    }
  }

  .facility-scroll-section {
    .facility-scroll-list {
      @include list-style;
      padding: 3vh 0;
      display: flex;
      max-width: 100%;
      overflow: auto;

      li {
        display: inline-table;
      }

      &::-webkit-scrollbar {
        @include hide-scrollbar;
      }

      .image-card {
        border-radius: 20px;
        margin: 0 1vw;
        overflow: hidden;
        width: 40vw;
        background:url('../img/placeholder/live-tv.png') no-repeat center;
        background-size: cover;
        min-height: 40vh;
        max-height: 40vh;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .facility-name-section {
    padding-bottom: 5vh;
    .facility-name-list {
      list-style: none;
      margin: 0;
      padding: 1vh 0;
      display: flex;
      //max-width: 100%;
      overflow: auto;
      align-items: center;
      //max-width: 100%;

      &::-webkit-scrollbar {
        @include hide-scrollbar;
      }

      li {        
        min-width: 18vw;
        max-width: 18vw;
        border-right: 1px solid #656464;
        flex: 1 2 auto;
        padding: 0 1vw;

        &:last-child {
          border: none;
        }
      }

      button {
        @include button-style-1;
        word-wrap: break-word;
        height: 100%;
      }
    }

    &::-webkit-scrollbar {
      @include hide-scrollbar;
    }
  }
}

.loader-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  img {
    height: 10vw;
    width: 10vw;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  embed {
    height: 10vw;
    width: 10vw;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


