﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hudini Tv | LGTV</title>
    <base href="#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="icon.png">
    <!-- CSS -->
    <LINK rel="stylesheet" type="text/css" href="lib/caph/3.0.1/caph.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>

    <link rel="stylesheet" type="text/css" href="css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- Common widget API -->
    <!-- <script type='text/javascript' language='javascript' src='$MANAGER_WIDGET/Common/API/Widget.js'></script>
    <script type='text/javascript' language='javascript' src='$MANAGER_WIDGET/Common/API/TVKeyValue.js'></script>
    <script type='text/javascript' language='javascript' src='$MANAGER_WIDGET/Common/API/Plugin.js'></script>
    <script type="text/javascript" src="$MANAGER_WIDGET/Common/webapi/1.0/webapis.js"></script> -->
    <!-- Caph Library -->
    <!-- <script type="text/javascript">
        var widgetAPI = new Common.API.Widget();
        var tvKeyOrsay = new Common.API.TVKeyValue();
        var pluginObj = new Common.API.Plugin();

        function onLoad() {
            widgetAPI.sendReadyEvent();
            document.getElementById("anchor").focus();

            pluginObj.unregistKey(tvKeyOrsay.KEY_VOL_UP);
            pluginObj.unregistKey(tvKeyOrsay.KEY_VOL_DOWN);
            pluginObj.unregistKey(tvKeyOrsay.KEY_MUTE);
        }
    </script> -->
</head>
<body ng-app="app" style='visibility: hidden;'>
    <div ng-view ></div>
    <div ng-if="isNavMenuRequired">
    <div ng-controller="navMenuController" class="navMenuWrapper">
        <section class="left-menu">
            <div class="room-number-section">
                <p class="title"> Room No </p>
                <p class="room-number"> {{roomNumber}} </p>
                <ul class="menuul">
                    <li focusable data-focusable-group="menu-item" data-focusable-depth="0" data-focusable-name="notification" class="menu-icon" on-selected="notificationselect()">
                        <img src="img/icons/nottification_icon_active.svg" />
                        <p class="notificationcount">{{notifycount}}</span>
                    </li>
                </ul>
            </div>
            <div class="divider"></div>
            <div class="menu-list-wrapper text-center my-3">
                <ul class="menu-list pl-0" >
                    <li ng-repeat="tile in landingTiles">
                        <button id="{{'tile' + $index}}" class="menu-button">
                            <span focusable data-focusable-group="menu-item" data-focusable-depth="0" data-focusable-next-focus-left="null" ng-attr-data-icon="{{tile.iconUrl}}" ng-attr-data-active-icon="{{tile.iconUrlActive}}" ng-attr-data-focusable-next-focus-up="{{($index != 0) ? '' : 'notification'}}" title="{{tile.title}}" ng-attr-data-focusable-name="{{'menu-item-' + tile.id}}" ng-style="{ background: 'url({{ tile.iconUrl }}) no-repeat center' }" class="icon" on-selected="onMenuSelected($event)" on-focused="onMenuFocus($event)"></span>
                            <span class="default-hide menu-name">{{tile.title}}</span>
                        </button>
                    </li>
                  
                </ul>
            </div>
           
        </section>
    </div>
</div>
    <div ng-include='"Views/layout.html"'></div>
    <!-- JAVAscriptS -->
    <script src="js/jquery-2.2.3.min.js"></script>

    <script src="lib/caph/3.0.1/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="lib/caph/3.0.1/caph-angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script data-require="angular-translate@*" data-semver="2.5.0" src="js/angular-translate.js"></script>
    <script src="js/angular-router.min.js"></script>
    <script src="js/jquery.signalR.min.js"></script>
    <!--<script src="http://192.168.0.153:1018/signalr/hubs"></script>-->
    <!-- HoudiniDeviceHub -->
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/jquery.qrcode.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/hcap.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-messaging.js"></script>
    <script>
    hcap.property.setProperty({
        "key" : "boot_sequence_option", 
        "value" : "1", 
        "onSuccess" : function() {
            console.log("onSuccess");
        }, 
        "onFailure" : function(f) {
            console.log("onFailure : errorMessage = " + f.errorMessage);
        }
    });

    hcap.property.setProperty({
        "key": "tv_channel_attribute_floating_ui",
        "value": "0",
        "onSuccess": function () {
            console.log("onSuccess");
        },
        "onFailure": function (f) {
            console.log("onFailure : errorMessage = " + f.errorMessage);
        }
    });
    hcap.property.setProperty({
      key: "display_resolution",
      value: "1920x1080",
      onSuccess: function () {
        console.log("onSuccess");
      },
      onFailure: function (f) {
        console.log("Failure : errorMessage = " + f.errorMessage);
      },
    });
    hcap.property.setProperty({
       "key" : "instant_power", 
       "value" : "2", 
       "onSuccess" : function() {
           console.log("onSuccess");
           hcap.power.setPowerMode({
            "mode" : hcap.power.PowerMode.NORMAL,
            "onSuccess" : function() {
                console.log('Success');
            },
           "onFailure" : function(f) {
                console.log("onFailure : errorMessage = " + f.errorMessage);
             
            }
           
       });
       
       }, 
       "onFailure" : function(f) {
           console.log("onFailure : errorMessage = " + f.errorMessage);
           $('#stdby').html("onFailure : errorMessage = " + f.errorMessage)
       }
  });
  

    hcap.key.addKeyItem({
        "keycode" : 0,
        "virtualKeycode" : hcap.key.Code.BACK,
        "attribute" : 2,
        "onSuccess" : function() {
            console.log("onSuccess");
        }, 
        "onFailure" : function(f) {
            console.log("onFailure : errorMessage = " + f.errorMessage);
        }
    });
    </script>
    <script src="/lib/animejs/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
    <!-- map script -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtm7_xGQrOBbL6zEoFAOCRp0MfF-NFzTI" async></script>
    <script src="app.js"></script>
     <script src="https://internalapi-emaar.hudini.io/signalr/hubs"></script> 
    <!-- controllers -->
    <script src="Controller/headerController.js"></script>
    <script src="Controller/layoutController.js"></script>
    <script src="Controller/notificationController.js"></script>
    <script src="Controller/landingController.js"></script>
    <script src="Controller/navMenuController.js"></script>
    <script src="Controller/homeController.js"></script>
    <script src="Controller/liveTvController.js"></script>
    <script src="Controller/liveTvSearchController.js"></script>
    <script src="Controller/hotelinfoController.js"></script>
    <script src="Controller/offersController.js"></script>
    <script src="Controller/offerDetailsController.js"></script>
    <script src="Controller/cityguideController.js"></script>
    <script src="Controller/cityguideDetailController.js"></script>
    <script src="Controller/RestaurantController.js"></script>
    <script src="Controller/restaurantdetailsController.js"></script>
    <script src="Controller/ServicerequestController.js"></script>
    <script src="Controller/prayertimeController.js"></script>
    <script src="Controller/spaController.js"></script>
    <script src="Controller/treatmentController.js"></script> 
    <!-- services -->
    <script src="Services/liveTvService.js"></script>
    <script src="Services/configService.js"></script>
    <script src="Services/GlobalService.js"></script>
    <script src="Services/landingService.js"></script>
    <script src="Services/navMenuService.js"></script>
    <script src="Services/homeService.js"></script>
    <script src="Services/hotelinfoService.js"></script>
    <script src="Services/offersService.js"></script>
    <script src="Services/cityguideService.js"></script>
    <script src="Services/apiService.js"></script>
    <script src="Services/restaurantService.js"></script>
    <script src="Services/servicerequestService.js"></script>
    <script src="Services/prayertimeService.js"></script>
    <script src="Services/spaService.js"></script>
    <script src="Services/treatmentService.js"></script>
</body>
</html>