<div class="cityguide-wrapper" style="margin-left:10vw;padding:0">
    <section class="cityguide-scroll-section">
        <div class="cityguide-list-wrapper">
            <ul class="cityguide-list" id='ViewContainer' style="padding:10vh 0;width:92%">
                <li ng-repeat="type in allcityguide" id="{{type.Id}}" class="focusable-cityguide cityguide{{i}} page"
                    data-focusable-group="cityguide" data-focusable-next-focus-down="{{'offer-name-'+ randomId+'0'}}" data-focusable-next-focus-right="{{'offer-item-'+ randomId + ($index+1)}}" data-focusable-next-focus-left="{{$index!=0?'offer-item-'+ randomId + ($index-1):'menu-item-5'}}" data-focusable-name="{{'offer-item-'+ randomId + $index}}" data-focusable-next-focus-up="null" on-focused="offerlifocus($event)" on-selected="cityguideSelected($event)" focusable>
                    <div class="image-card"   ng-style="{'background-image':'url({{imgURL+'/Image/CityGuide/'+type.Images[0].ImageName}}), url(img/placeholder/city-guide.png)'}" style="width:28vw;">
                                             
                        <div class="go-arrow">
                            <img src="img/icons/arrow-default.svg">
                            <div class="cityguide-card-title">{{type.Title}}</div>
                            <p class="citydesc" style="font-size:1.3vw">{{type.Overview}}</p>
                           
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- <section class="offer-name-section">
        <ul class="offer-name-list">
            <li ng-repeat="type in offersTypes">
                <button focusable data-focusable-group="offertypes" data-focusable-next-focus-up="group:offer" data-focusable-next-focus-down="null"
                data-focusable-name="{{'offer-name-'+ randomId + $index}}" class="offer offerType" id="{{type}}" title="{{type}}" [attr.data-focusable-next-focus-left]="$index!=0?'offer-name-'+ randomId+ ($index-1):'menu-item-7'" on-selected="offerTypeSelected($event)">{{type}}</button>
            </li>
        </ul>
    </section> -->
</div>