<div class="hotelinfo-wrapper city-wrapper" ng-repeat="type in data">
    <section class="background-slider" style="left:50%;">
        <div class="carousel-wrapper">
            <div class="item">
                <img src="{{image}}" style="height:100vh;width:auto">
            </div>
        </div>
    </section>
    <section class="scroll-content-section" style="background-image: none;background:#222">
        <div class="back-arrow-wrapper">
            <div class="back-button city-back-button" id="citybackbutton" data-focusable-name="city-back-button" data-focusable-next-focus-up="null" data-focusable-next-focus-down="leftarrow" focusable on-selected="backButtonClicked()"><img src="img/icons/back_arrow_icon.svg"></div>
        </div>
        <div class="wrapper" >
            <p class="title" id="citytitle">{{type.Title}}</p>
           
           
            <hr>
            <p class="description" id="citydesc">
                {{type.Overview}}
            </p>
            <p> 
                <img class="icon-color" style="width:1.2vw"  src="img/icons/placeholder.svg" alt="icon">
           {{type.Address}} </p>
        </div>
        <div class="arrow-wrapper" ng-if="citydata   && citydata.length>1">
            <button class="left-arrow"  id="leftarrowefocus" focusable data-focusable-name="leftarrow"  data-focusable-next-focus-up="city-back-button" ng-attr-data-focusable-group="'togglebutton'+randomId " on-selected="leftArrowSelected($event)"> 
                <img src="img/icons/left-arrow.svg" alt="left">
            </button>
            <button class="right-arrow"  id="rightarrowefocus" focusable data-fo data-focusable-next-focus-right="null"  data-focusable-next-focus-up="city-back-button" ng-attr-data-focusable-group="'togglebutton'+randomId " on-selected="rightArrowSelected($event)"> 
                <img src="img/icons/right-arrow.svg" alt="right">
            </button>
            <!-- <div class="dot-wrapper">
                <span class="dot" ng-class="{'active': $index==0}" ng-repeat="item in data"></span>
            </div> -->
        </div>
    </section>
   
</div>