<!-- sample header -->
<!-- <div  ng-controller="headerController"></div>
<div class="row">
  <div class="column" style="background-color: white;">
    <h2>24 F</h2>
    <p>12:45pm</p>
  </div>
  <div class="column" style="background-color:white;">
    <h2>Hi Amit</h2>
   
  </div>
  <div class="column" style="background-color:white;">
    <h2>Room No.</h2>
    <p>0202</p>
  </div>
</div> -->
<!-- <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
<style>
    .volume-control {
        position: fixed;
        /* margin: 20vw auto; */
        opacity: 0.72;
        background: #000;
        /* border: 3px solid #0F1B2A; */
        border-radius: 0;
        z-index: 999999999;
        margin-left: -2vw;
        margin-top: 10vw;
    }

    .mute-control {
        position: fixed;
        /* margin: 20vw auto; */
        opacity: 0.72;
        background: #000;
        /* border: 3px solid #0F1B2A; */
        border-radius: 0;
        z-index: 999999999;
        margin-left: -2vw;
        margin-top: 20vw;
    }

    .vol {
        margin: 6% auto;
        padding: 0vw 3vw;
    }

    .progresses {
        width: 100%;
        height: .2vw;
        border: 1px solid black;
        background: linear-gradient(to right, #fff 10%, #00A7B5 0%);
    }

    .vol-left {
        width: 15%;
        float: left;
        margin-top: 2vw;
    }

    .vol-right {
        float: left;
        padding-left: 1vw;
        text-align: center;
    }

    .vol-count {
        padding-top: 2vw;
        color: #00A7B5;
        font-size: 5vw;
        padding-bottom: 1vw;
        border-bottom: solid 2px #fff;
        /* border-top: solid 1px #fff; */
        padding-bottom: 3vw;
        clear: both;
    }

    .mute-icon {
        padding-top: 2vw;
        color: #fff;
        font-size: 5vw;
        padding-bottom: 1vw;
        /* border-top: solid 1px #fff; */
        padding-bottom: 3vw;
        clear: both;
    }

    .dec-vol {
        color: #00A7B5;
        font-size: 3vw;
        padding-bottom: 2vw;
        border-bottom: solid 0px #fff;
        opacity: .3;
        clear: both;
    }

    .inc-vol {
        color: #00A7B5;
        font-size: 3vw;
        padding-bottom: 1vw;
        border-bottom: solid 2px #fff;
        margin-bottom: 3vw;
        opacity: .3;
    }

    .speaker {
        color: #fff;
        font-family: 'Helvetica';
        font-size: 1.5vw;
    }
</style>

<div ng-controller="headerController" class="row">
    <object id="pluginObjectTVMWS" border=0 classid="clsid:SAMSUNG-INFOLINK-TVMW" style="display:none"></object>
    <object id="pluginVol" border=0 classid="clsid:SAMSUNG-INFOLINK-SEF" style="height:0px;display:block"></object>

    <div class="volume-control hide">
        <div class="vol">

            <div class="vol-right">
                <p class="inc-vol vol-count">91</p>

                <p class="vol-count">90 </p>
                <p class="dec-vol vol-count">89</p>



            </div>
        </div>
    </div>
    <div class="mute-control hide">
        <div class="vol">

            <div class="vol-right">
                <p class="mute-icon">Mute</p>
                <!--<div class="mute-icon"><img src="img/mute.png" /></div>-->


            </div>
        </div>
    </div>
    <div class="header_part ">
      
        <ul>
            <li class="rightOftitle " style="width:29vw !important;padding-left:3.2vw">
                <div class="roomnumber_class floated-position" style="width:10vw">

                    <div class="roomNo">
                        <!-- <label focusable on-selected="changeIp()">Room No. </label> -->
                        <label class="room">{{'RoomNo' | translate}} </label>
                        <div class="number roomno">{{roomDetail.RoomNumber}}</div>
                    </div>

                </div>
                <div class="roomnumber_class floated-position">
                   
                    <div class="md-top" id="viewbill" tabindex="1"  ng-focus="mapFocus($event)" ng-blur="mapBlur($event)" ng-enter="viewbill()">
                        <div class="md-img">
                            <img src="img/view_bill_inactivee.png">
                        </div>
                        <div class="md-detail">
                            {{'BILL' | translate}}
                        </div>
                    </div>
                    <div class="md-top" id="castScreen" tabindex="1" ng-focus="openLanguages($event)" ng-blur="mapBlur($event)" ng-enter="castpopup()">
                        <div class="md-img">
                            <img src="img/screen-cast.png">
                        </div>
                        <div class="md-detail ">

                            {{'CAST' | translate}}
                        </div>
                    </div>
                    <div class="md-top" id="language" tabindex="1" ng-focus="openLanguages($event)" ng-blur="mapBlur($event)" ng-enter="openLanguages($event)">
                        <div class="md-img">
                            <img src="{{LanguageImage}}" class="languageimg">
                            <div class="language-select hide">
                                <ul class="langul">
                                    <li id="lan{{$index}}" tabindex="1" ng-repeat="item in Languages" ng-class="{'lnglast':$last}" ng-focus="languageFocus($event)" ng-blur="languageBlur($event)" ng-enter="lanChange('{{item.LanguageCode}}')" class="lang{{item.LanguageCode}} text-center language welcome">
                                        <img style="width: 2vw;height: 2vw;" src="{{item.Images[0].ImageUrl}}">
                                        <!--<h4 style="float:left;padding-left:1vw;margin-top:0vw;text-transform:uppercase">{{item.LanguageCode}}</h4>-->
                                    </li>
                                    <!--<li id="lan0" tabindex="1">English</li>
                                    <li id="lan1" tabindex="1">Arabicc</li>-->
                                </ul>
                            </div>
                        </div>
                        <!-- <label focusable on-focused="mapFocus($event)" on-blurred="mapBlur($event)" on-selected="languageChange('en-IN')">en</label>
                        <label focusable on-focused="mapFocus($event)" on-blurred="mapBlur($event)" on-selected="languageChange('fr-FR')">fr</label>
                        <label focusable on-focused="mapFocus($event)" on-blurred="mapBlur($event)" on-selected="languageChange('ar-AE')">ar</label> -->

                        <div class="md-detail">
                            {{LanguageCode}}
                        </div>
                    </div>
                    

                </div>

                <!-- <div id="google_translate_element"></div> -->
                <!-- <script>
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                                pageLanguage: 'en'
                            },
                            'google_translate_element'
                        );
                    }
                </script> -->
            </li>

            <li class="nameOftitle " style="width:39vw !important;">
                <div class="guestname">{{guestInfo.Title}} {{guestInfo.FirstName}} {{guestInfo.LastName}}</div>
            </li>
            <li class="ptop2p" style="width:29vw !important;padding-right:3.2vw">
                
                <div class="deg_class temp pull-right">
                    <p class="tempcity">{{tempcity}}</p>
                    
                    {{temperature}}
               
                </div>
                <div class="date_time">
                    <div class="times ">{{ clock | date:'hh:mm a'}}</div>
                    <div class="times">{{CurrentDate | date:'dd MMM yyyy'}}</div>
                </div>

            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- welcome popup -->
    <div class="content-nWelcome common_popup" id="welcomePopup" style="display: none;">
        <div class="nWelcome_popup" style="margin:12.5vw auto;margin-top:12.5vw;">
            <div class="welcome_header">
                <img src="img/logo.png">
            </div>
            <div class="welcome_desc">
                <h3>{{'dear'|translate}} {{guestInfo.Title}} {{guestInfo.FirstName}} {{guestInfo.LastName}},</h3>
                <p style="width: 75%;">{{'Thank you for choosing to stay with us'|translate}}. {{'Please do not hesitate to contact us should you need any assistance. We wish you a brilliant stay with us !'|translate}}</p>
               
                <!--<p class="plr0">Thank you for choosing to stay at {{hoteName}}.<br> Please do not hesitate to contact us should you need any assistance. We wish you a brilliant stay with us !</p>-->
            </div>
            <div class="welcome_footer">
                <div class="select_language left_bx">
                    <h3>{{'select language'|translate}}</h3>
                    <ul class="lng">
                        <li id="language{{$index}}" tabindex="1" ng-repeat="item in Languages" ng-class="{'lnglast':$last}"   ng-focus="languageFocus($event)" ng-blur="languageBlur($event)" ng-enter="languageChange('{{item.LanguageCode}}')" class="lang{{item.LanguageCode}} language welcome">
                            <img style="width: 2.5vw;height: 2.5vw;" src="{{item.Images[0].ImageUrl}}">
                            <!--<h4>{{item.LanguageCode}}</h4>-->
                        </li>
                    </ul>
                </div>
                <div class="btn_continue">
                    <button id="btnContinueHeader"  tabindex="1" ng-focus="focus($event)" ng-blur="blur($event)" ng-enter="btnContinueHeaderSelect()">{{'OK'|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- welcome popup end -->
    <!-- error popup -->
    <div class="content-nWelcome common_popup" id="ErrorPopup" style="z-index: 555 !important; display: none;background: rgba(0, 0, 0, 1) !important;">
        <div class="nWelcome_popup">
            <div class="welcome_header">
                <img style="width: 20%;" src="img/logo.png">
            </div>
            <div class="welcome_desc">
                <h3>Could not get any response</h3>
                <p>The server couldn't send a response:</p>
            </div>
            <!-- <div class="welcome_footer">
                <div class="select_language left_bx">
                    <h3>select language</h3>
                    <ul>
                    <li id="language{{$index}}" data-focusable-depth="50" ng-repeat="item in Languages" focusable on-focused="languageFocus($event)" on-blurred="languageBlur($event)" on-selected="languageChange('{{item.LanguageCode}}')">
                        <img src="{{item.Images[0].ImageUrl}}">
                        <h4>{{item.LanguageName}}</h4>
                    </li>
                    </ul>

                </div>
            <div class="btn_continue">
                <button id="btnContinueHeader" data-focusable-depth="50" focusable on-focused="focus($event)" on-blurred="blur($event)" on-selected="btnContinueHeaderSelect()">continue</button>
            </div>
            </div> -->
        </div>
    </div>
    <!-- error popup end -->
    <div class="content-feedback-single common_popup" id="castpopup" style="display: none;z-index:555">
        <div class="email_popup" style="width:50%;margin:19% auto;padding-bottom:0vw;height:auto;border-radius:1vw">

            <div class="email-popup-content" style="text-align:center;padding:5%">
                <h4> Apple TV/Chromecast, please ask/contact the front desk</h4>
               
            </div>

            <div class="view-bill-btns">
                <button tabindex="1" ng-focus="focusButtoncast($event)" ng-enter="castscreen()" id="btncastok" ng-blur="blurButtoncast($event)">ok</button>
                <button tabindex="1" ng-focus="focusButtoncast($event)" ng-enter="btnCancelcast()" id="btncastcancel" ng-blur="blurButtoncast($event)">{{'Cancel'|translate}}</button>
            </div>
        </div>

    </div>
    <div class="content-nWelcome common_popup" id="udidpopup" style="z-index: 555 !important; display: none;background: rgba(0, 0, 0, 1) !important;">
        <div class="nWelcome_popup udidpopup" style="width:100%;margin-top:0vw">
            <div class="welcome_header" style="text-align:center">
                <img style="width: 15vw;" src="img/logo.png">
            </div>
            <div class="email_popup" style="margin:1% auto">

                <div class="email-popup-content serial_number_popup_content" style="width:100%;padding:5vw;padding-top:0vw;height:67vh">
                    <div style="width:90%">
                        <div style="width:100%; padding-right:3vw">
                            <h3 style="color:#f4f4f4">{{'Serial Number:' | translate}}</h3>
                            <input id="srlno" tabindex="1" class="slno" type="text" value="{{udid}}">
                        </div>
                        <div style="width:50%;float:left;padding-right:3vw">
                            <h3 style="color:#f4f4f4">{{'Room No:' | translate}}</h3>
                            <input tabindex="1"  id="txtrmno" class="slno input" ng-focus="focusButton($event)" ng-enter="openKeyboard('txtrmno')" ng-blur="blurButton($event)" type="text" placeholder="Type room number Here" autocomplete="off">
                            <span class="roomnum_error error error_msg"></span>
                        </div>

                        <div style="width:50%;float:left;padding-right:3vw">
                            <h3 style="color:#f4f4f4">Device Name</h3>
                            <input id="txtdevicename" tabindex="1"    class="slno input" ng-focus="focusButton($event)" ng-enter="openKeyboard('txtdevicename')" ng-blur="blurButton($event)" type="text" placeholder="Type Devicename Here" autocomplete="off">
                            <span class="roomnum_error error error_msg"></span>
                        </div>

                        <div style="width:50%;float:left;padding-right:3vw">
                            <h3 style="color:#f4f4f4">{{'Hotel Code:' | translate}}</h3>
                            <input type="text"   class="search slno input" id="searchid" tabindex="1"  ng-focus="focusButton($event)" ng-blur="blurButton($event)" ng-enter="getshows()" value="" placeholder="Select hotel code" autocomplete="off">
                            <div id="hresult" style="display:none;"></div>

                            <div id="drope_box" style="display:none;" class="popup-code">
                                <div class="banner_search_type" ng-repeat="item in hotelscode" id="hotel{{$index}}" tabindex="1"  ng-focus="focusButton($event)" ng-blur="blurButton($event)" ng-enter="selecthotel('{{item.HotelId}}','{{item.HotelCode}}')">
                                    {{item.HotelCode}}
                                </div>

                            </div>
                        </div>
                        <div style="width:50%;float:left;padding-right:3vw">
                            <h3 style="color:#f4f4f4">Bouquet Code</h3>
                            <input type="text"  class="search slno input"  id="bouquetsearchid" tabindex="1"  ng-focus="focusButton($event)" ng-blur="blurButton($event)" ng-enter="getbouquetshows()" value="" placeholder="Select Bouquet" autocomplete="off">
                            <div id="bresult" style="display:none;"></div>

                            <div id="bouquetdrope_box" style="display:none;height:10vw;overflow-y:auto" class="popup-code">
                                <div class="banner_search_type" ng-repeat="item in bouquetcode" id="bouquet{{$index}}" tabindex="1" ng-focus="focusButton($event)" ng-blur="blurButton($event)" ng-enter="selectbouquet('{{item.ZoneCode}}','{{item.ZoneName}}')">
                                    {{item.ZoneName}}
                                </div>

                            </div>
                        </div>


                    </div>


                </div>
                <div class="view-bill-btns slno-btns">
                    <button tabindex="1"  ng-focus="focusButton($event)" ng-enter="btnregisterDevice()" id="btnSend" ng-blur="blurButton($event)">Submit</button>
                    <!--<button tabindex="1" ng-focus="focus($event)" ng-enter="btnCancelEmail()" id="btnEmailCancel" ng-blur="blur($event)">{{'Cancel'|translate}}</button>-->
                </div>

            </div>
            <!-- <div class="welcome_footer">
                <div class="select_language left_bx">
                    <h3>select language</h3>
                    <ul>
                    <li id="language{{$index}}" data-focusable-depth="50" ng-repeat="item in Languages" focusable on-focused="languageFocus($event)" on-blurred="languageBlur($event)" on-selected="languageChange('{{item.LanguageCode}}')">
                        <img src="{{item.Images[0].ImageUrl}}">
                        <h4>{{item.LanguageName}}</h4>
                    </li>
                    </ul>

                </div>
            <div class="btn_continue">
                <button id="btnContinueHeader" data-focusable-depth="50" focusable on-focused="focus($event)" on-blurred="blur($event)" on-selected="btnContinueHeaderSelect()">continue</button>
            </div>
            </div> -->


        </div>
        <div class="keyboard" id="keyboard" style="display: none;">
            <div class="kb-style ">
                <div class="key-row first">

                    <button id="btn0"
                            class="kb-key key-btn"
                            tabindex="1"
                           
                            ng-enter="keySelected('btn0')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        0
                    </button>


                    <button id="btn1"
                            class="kb-key key-btn"
                            tabindex="1"
                           
                            ng-enter="keySelected('btn1')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        1
                    </button>


                    <button id="btn2"
                            tabindex="1"
                            
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn2')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        2
                    </button>


                    <button id="btn3"
                            tabindex="1"
                            
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn3')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        3
                    </button>


                    <button id="btn4"
                            tabindex="1"
                           
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn4')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        4
                    </button>

                    <button id="btn5"
                            tabindex="1"
                          
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn5')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        5
                    </button>

                    <button id="btn6"
                            tabindex="1"
                            
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn6')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        6
                    </button>

                    <button id="btn7"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn7')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        7
                    </button>

                    <button id="btn8"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn8')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        8
                    </button>

                    <button id="btn9"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn9')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        9
                    </button>

                </div>
                <div class="key-row second">

                    <button id="btn_q"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_q')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        q
                    </button>

                    <button id="btn_w"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_w')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        w
                    </button>

                    <button id="btn_e"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_e')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        e
                    </button>

                    <button id="btn_r"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_r')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        r
                    </button>

                    <button id="btn_t"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_t')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        t
                    </button>

                    <button id="btn_y"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_y')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        y
                    </button>

                    <button id="btn_u"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_u')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        u
                    </button>

                    <button id="btn_i"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_i')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        i
                    </button>

                    <button id="btn_o"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_o')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        o
                    </button>

                    <button id="btn_p"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_p')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        p
                    </button>

                    <button class="action-back kb-key"
                            id="btn_removeText"
                            tabindex="1"
                            ng-enter="removekeySelected()"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <span>x</span>
                    </button>

                </div>
                <div class="key-row third">

                    <button id="btn_a"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_a')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        a
                    </button>

                    <button id="btn_s"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_s')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        s
                    </button>

                    <button id="btn_d"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_d')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        d
                    </button>

                    <button id="btn_f"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_f')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        f
                    </button>

                    <button id="btn_g"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_g')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        g
                    </button>

                    <button id="btn_h"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_h')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        h
                    </button>

                    <button id="btn_j"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_j')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        j
                    </button>

                    <button id="btn_k"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_k')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        k
                    </button>

                    <button id="btn_l"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_l')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        l
                    </button>


                    <button class="action-go kb-key key-btn btn-go"
                            id="btn_go"
                            tabindex="1"
                            ng-enter="btnGoSelected()"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <span>Go</span>
                    </button>


                </div>
                <div class="key-row fourth">

                    <button class="action-back kb-key key-btn"
                            id="btn_upArrow"
                            tabindex="1"
                            ng-enter="upArrowkeySelected()"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <i class="arrow up"></i>
                    </button>

                    <button id="btn_z"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_z')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        z
                    </button>

                    <button id="btn_x"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_x')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        x
                    </button>

                    <button id="btn_c"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_c')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        c
                    </button>

                    <button id="btn_v"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_v')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        v
                    </button>

                    <button id="btn_b"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_b')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        b
                    </button>

                    <button id="btn_n"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_n')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        n
                    </button>

                    <button id="btn_m"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_m')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        m
                    </button>

                    <button id="btn_exclamation"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_exclamation')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        !
                    </button>

                    <button id="btn_questionmark"
                            tabindex="1"
                            class="kb-key key-btn"
                            ng-enter="keySelected('btn_questionmark')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        ?
                    </button>

                    <button class="action-back kb-key key-btn"
                            id="btn_upArrow"
                            tabindex="1"
                            ng-enter="upArrowkeySelected()"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <i class="arrow up"></i>
                    </button>

                </div>
                <div class="key-row fifth">
                    <!-- <div class="key-btn">
                        <button class="action-btn">
                            <span>?123</span>
                        </button>
                    </div> -->

                    <button class="action-btn kb-key key-btn"
                            id="btn_AtSign"
                            tabindex="1"
                            on-enter="keySelected('btn_AtSign')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <span>@</span>
                    </button>

                    <button class="action-btn kb-key key-btn"
                            id="btn_slash"
                            tabindex="1"
                            ng-enter="keySelected('btn_slash')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <span>/</span>
                    </button>

                    <button id="btn_space"
                            tabindex="1"
                            class="kb-key space key-btn"
                            ng-enter="spacekeySelected()"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)"></button>

                    <button class="action-btn kb-key key-btn"
                            id="btn_comma"
                            tabindex="1"
                            ng-enter="keySelected('btn_comma')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <span>,</span>
                    </button>

                    <button class="action-btn kb-key key-btn"
                            id="btn_dot"
                            tabindex="1"
                            ng-enter="keySelected('btn_dot')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <span>.</span>
                    </button>

                    <button class="action-btn kb-key key-btn"
                            id="btn_dotCom"
                            tabindex="1"
                            ng-enter="keySelected('btn_dotCom')"
                            ng-focus="keyFocused($event)"
                            ng-blur="keyBlurred($event)">
                        <span>.com</span>
                    </button>

                </div>
            </div>
        </div>
        <!--<div class="keyboard"
             id="headerkeyboard"
             style="display: none;">
            <div class="kb-style">
                <div class="key-row first">
                    <div class="key-btn">
                        <button id="btn0"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn0')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            0
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn1"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn1')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            1
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn2"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn2')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            2
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn3"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn3')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            3
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn4"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn4')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            4
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn5"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn5')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            5
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn6"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn6')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            6
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn7"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn7')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            7
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn8"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn8')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            8
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn9"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn9')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            9
                        </button>
                    </div>
                </div>
                <div class="key-row second">
                    <div class="key-btn">
                        <button id="btn_q"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_q')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            q
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_w"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_w')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            w
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_e"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_e')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            e
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_r"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_r')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            r
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_t"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_t')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            t
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_y"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_y')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            y
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_u"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_u')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            u
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_i"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_i')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            i
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_o"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_o')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            o
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_p"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_p')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            p
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-back"
                                id="btn_removeText"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="removekeySelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>x</span>
                        </button>
                    </div>
                </div>
                <div class="key-row third">
                    <div class="key-btn">
                        <button id="btn_a"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_a')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            a
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_s"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_s')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            s
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_d"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_d')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            d
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_f"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_f')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            f
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_g"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_g')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            g
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_h"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_h')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            h
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_j"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_j')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            j
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_k"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_k')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            k
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_l"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_l')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            l
                        </button>
                    </div>
                    <div class="key-btn btn-go">
                        <button class="action-go"
                                id="btn_go"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="btnGoSelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>Go</span>
                        </button>
                    </div>
                </div>
                <div class="key-row fourth">
                    <div class="key-btn">
                        <button class="action-back"
                                id="btn_upArrow"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="upArrowkeySelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <i class="arrow up"></i>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_z"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_z')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            z
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_x"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_x')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            x
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_c"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_c')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            c
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_v"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_v')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            v
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_b"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_b')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            b
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_n"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_n')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            n
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_m"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_m')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            m
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_exclamation"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_exclamation')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            !
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_questionmark"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_questionmark')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            ?
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-back"
                                id="btn_upArrow"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="upArrowkeySelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <i class="arrow up"></i>
                        </button>
                    </div>
                </div>
                <div class="key-row fifth">
                     <div class="key-btn">
                        <button class="action-btn">
                            <span>?123</span>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_AtSign"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_AtSign')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>@</span>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_slash"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_slash')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>/</span>
                        </button>
                    </div>
                    <div class="key-btn space">
                        <button id="btn_space"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="spacekeySelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)"></button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_comma"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_comma')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>,</span>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_dot"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_dot')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>.</span>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_dotCom"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_dotCom')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>.com</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <!--<div class="content-nWelcome common_popup" id="udidspopup" style="z-index: 555 !important; display: none;background: rgba(0, 0, 0, 1) !important;">
        <div class="nWelcome_popup">
            <div class="welcome_header">
                <img style="width: 20%;" src="img/logo.png">
            </div>
            <div class="email_popup">

                <div class="email-popup-content">
                    <h3>Serial Number:</h3>
                    <input id="srlno" tabindex="1"   type="text" value="{{udid}}" >
                    
               
                    <h3>Room No:</h3>
                    <input id="textrmno" tabindex="1" name="emailid" ng-focus="focusButton($event)" ng-enter="openKeyboard('textrmno')" ng-blur="blurButton($event)" type="text" placeholder="Type room number Here">
                    <span class="emailaddress_error error error_msg"></span>
                </div>

                <div class="view-bill-btns">
                    <button tabindex="1" ng-focus="focusButton($event)" ng-enter="btnregisterDevice()" id="btnSend" ng-blur="blurButton($event)">Submit</button>
                </div>
            </div>
             <div class="welcome_footer">
                <div class="select_language left_bx">
                    <h3>select language</h3>
                    <ul>
                    <li id="language{{$index}}" data-focusable-depth="50" ng-repeat="item in Languages" focusable on-focused="languageFocus($event)" on-blurred="languageBlur($event)" on-selected="languageChange('{{item.LanguageCode}}')">
                        <img src="{{item.Images[0].ImageUrl}}">
                        <h4>{{item.LanguageName}}</h4>
                    </li>
                    </ul>

                </div>
            <div class="btn_continue">
                <button id="btnContinueHeader" data-focusable-depth="50" focusable on-focused="focus($event)" on-blurred="blur($event)" on-selected="btnContinueHeaderSelect()">continue</button>
            </div>
            </div> 
        </div>
        
    </div>-->
            

    
</div>
