<div class="home-wrapper" >
    <section class="bg-overlay"></section>
    <section class="top-info">
        <p>
            <span class="date"> {{ time | date : 'EEE , dd MMM'}}  </span>
            <span ng-if="currentWeather" class="weather">
                <span class="unit">{{currentWeather}} </span><span class="unit-type">{{unitTemperature}}</span>
            </span>
        </p>
    </section>
    <section class="qr-section" ng-if="isQRCodeVisible">
        <div class="qr-wrapper">
            <img src="img/qr.jpg" alt="qr code">
        </div>
      
    </section>
    <section class="home-scroll-section">
      <!-- <h1 style="color:#f00" id="stdby"></h1>
      <h1 style="color:#f00" id="wol"></h1>
      <h1 style="color:#f00" id="power"></h1>
       <button class="stdbybtn" focusable on-selected="changestandby()" data-focusable-name="standby" >Change Standby</button>     -->
        <ul class="home-scroll-list" >
            <li  class="card-home" focusable ng-repeat="type in offers" data-focusable-next-focus-down="null"  data-focusable-next-focus-up="standby" data-focusable-name="{{'offer-item-' + randomId + $index}}" data-focusable-next-focus-right="{{'offer-item-' +randomId +($index+1)}}" data-focusable-next-focus-left="{{$index==0?'menu-item-0':'offer-item-' +randomId +($index-1)}}" on-selected="gotoOffers()">
                <div class="image-card">
                    <img class="home-image" ng-if="type.Images.length > 0" ng-src="{{imgURL+'/Image/OffersType/'+type.Images[0].ImageName}}" onerror="this.style.display='none'" alt="{{type.Name}}">
                    <div class="image-text">
                        <div class="name">{{type.Name}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>