<div class="hotelinfo-wrapper">
    <section class="background-slider">
        <div class="carousel-wrapper">
            <div class="item">
                <img src="{{image}}">
            </div>
        </div>
    </section>
    <section class="scroll-content-section" >
        <div class="wrapper" ng-if="info" >
            <p class="title">{{info.Name}}</p>
            <hr ng-if="info.Information.length > 0 && info.Information[0].Field!=''">
            <div  class="contact-details">
                <p ng-repeat="item in info.Information"> 
                    <img class="icon-color" style="width:1.5vw" ng-if="item.Field=='Address'" src="img/icons/placeholder.svg" alt="icon">
                    <img ng-if="item.Field=='Email Id'" style="width:1.5vw" src="img/icons/mail.svg" alt="icon">
                    <img class="icon-color" style="width:1.5vw" ng-if="item.Field=='Phone Number'" src="img/icons/telephone.svg" alt="icon">
               {{item.Value}} </p>
            </div>
            <hr>
            <p class="description">
                {{info.Description}}
            </p>
        </div>
        <div class="arrow-wrapper" ng-if="subAmenities && subAmenities.length>1">
            <button class="left-arrow" focusable ng-attr-data-focusable-next-focus-down="'facility-item-'+randomId +'0'"  data-focusable-next-focus-left="menu-item-6" data-focusable-next-focus-up="null" ng-attr-data-focusable-group="'togglebutton'+randomId " on-selected="leftArrowSelected($event)"> 
                <img src="img/icons/left-arrow.svg" alt="left">
            </button>
            <button class="right-arrow" focusable ng-attr-data-focusable-next-focus-down="'facility-item-'+randomId +'0'" data-focusable-next-focus-right="null"  data-focusable-next-focus-up="null" ng-attr-data-focusable-group="'togglebutton'+randomId " on-selected="rightArrowSelected($event)"> 
                <img src="img/icons/right-arrow.svg" alt="right">
            </button>
            <div class="dot-wrapper">
                <span class="dot" ng-class="{'active': $index==0}" ng-repeat="item in subAmenities"></span>
            </div>
        </div>
    </section>
    <section class="amenities-name-section">
        <ul class="amenities-name-list">
            <li focusable data-focusable-initial-focus="true" class="facility-button active" id="hotelinfo" data-focusable-next-focus-up="null" data-focusable-next-focus-down="null" data-focusable-next-focus-left="menu-item-6" ng-attr-data-focusable-name="'facility-item-' +randomId +'0'" on-selected="facilityButtonSelected($event)">
                <button title="hotelinfo" >Hotel Info</button>
            </li>
            <li focusable ng-repeat="amenity in amenities" class="facility-button"  id="{{amenity.Type}}"  ng-attr-data-focusable-next-focus-up="'group:togglebutton'+randomId" data-focusable-next-focus-down="null" ng-attr-data-focusable-next-focus-left="'facility-item-' +randomId + ($index)" ng-attr-data-focusable-name="'facility-item-'+randomId + ($index+1)" on-selected="facilityButtonSelected($event)">
                 <button  title="{{amenity.Type}}">{{amenity.Type}}</button>
            </li>
        </ul>
    </section>
</div>