<style>
    .navMenuWrapper
    {
        display:none;
    }
</style>
<div class="welcome-screen-wrapper">
    <section class="logo-section">
        <div class="logo-wrapper">
             <img src="img/address-downtown-logo.svg" alt="Logo" style="width:20vw"> 
        </div>
        <div id="slno"></div>
    </section>
    <section class="top-info">
        <p>
            <span class="date"> {{ time | date : 'EEE , dd MMM'}}  </span>
            <span ng-if="currentTemp" class="weather">
                <span class="unit">{{currentTemp}} </span><span class="unit-type">{{unitTemperature}}</span>
            </span>
        </p>
    </section>
    <section class="message-section">
        <h1 class="hi-name"><span>{{ 'Welcome.Hi' | translate }} </span><span class="name">{{roomDeviceInfo.GuestInfo.FirstName}} {{roomDeviceInfo.GuestInfo.LastName}}</span>,</h1>
        <p class="welcome-message">{{ 'Welcome.message1' | translate }}</p>
        <p class="welcome-message">{{ 'Welcome.message2' | translate }}</p>
    </section>
    <section class="language-section">
        <div class="language-selection-wrapper">
            <p class="title">{{ 'Welcome.selectLanguage' | translate }}</p>
            <div class="language-selection">
                <p class="selected-language"> {{selectedLanguage.LanguageName }} ({{selectedLanguage.LanguageCode | limitTo : 2 }}) </p>
            </div>
        </div>
        <div class="arrow-section">
            <button class="arrow-button" focusable data-focusable-depth="0" data-focusable-group="welcome" data-focusable-next-focus-left="null" data-focusable-next-focus-right="null" data-focusable-next-focus-up="null" data-focusable-next-focus-down="null" data-focusable-name="arrow-button" on-selected="goToHome()">
                <!-- <img *ngIf="(!isArrowFocused)" src="img/icons/arrow-default.svg" alt="Goto Home"> -->
                <img src="img/icons/arrow-default.svg" alt="Goto Home">
            </button>
        </div>
        <div class="version">
            {{buildNumber}}
        </div>
    </section>
    
</div>

<div class="error-screen">
    <div class="message">
        Sorry! we are unable to process your request
    </div>
</div>

<div class="error-popup" style="display:none">
    <div class="popup">
        <div class="popup-wrapper">
            <p class="message"> Oops ! Something wrong </p>
            <div class="button-group">
                <button focusable class="error-close" data-focusable-next-focus-left="null" data-focusable-next-focus-right="null" data-focusable-next-focus-down="null" data-focusable-next-focus-up="null"> {{ 'Global.Ok' | translate }} </button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="udid-popup" >
    <div class="popup">
        <div class="popup-wrapper">
            <div class="form-section">
                <p class="title"> Device Configuration </p>
                <div class="form-input">
                    <input type="text" id="udid" placeholder="Enter UDID" [value]="newUdid">
                </div>
                <div class="form-input">
                    <input focusable type="text" id="roomno" data-focusable-next-focus-right="null" placeholder="Enter Room Number" [value]="roomNumber">
                </div>
                <div class="form-dropdown">
                    <p class="label">Select Hotel</p>
                    <div class="hotel-list-wrapper">
                        <ul class="hotel-list">
                            <li focusable class="item" [class.selected] = "i == 0" *ngFor="let hotel of hotelInfo; let i = index" [attr.data-hotelid]="hotel.Id" data-focusable-next-focus-right="null"> {{hotel.Name}} </li>
                        </ul>
                    </div>
                </div>
                <div class="button-group">
                    <button focusable class="udid-submit"> {{ 'Global.Submit' | translate }} </button>
                    <button focusable class="udid-cancel"> {{ 'Global.Cancel' | translate }} </button>
                </div>
            </div>
             <div class="keyboard-section" >
                <div class="keyboard-wrapper">
                    <div class="key-row row-1">
                        <button id="btn_a" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">a</button>
                        <button id="btn_b" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">b</button>
                        <button id="btn_c" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">c</button>
                        <button id="btn_d" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">d</button>
                        <button id="btn_e" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">e</button>
                        <button id="btn_f" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">f</button>
                    </div>
                    <div class="key-row row-2">
                        <button id="btn_g" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">g</button>
                        <button id="btn_h" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">h</button>
                        <button id="btn_i" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">i</button>
                        <button id="btn_j" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">j</button>
                        <button id="btn_k" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">k</button>
                        <button id="btn_l" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">l</button>
                    </div>
                    <div class="key-row row-3">
                        <button id="btn_m" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">m</button>
                        <button id="btn_n" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">n</button>
                        <button id="btn_o" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">o</button>
                        <button id="btn_p" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">p</button>
                        <button id="btn_q" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">q</button>
                        <button id="btn_r" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">r</button>
                    </div>
                    <div class="key-row row-4">
                        <button id="btn_s" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">s</button>
                        <button id="btn_t" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">t</button>
                        <button id="btn_u" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">u</button>
                        <button id="btn_v" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">v</button>
                        <button id="btn_w" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">w</button>
                        <button id="btn_x" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">x</button>
                    </div>
                    <div class="key-row row-5">
                        <button id="btn_y" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">y</button>
                        <button id="btn_z" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">z</button>
                        <button id="btn_1" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">1</button>
                        <button id="btn_2" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">2</button>
                        <button id="btn_3" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">3</button>
                        <button id="btn_4" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">4</button>
                    </div>
                    <div class="key-row row-6">
                        <button id="btn_5" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">5</button>
                        <button id="btn_6" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">6</button>
                        <button id="btn_7" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">7</button>
                        <button id="btn_8" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">8</button>
                        <button id="btn_9" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">9</button>
                        <button id="btn_0" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup">0</button>
                    </div>
                    <div class="key-row row-7">
                        <button id="btn_clear" focusable data-focusable-next-focus-down="null" data-focusable-depth="0" data-focusable-group="keyboardGroup"> clear </button>
                        <button id="btn_space" focusable data-focusable-next-focus-down="null" data-focusable-depth="0" data-focusable-group="keyboardGroup"> space </button>
                        <button id="btn_backspace" focusable data-focusable-next-focus-down="null" data-focusable-depth="0" data-focusable-group="keyboardGroup"> back space </button>
                     </div>
                </div>
            </div> 
        </div>
    </div>
</div> -->

<div class="content-nWelcome common_popup udid-popup" id="udidpopup" style="z-index: 555 !important; display: none;background: rgba(0, 0, 0, 1) !important;">
    <div class="nWelcome_popup udidpopup" style="width:100%;height:100vh;">
        <div class="welcome_header" style="text-align:center">
            <img style="width: 15vw;" src="img/address-downtown-logo.svg">
        </div>
        <div class="email_popup" style="margin:1% auto">

            <div class="email-popup-content serial_number_popup_content" style="display:flex;align-items:center;justify-content:center;width:100%;padding:5vw;">
                <div style="width:90%">
                    <div style="width:100%; padding-right:3vw;padding-bottom:2vw">
                        <h3>{{'Serial Number:' | translate}}</h3>
                        <input id="srlno" tabindex="1" class="slno" type="text" value="{{newUdid}}">
                    </div>

                    <div style="width:50%;float:left;padding-right:3vw">
                        <h3>Select Hotel Name</h3>
                        <input type="text" name="search" class="search slno input" id="searchid" focusable on-focused="focusButton($event)" on-blurred="blurButton($event)" on-selected="getshows()" data-focusable-depth="7" data-focusable-group="hotelcode" value="" placeholder="Select hotel name" autocomplete="off">
                        <div id="hresult" style="display:none;"></div>

                        <div id="drope_box" style="display:none;" class="popup-code">
                            <div class="banner_search_type" ng-repeat="item in hotelInfo" id="hotel{{$index}}" data-focusable-depth="8" focusable data-focusable-group="hotel" on-focused="focusButton($event)" on-blurred="blurButton($event)" on-selected="selecthotel('{{item.Id}}','{{item.Name}}')">
                                {{item.Name}}
                            </div>

                        </div>
                    </div>
                    <div style="width:50%;float:left;padding-right:3vw">
                        <h3>{{'Room No:' | translate}}</h3>
                        <input id="txtrmno" focusable name="roomnum" class="slno input" on-focused="focusroom($event)" data-focusable-depth="7" data-focusable-group="hotelcode" on-selected="openKeyboard('txtrmno')" on-blurred="blurroom($event)" type="text" placeholder="Type room number Here" autocomplete="off">
                        <span class="roomnum_error error error_msg"></span>
                    </div>
                    
                    </div>
                <div style="width:50%" class="hide keypart">
                    <div class="keyboard" id="SlnoKeyboard">
                        <div class="new-kb-style ">
                            <div class="new-key-row row-1">
                                <div class="new-key-btn">
                                    <button id="btn1" focusable data-focusable-depth="0" data-focusable-next-focus-up="null" data-focusable-group="keyboardGroup" on-selected="keySelected('btn1')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        1
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn2" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" data-focusable-next-focus-up="null" on-selected="keySelected('btn2')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        2
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn3" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" data-focusable-next-focus-up="null" on-selected="keySelected('btn3')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        3
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn4" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" data-focusable-next-focus-up="null" on-selected="keySelected('btn4')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        4
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn5" focusable data-focusable-depth="0"  data-focusable-next-focus-up="null" data-focusable-group="keyboardGroup" on-selected="keySelected('btn5')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        5
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn6" focusable data-focusable-depth="0" data-focusable-next-focus-up="null" data-focusable-group="keyboardGroup" on-selected="keySelected('btn6')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        6
                                    </button>
                                </div>
                              
                            </div>
                            <div class="new-key-row row-2">
                                <div class="new-key-btn">
                                    <button id="btn7" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn7')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        7
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn8" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn8')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        8
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn9" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn9')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        9
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn0" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn0')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        0
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_a" focusable data-focusable-depth="0"  data-focusable-group="keyboardGroup" on-selected="keySelected('btn_a')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        a
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_b" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_b')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        b
                                    </button>
                                </div>
                               
                            </div>
                            <div class="new-key-row row-3">
                                <div class="new-key-btn">
                                    <button id="btn_c" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_c')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        c
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_d" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_d')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        d
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_e" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_e')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        e
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_f" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_f')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        f
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_g" focusable data-focusable-depth="0"  data-focusable-group="keyboardGroup" on-selected="keySelected('btn_g')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        g
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_h" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_h')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        h
                                    </button>
                                </div>
                               
                            </div>
                            <div class="new-key-row row-4">
                                <div class="new-key-btn">
                                    <button id="btn_i" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_i')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        i
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_j" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_j')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        j
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_k" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_k')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        k
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_l" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_l')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        l
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_m" focusable data-focusable-depth="0"  data-focusable-group="keyboardGroup" on-selected="keySelected('btn_m')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        m
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_n" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_n')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        n
                                    </button>
                                </div>
                                
                            </div>
                            <div class="new-key-row row-5">
                                <div class="new-key-btn">
                                    <button id="btn_o" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_o')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        o
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_p" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_p')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        p
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_q" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_q')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        q
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_r" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_r')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        r
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_s" focusable data-focusable-depth="0"  data-focusable-group="keyboardGroup" on-selected="keySelected('btn_s')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        s
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_t" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_t')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        t
                                    </button>
                                </div>
                              
                            </div>
                            <div class="new-key-row row-6">
                                <div class="new-key-btn">
                                    <button id="btn_u" focusable data-focusable-depth="0"  data-focusable-group="keyboardGroup" on-selected="keySelected('btn_u')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        u
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_v" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_v')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        v
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_w" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_w')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        w
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_x" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_x')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        x
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_y" focusable data-focusable-depth="0"  data-focusable-group="keyboardGroup" on-selected="keySelected('btn_y')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        y
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_z" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keySelected('btn_z')" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        z
                                    </button>
                                </div>
                            
                            </div>
                            <div class="new-key-row row-7">
                                <div class="new-key-btn clear">
                                    <button id="btn_clear" focusable data-focusable-depth="0" data-focusable-next-focus-down="null" data-focusable-group="keyboardGroup" on-selected="clearkeySelected()" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)"> clear </button>
                                </div>
                                <div class="new-key-btn space">
                                    <button id="btn_spaces" focusable data-focusable-depth="0" data-focusable-next-focus-down="null" data-focusable-group="keyboardGroup" on-selected="spacekeySelected()" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)"> space </button>
                                </div>
                             
                                <div class="new-key-btn">
                                    <button id="btn_removeText" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" data-focusable-next-focus-down="null" on-selected="removekeySelected()" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)">
                                        <span>Del</span>
                                    </button>
                                </div>
                                <div class="new-key-btn">
                                    <button id="btn_go" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" data-focusable-next-focus-down="null" on-selected="btnGoSelected()" on-focused="keyFocused($event)" on-blurred="keyBlurred($event)" style="border:solid 1px #8D734B;color:#8D734B">
                                        <span>GO</span>
                                    </button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="view-bill-btns slno-btns">
                <button focusable on-focused="udidfocus($event)" on-selected="btnregisterDevice()" id="btnSend" data-focusable-depth="7" data-focusable-group="hotelcode" on-blurred="udidblur($event)">Submit</button>
                <!--<button tabindex="1" ng-focus="focus($event)" ng-enter="btnCancelEmail()" id="btnEmailCancel" ng-blur="blur($event)">{{'Cancel'|translate}}</button>-->
            </div>
            
        </div>
        <!-- <div class="welcome_footer">
            <div class="select_language left_bx">
                <h3>select language</h3>
                <ul>
                <li id="language{{$index}}" data-focusable-depth="50" ng-repeat="item in Languages" focusable on-focused="languageFocus($event)" on-blurred="languageBlur($event)" on-selected="languageChange('{{item.LanguageCode}}')">
                    <img src="{{item.Images[0].ImageUrl}}">
                    <h4>{{item.LanguageName}}</h4>
                </li>
                </ul>

            </div>
        <div class="btn_continue">
            <button id="btnContinueHeader" data-focusable-depth="50" focusable on-focused="focus($event)" on-blurred="blur($event)" on-selected="btnContinueHeaderSelect()">continue</button>
        </div>
        </div> -->
    </div>
    <!--<div class="keyboard"
         id="headerkeyboard"
         style="display: none;">
        <div class="kb-style">
            <div class="key-row first">
                <div class="key-btn">
                    <button id="btn0"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn0')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        0
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn1"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn1')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        1
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn2"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn2')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        2
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn3"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn3')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        3
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn4"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn4')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        4
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn5"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn5')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        5
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn6"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn6')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        6
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn7"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn7')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        7
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn8"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn8')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        8
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn9"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn9')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        9
                    </button>
                </div>
            </div>
            <div class="key-row second">
                <div class="key-btn">
                    <button id="btn_q"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_q')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        q
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_w"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_w')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        w
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_e"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_e')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        e
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_r"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_r')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        r
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_t"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_t')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        t
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_y"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_y')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        y
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_u"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_u')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        u
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_i"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_i')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        i
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_o"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_o')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        o
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_p"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_p')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        p
                    </button>
                </div>
                <div class="key-btn">
                    <button class="action-back"
                            id="btn_removeText"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="removekeySelected()"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <span>x</span>
                    </button>
                </div>
            </div>
            <div class="key-row third">
                <div class="key-btn">
                    <button id="btn_a"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_a')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        a
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_s"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_s')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        s
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_d"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_d')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        d
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_f"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_f')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        f
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_g"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_g')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        g
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_h"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_h')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        h
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_j"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_j')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        j
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_k"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_k')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        k
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_l"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_l')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        l
                    </button>
                </div>
                <div class="key-btn btn-go">
                    <button class="action-go"
                            id="btn_go"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="btnGoSelected()"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <span>Go</span>
                    </button>
                </div>
            </div>
            <div class="key-row fourth">
                <div class="key-btn">
                    <button class="action-back"
                            id="btn_upArrow"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="upArrowkeySelected()"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <i class="arrow up"></i>
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_z"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_z')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        z
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_x"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_x')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        x
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_c"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_c')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        c
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_v"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_v')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        v
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_b"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_b')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        b
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_n"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_n')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        n
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_m"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_m')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        m
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_exclamation"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_exclamation')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        !
                    </button>
                </div>
                <div class="key-btn">
                    <button id="btn_questionmark"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_questionmark')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        ?
                    </button>
                </div>
                <div class="key-btn">
                    <button class="action-back"
                            id="btn_upArrow"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="upArrowkeySelected()"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <i class="arrow up"></i>
                    </button>
                </div>
            </div>
            <div class="key-row fifth">
                 <div class="key-btn">
                    <button class="action-btn">
                        <span>?123</span>
                    </button>
                </div> 
                <div class="key-btn">
                    <button class="action-btn"
                            id="btn_AtSign"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_AtSign')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <span>@</span>
                    </button>
                </div>
                <div class="key-btn">
                    <button class="action-btn"
                            id="btn_slash"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_slash')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <span>/</span>
                    </button>
                </div>
                <div class="key-btn space">
                    <button id="btn_space"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="spacekeySelected()"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)"></button>
                </div>
                <div class="key-btn">
                    <button class="action-btn"
                            id="btn_comma"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_comma')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <span>,</span>
                    </button>
                </div>
                <div class="key-btn">
                    <button class="action-btn"
                            id="btn_dot"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_dot')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <span>.</span>
                    </button>
                </div>
                <div class="key-btn">
                    <button class="action-btn"
                            id="btn_dotCom"
                            focusable
                            data-focusable-depth="10"
                            data-focusable-group="keyboardGroup"
                            on-selected="keySelected('btn_dotCom')"
                            on-focused="keyFocused($event)"
                            on-blurred="keyBlurred($event)">
                        <span>.com</span>
                    </button>
                </div>
            </div>
        </div>
    </div>-->
</div>
