<div ng-controller="layoutController" class="layoutWrapper">
   
  
    
    <div class="loader-wrapper">
        <embed src="img/spinner.svg" alt="loader">
    </div>
    <div class="content-nWelcome common_popup notepopup" id="notifypopup" style="z-index: 555 !important; display: none;">
        <div class="nWelcome_popup udidpopup" style="width:100%;height:100vh;">
            
            <div class="email_popup note_popup" style="margin:11% auto;height:auto;width:50%">
                <div class="email-popup-content serial_number_popup_content" style="width:50%;float:left">
                   <img src="img/desert.jpg" class="nimg"> 
                        
                      
                </div>
                <div class="email-popup-content serial_number_popup_content" style="width:50%;float:left;padding-left:1vw">
                    <p id="notifytitle" class="notifytitle">{{Title}}</p> 
                    <p id="notifybody" class="notifybody">{{Message}}</p> 
                        
                      
                </div>
                <img src="img/icons/close@2x.png" class="closeicon" id='closenote' focusable data-focusable-next-focus-up="null" data-focusable-next-focus-down="null" data-focusable-next-focus-left="null" data-focusable-next-focus-right="null" on-selected="close()"/>
                
                
            </div>
            <!-- <div class="welcome_footer">
                <div class="select_language left_bx">
                    <h3>select language</h3>
                    <ul>
                    <li id="language{{$index}}" data-focusable-depth="50" ng-repeat="item in Languages" focusable on-focused="languageFocus($event)" on-blurred="languageBlur($event)" on-selected="languageChange('{{item.LanguageCode}}')">
                        <img src="{{item.Images[0].ImageUrl}}">
                        <h4>{{item.LanguageName}}</h4>
                    </li>
                    </ul>
    
                </div>
            <div class="btn_continue">
                <button id="btnContinueHeader" data-focusable-depth="50" focusable on-focused="focus($event)" on-blurred="blur($event)" on-selected="btnContinueHeaderSelect()">continue</button>
            </div>
            </div> -->
        </div>
        <!--<div class="keyboard"
             id="headerkeyboard"
             style="display: none;">
            <div class="kb-style">
                <div class="key-row first">
                    <div class="key-btn">
                        <button id="btn0"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn0')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            0
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn1"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn1')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            1
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn2"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn2')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            2
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn3"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn3')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            3
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn4"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn4')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            4
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn5"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn5')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            5
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn6"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn6')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            6
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn7"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn7')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            7
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn8"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn8')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            8
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn9"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn9')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            9
                        </button>
                    </div>
                </div>
                <div class="key-row second">
                    <div class="key-btn">
                        <button id="btn_q"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_q')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            q
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_w"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_w')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            w
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_e"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_e')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            e
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_r"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_r')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            r
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_t"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_t')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            t
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_y"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_y')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            y
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_u"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_u')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            u
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_i"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_i')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            i
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_o"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_o')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            o
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_p"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_p')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            p
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-back"
                                id="btn_removeText"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="removekeySelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>x</span>
                        </button>
                    </div>
                </div>
                <div class="key-row third">
                    <div class="key-btn">
                        <button id="btn_a"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_a')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            a
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_s"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_s')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            s
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_d"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_d')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            d
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_f"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_f')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            f
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_g"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_g')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            g
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_h"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_h')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            h
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_j"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_j')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            j
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_k"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_k')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            k
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_l"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_l')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            l
                        </button>
                    </div>
                    <div class="key-btn btn-go">
                        <button class="action-go"
                                id="btn_go"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="btnGoSelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>Go</span>
                        </button>
                    </div>
                </div>
                <div class="key-row fourth">
                    <div class="key-btn">
                        <button class="action-back"
                                id="btn_upArrow"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="upArrowkeySelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <i class="arrow up"></i>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_z"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_z')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            z
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_x"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_x')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            x
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_c"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_c')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            c
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_v"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_v')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            v
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_b"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_b')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            b
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_n"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_n')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            n
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_m"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_m')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            m
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_exclamation"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_exclamation')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            !
                        </button>
                    </div>
                    <div class="key-btn">
                        <button id="btn_questionmark"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_questionmark')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            ?
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-back"
                                id="btn_upArrow"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="upArrowkeySelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <i class="arrow up"></i>
                        </button>
                    </div>
                </div>
                <div class="key-row fifth">
                     <div class="key-btn">
                        <button class="action-btn">
                            <span>?123</span>
                        </button>
                    </div> 
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_AtSign"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_AtSign')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>@</span>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_slash"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_slash')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>/</span>
                        </button>
                    </div>
                    <div class="key-btn space">
                        <button id="btn_space"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="spacekeySelected()"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)"></button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_comma"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_comma')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>,</span>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_dot"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_dot')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>.</span>
                        </button>
                    </div>
                    <div class="key-btn">
                        <button class="action-btn"
                                id="btn_dotCom"
                                focusable
                                data-focusable-depth="10"
                                data-focusable-group="keyboardGroup"
                                on-selected="keySelected('btn_dotCom')"
                                on-focused="keyFocused($event)"
                                on-blurred="keyBlurred($event)">
                            <span>.com</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
