<div class="livetv-search-wrapper">
    <section class="page-title">
        <p> {{ 'LiveTV.ChannelGuide' | translate }}</p>
    </section>
    <div class="keyboard-channels-wrapper">
        <section class="keyboard-section">
            <div class="input-field">
                <input type="text" placeholder="search here" value="{{searchText}}">
            </div>
            <div class="keyboard-wrapper">
                <div class="key-row row-1">
                    <button id="btn_a" focusable data-focusable-depth="0" data-focusable-next-focus-up="null" data-focusable-next-focus-left="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)" >a</button>
                    <button id="btn_b" focusable data-focusable-depth="0" data-focusable-next-focus-up="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">b</button>
                    <button id="btn_c" focusable data-focusable-depth="0" data-focusable-next-focus-up="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">c</button>
                    <button id="btn_d" focusable data-focusable-depth="0" data-focusable-next-focus-up="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">d</button>
                    <button id="btn_e" focusable data-focusable-depth="0" data-focusable-next-focus-up="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">e</button>
                    <button id="btn_f" focusable data-focusable-depth="0" data-focusable-next-focus-up="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">f</button>
                </div>
                <div class="key-row row-2">
                    <button id="btn_g" focusable data-focusable-depth="0" data-focusable-next-focus-left="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">g</button>
                    <button id="btn_h" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">h</button>
                    <button id="btn_i" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">i</button>
                    <button id="btn_j" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">j</button>
                    <button id="btn_k" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">k</button>
                    <button id="btn_l" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">l</button>
                </div>
                <div class="key-row row-3">
                    <button id="btn_m" focusable data-focusable-depth="0" data-focusable-next-focus-left="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">m</button>
                    <button id="btn_n" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">n</button>
                    <button id="btn_o" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">o</button>
                    <button id="btn_p" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">p</button>
                    <button id="btn_q" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">q</button>
                    <button id="btn_r" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">r</button>
                </div>
                <div class="key-row row-4">
                    <button id="btn_s" focusable data-focusable-depth="0" data-focusable-next-focus-left="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">s</button>
                    <button id="btn_t" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">t</button>
                    <button id="btn_u" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">u</button>
                    <button id="btn_v" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">v</button>
                    <button id="btn_w" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">w</button>
                    <button id="btn_x" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">x</button>
                </div>
                <div class="key-row row-5">
                    <button id="btn_y" focusable data-focusable-depth="0" data-focusable-next-focus-left="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">y</button>
                    <button id="btn_z" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">z</button>
                    <button id="btn_1" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">1</button>
                    <button id="btn_2" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">2</button>
                    <button id="btn_3" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">3</button>
                    <button id="btn_4" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">4</button>
                </div>
                <div class="key-row row-6">
                    <button id="btn_5" focusable data-focusable-depth="0" data-focusable-next-focus-left="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">5</button>
                    <button id="btn_6" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">6</button>
                    <button id="btn_7" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">7</button>
                    <button id="btn_8" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">8</button>
                    <button id="btn_9" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">9</button>
                    <button id="btn_0" focusable data-focusable-depth="0"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)">0</button>
                </div>
                <div class="key-row row-7">
                    <button id="btn_clear" focusable data-focusable-depth="0" data-focusable-next-focus-left="null"
                        data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)" data-focusable-next-focus-down="null"> clear </button>
                    <button id="btn_space" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)" data-focusable-next-focus-down="null">
                        space </button>
                    <button id="btn_backspace" focusable data-focusable-depth="0" data-focusable-group="keyboardGroup" on-selected="keyboardClicked($event)" data-focusable-next-focus-down="null">
                        back space </button>
                </div>
            </div>
        </section>
        <section class="channels-section">
            <div class="channels-wrapper">
                <p class="title"> {{ 'LiveTV.SearchResult' | translate }}</p>
                <ul class="channel-list" ng-if="searchText != '' && !nochannelsFound">
                   
                        <li class="channel" id="{{channel.ChannelNumber}}" focusable
                            data-focusable-group="{{'channels'+randomId}}"
                            ng-repeat="channel in searchchannel" data-focusable-name="ch{{$index}}"
                           data-focusable-next-focus-down="{{($index ==(channel.length-1)?'null':'ch'+($index+1))}}"
                           data-focusable-next-focus-up="{{($index ==0?'null':'ch'+($index-1))}}"
                            data-focusable-next-focus-right="null" on-selected="channelSelected($event)" on-focused="channelFocused($event)">
                            <div class="channel-card">
                                <span class="d-none channel-ip">{{channel.IPAddress}}</span>
                                <span class="d-none channel-port">{{channel.Port}}</span>
                                <div class="channel-number">{{channel.ChannelNumber}}</div>
                                <div class="channel-image">
                                    <img ng-src="{{imgURL}}/Image/TvChannels/{{channel.Images[0].ImageName}}"
                                        onerror="this.style.display='none'" alt="{{channel.ChannelName}}">
                                </div>
                                <div class="channel-name"> {{channel.ChannelName}} </div>
                            </div>
                        </li>
                   
                </ul>
                <div ng-if="searchText == ''">
                  <p class="live-tv-no-data-title">Please start by searching channels to show results</p>
                </div>

              <div ng-if="nochannelsFound && searchText != ''">
                <p class="live-tv-no-data-title">No results found.</p>
              </div>
            </div>
        </section>
    </div>
</div>
