<style>
     ul.fchannel {
      width: 100%;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    }
</style>
<div class="livetv-wrapper" id='livetv'>
    <div class="ch-background">
        <div class="chnname"></div>
        <div class="chind">
            <p class="chnumb"></p>
    
        </div>
       
       
    </div>
   
    <div class="chindicator">
        <p class="numch"></p>
    </div>
    <div class="chinvalid">
        <p class="invalid">Invalid Channel Number</p>
    </div>
    <div class="iptv-wrapper">
    <section class="video-section">
        <!-- <video width="100%" height="100%" autoplay loop poster="video/video-poster.jpg">
            <source src="video/livetv-bg.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->
         
    </section>
    <!-- <section class="search-section">
        <button focusable data-focusable-group="livetv" data-focusable-next-focus-left="menu-item-0" data-focusable-next-focus-up="null" data-focusable-next-focus-down="card0" class="search-button">
            <img src="img/icons/search.svg" alt="search">
        </button>
        
    </section> -->
    <section class="genre-section">
        <!-- <ul class="offer-list" id='ViewContainer'>
            <li ng-repeat="genre in genreDetails" id="{{type.OfferId}}" class="focusable-offer offer{{i}} page"
                data-focusable-group="offer" data-focusable-next-focus-down="{{'offer-name-'+ randomId+'0'}}" data-focusable-next-focus-right="{{'offer-item-'+ randomId + ($index+1)}}" data-focusable-next-focus-left="{{$index!=0?'offer-item-'+ randomId + ($index-1):'menu-item-7'}}" data-focusable-name="{{'offer-item-'+ randomId + $index}}" data-focusable-next-focus-up="null" on-focused="offerlifocus($event)" on-selected="offerSelected($event)" focusable>
                <div class="image-card">
                    <button id="{{'tv-genre-' + $index}}" name="{{genre.GenreCode}}" focusable ng-attr-data-focusable-name="genre.GenreCode" on-focused="genrefocus()"  ng-attr-data-genre-code="genre.Id" class="tv-genre-button" ng-class="{active: genre.Id == selectedGenreId}" title="{{genre.GenreName}}"  data-focusable-next-focus-up="null" on-selected="onGenreSelection($event)">{{genre.GenreName}}</button>

                </div>
            </li>
        </ul> -->
     
        <ul class="genre-list top-genre ViewContainer" style="width:90%"  >
            <li focusable data-focusable-depth="0" data-focusable-group="livetv" data-focusable-next-focus-right="all" data-focusable-name="search" on-focused="genrefocus($event)"  data-focusable-next-focus-left="menu-item-0" data-focusable-next-focus-up="null" data-focusable-next-focus-down="card0" class="search-button" on-selected="onSearchSelection()">
                <button >
                    <img src="img/icons/search.svg" alt="search">
                </button>
                <!-- <div class="chan" style="color:#fff">Check Channel</div> -->
            </li>
            <li focusable data-focusable-depth="0" id="allgenre" data-focusable-group="livetv" data-focusable-next-focus-right="tv-genre-0" data-focusable-name="all" on-focused="genrefocus($event)"  data-focusable-next-focus-left="search" data-focusable-next-focus-up="null" data-focusable-next-focus-down="card0" name="all" class="tv-genre-button" on-selected="onGenreSelection($event)">
                <button >All</button>
                <!-- <div class="chan" style="color:#fff">Check Channel</div> -->
            </li>
            <li ng-repeat="genre in genreDetails" id="{{'tv-genre-' + $index}}" data-focusable-name="{{'tv-genre-' + $index}}" data-focusable-next-focus-left="{{($index == 0 ?'all':'tv-genre-'+($index-1))}}" data-focusable-next-focus-right="{{($index ==(genre.length-1)?'null':'tv-genre-'+($index+1))}}" name="{{genre.GenreCode}}" focusable data-focusable-depth="0" ng-attr-data-focusable-name="genre.GenreCode" on-focused="genrefocus($event)"  ng-attr-data-genre-code="genre.Id" class="tv-genre-button" ng-class="{active: genre.Id == selectedGenreId}" title="{{genre.GenreName}}"  data-focusable-next-focus-up="null" on-selected="onGenreSelection($event)">
                <!-- <button ng-class="{active: genre.Id == selectedGenreId}" title="{{genre.GenreName}}"  data-focusable-next-focus-up="null" >{{genre.GenreName}}</button> -->
                <button >{{genre.GenreName}}</button>
            </li>
        </ul>
    </section>
    <section class="channels-section">
        <ul class="genre-list">
            <div class="channel-wrapper">
                <ul class="channel-list fchannel" ng-if="currentGenre">
                    <li id="card-{{$index}}" class="cards" data-focusable-group="channels" data-focusable-name="card{{$index}}" ng-repeat="channel in channels"  focusable ng-attr-data-focusable-next-focus-left="$index%5==0?'menu-item-0':''" ng-attr-data-focusable-next-focus-right="( $index == (channels.length-1) ? 'null':''" ng-attr-data-focusable-next-focus-down="(paginationSlots.length>15)?((channels.length>10 && $index>9)||(channels.length>5 && channels.length<10 && $index>4) ||(channels.length<5)?'group:togglebutton':''):((channels.length>10 && $index>9)||(channels.length>5 && channels.length<10 && $index>4) ||(channels.length<5)?'null':'')" ng-attr-data-focusable-next-focus-up="$index<5?nextGenreCode:''" on-selected="onChannelSelection($event)" on-focused="onChannelFocused($event)">
                        <span class="d-none channel-ip">{{channel.IPAddress}}</span>
                        <span class="d-none channel-port">{{channel.Port}}</span>
                        <span class="d-none channel-num">{{channel.ChannelNumber}}</span>
                        <div class="channel-card" id="channel{{$index}}">
                            <div class="channelno">{{channel.ChannelNumber}}</div>
                            <div ng-if="channel.Images.length > 0" style="height: 100%;" > 
                                <img ng-if="channel.Images[0].ImageName!=''" ng-src="{{imgURL}}/Image/TvChannels/{{channel.Images[0].ImageName}}" onerror="this.style.display='none'" alt="{{channel.ChannelName}}">
                            </div>
                            <div class="name-overlay">
                                <p class="channel-name">{{channel.ChannelName}}</p>
                            </div>
                        </div>
                    </li> 
                </ul>
                <div class="arrow-section">
                    <!-- <div ng-include='"Views/pagination.html"'></div> -->
                    <!-- <app-pagination ng-if="channels && channels.length > 0 " [items]="paginationSlots" [goDown]="false" [randomId]="randomId" (changePage)="onChangePage($event)"></app-pagination> -->
                </div>
            </div>
        </ul>
    </section>
</div>
    <!-- Plugins -->
     <video autoplay preload="auto" loop id="myVideo" style="width:100vw;height:100%;display:none" ></video> 
</div>
