<div ng-controller="navMenuController" class="navMenuWrapper" style="display:none">
    <section class="left-menu">
        <div class="room-number-section">
           
            <p class="title"> Room No </p>
            <p class="room-number" ng-if="roomNumber"> {{roomNumber}} </p>
           
        </div>
        <div class="divider"></div>
        <div class="menu-list-wrapper text-center my-3">
            <ul class="menu-list pl-0" >
                <li ng-repeat="tile in landingTiles">
                    <button id="{{'tile' + $index}}" class="menu-button">
                        <span focusable data-focusable-group="menu-item" data-focusable-depth="0" data-focusable-next-focus-left="null" ng-attr-data-icon="{{tile.iconUrl}}" ng-attr-data-active-icon="{{tile.iconUrlActive}}" ng-attr-data-focusable-next-focus-up="{{($index != 0) ? '' : 'notification'}}" title="{{tile.title}}" ng-attr-data-focusable-name="{{'menu-item-' + tile.id}}" ng-style="{ background: 'url({{ tile.iconUrl }}) no-repeat center' }" class="icon" on-selected="onMenuSelected($event)" on-focused="onMenuFocus($event)"></span>
                        <span class="default-hide menu-name">{{tile.title}}</span>
                    </button>
                </li>
              
            </ul>
        </div>
       
    </section>
</div>
