<div class="offer-details-wrapper" ng-repeat="type in data">
    <section class="left-section">
        <div class="back-arrow-wrapper">
            <button class="back-button" id="backbutton" data-focusable-next-focus-left="null" data-focusable-next-focus-up="null" data-focusable-next-focus-down="null" focusable on-selected="backButtonClicked()"><img src="img/icons/back_arrow_icon.svg"></button>
        </div>
        <div class="date-time-wrapper">
            <div class="flex-container">
                <div class="flex-container" >
                    <div class="title">{{type.Name}}</div>
                    <div class="description">{{type.Description}}</div>
                </div>
                <div style="flex-basis: 100px" class="flex-container">
                    <div class="det" ng-if="type.FromDate"><img src="img/icons/calendar.svg"
                            class="spacing">{{convertToDate(type.FromDate,false)}} -
                        {{convertToDate(type.ToDate,true)}}</div>
                    <div class="det" ng-if="type.FromTime"><img src="img/icons/clock.svg"
                            class="spacing">{{type.CreatedDate}}</div>
                    <div class="det" ng-if="type.Email"><img src="img/icons/mail.svg"
                            class="spacing">{{type.Email}}</div>
                    <div class="det" ng-if="data.ContactNumber"><img src="img/icons/telephone.svg"
                            class="spacing">{{type.ContactNumber}}</div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-section">
        <div class="banner" ng-if="type.Images.length" style="background-image: url({{imgURL}}/Image/Offers/{{type.Images[0].ImageName}});"></div>
    </section>
</div>
