<div class="arrow-wrapper" ng-controller="paginationController" ng-if="pager.pages && pager.pages.length ">
    <button ng-class="{disabled:pager.currentPage === 1}" class="left-arrow" focusable ng-attr-data-focusable-name="'left'+random" ng-attr-data-focusable-group="'togglebutton'+randomId" ng-attr-data-focusable-next-focus-down="goDown?'':'null'" ng-attr-data-focusable-next-focus-right="'right'+random"  data-focusable-next-focus-left="null" >
      <img src="img/icons/left-arrow.svg" alt="left">
    </button>
    <div class="dot-wrapper">
      <span class="dot" ng-class="{active:pager.currentPage === page}" ng-repeat="page in pager.pages"></span>
    </div>
    <button ng-class="{disabled:pager.currentPage === pager.totalPages}" class="right-arrow" focusable ng-attr-data-focusable-name="'right'+random" ng-attr-data-focusable-group="'togglebutton'+randomId" data-focusable-next-focus-right="null" ng-attr-data-focusable-next-focus-left="'left'+random" ng-attr-data-focusable-next-focus-down="goDown?'':'null'">
      <img src="img/icons/right-arrow.svg" alt="right">
    </button>
</div>