<div class="prayer-timing-wrapper">
    <section class="timing-section">
        <div class="title">{{ 'PrayerTiming.PrayerTimes' | translate }}</div>
        <div class="sub-title">{{brndcity}}-{{brndcountry}} </div>
        <ul class="prayer-card-list">
            <li id="card-{{$index}}" focusable data-focusable-next-focus-left="menu-item-9" data-focusable-next-focus-up="menu-item-9" data-focusable-next-focus-down="menu-item-9" class="time-card" ng-class="{'active': item.isActive}" ng-repeat="item in timingData;">
                <div class="card-wrapper">
                    <p class="active-text">{{ 'PrayerTiming.Upcomingprayer' | translate }}</p>
                   <p class="title">{{item.name}}</p>
                   <p class="time">{{convert(item.time)}}</p>
                </div>
            </li>
        </ul>
    </section>
</div>