<div class="offer-details-wrapper" ng-repeat="type in data">
    <section class="left-section">
        <div class="back-arrow-wrapper">
            <button class="back-button" id="backbutton" data-focusable-next-focus-left="null" data-focusable-next-focus-up="null" data-focusable-next-focus-down="null" focusable on-selected="backButtonClicked()"><img src="img/icons/back_arrow_icon.svg"></button>
        </div>
        <div class="date-time-wrapper">
            <div class="flex-container">
                <div class="flex-container">
                    <div class="title">{{type.Name}}</div>
                    <div class="description">{{type.Description}}</div>
                    <p ng-repeat="item in type.Information" style="font-family:freight-sans-book;font-size: 1.3vw;"> 
                        <img class="icon-color" ng-if="item.Field=='Address'" src="img/icons/placeholder.svg" alt="icon" style="width:1.5vw;margin-right:1vw">
                        <img ng-if="item.Field=='Email Id'" src="img/icons/mail.svg" alt="icon" style="width:1.5vw;margin-right:1vw">
                        <img class="icon-color" ng-if="item.Field=='Phone Number'" src="img/icons/telephone.svg" alt="icon" style="width:1.5vw;margin-right:1vw">
                   {{item.Value}} </p>
                </div>
                <div style="flex-basis: 100px" class="flex-container">
                    <div class="det" ng-if="type.FromDate"><img src="img/icons/calendar.svg"
                            class="spacing">{{convertToDate(type.FromDate,false)}} -
                        {{convertToDate(type.ToDate,true)}}</div>
                    <div class="det" ng-if="type.FromTime"><img src="img/icons/clock.svg"
                            class="spacing">{{type.CreatedDate}}</div>
                    <div class="det" ng-if="type.Email"><img src="img/icons/mail.svg"
                            class="spacing">{{type.Email}}</div>
                    <div class="det" ng-if="type.ContactNumber"><img src="img/icons/telephone.svg"
                            class="spacing">{{type.ContactNumber}}</div>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-section">
        <div class="banner" ng-if="type.Images.length" style="background-image: url({{imgURL}}/Image/Restaurant/{{type.Images[0].ImageName}}), url(img/placeholder/city-guide.png);"></div>
    </section>
</div>
