<div class="cityguide-wrapper restaurant-wrapper    ">
    <section class="cityguide-scroll-section">
        <div class="cityguide-list-wrapper">
            <ul class="cityguide-list" id='ViewContainer' style="padding:10vh 0;width:90%">
                <li ng-repeat="type in restaurant" id="{{type.Id}}" class="focusable-restaurant restaurant{{i}} page"
                    data-focusable-group="restaurant" data-focusable-next-focus-down="{{'offer-name-'+ randomId+'0'}}" data-focusable-next-focus-right="{{'offer-item-'+ randomId + ($index+1)}}" data-focusable-next-focus-left="{{$index!=0?'offer-item-'+ randomId + ($index-1):'menu-item-4'}}" data-focusable-name="{{'offer-item-'+ randomId + $index}}" data-focusable-next-focus-up="null" on-focused="offerFocused($event)" on-selected="restaurantSelected($event)" focusable>
                    <div class="image-card" >
                       <img ng-if="type.Images.length > 0 && type.Images[0].ImageName!='' " ng-src="{{imgURL+'/Image/Restaurant/'+type.Images[0].ImageName}}" onerror="this.onerror=null;this.src='img/placeholder/offer.png';" class="offer-image">
                        <img ng-if="type.Images.length == 0 || type.Images[0].ImageName==''" src="img/placeholder/offer.png" class="offer-image"> 
                        <div class="cityguide-card-title">{{type.Name   }}</div>
                       <hr />
                       <img src="img/icons/frittata.svg" style="width:2vw !important;float:left">
                        <p class="citydesc" style="padding:1vh;padding-left:7vh"> {{type.Type }}</p>
                        <hr />
                        <div class="go-arrow">
                           
                          <button class="restbtn">View Details</button>
                           
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- <section class="offer-name-section">
        <ul class="offer-name-list">
            <li ng-repeat="type in offersTypes">
                <button focusable data-focusable-group="offertypes" data-focusable-next-focus-up="group:offer" data-focusable-next-focus-down="null"
                data-focusable-name="{{'offer-name-'+ randomId + $index}}" class="offer offerType" id="{{type}}" title="{{type}}" [attr.data-focusable-next-focus-left]="$index!=0?'offer-name-'+ randomId+ ($index-1):'menu-item-7'" on-selected="offerTypeSelected($event)">{{type}}</button>
            </li>
        </ul>
    </section> -->
</div>