<div class="count-service-wrapper">
    <section class="number-section">
        <div class="back-arrow-wrapper">
            <button class="back-button" data-focusable-name="{{'backbtn'+randomId}}" data-focusable-next-focus-up="null"  data-focusable-next-focus-down="{{'group:count'+randomId}}" focusable><img src="assets/img/icons/back_arrow_icon.svg"></button>
        </div>
        <div class="name-count-wrapper">
            <p class="title">{{details.ServiceItem}}</p>
            <div class="plus-minus-wrapper">
                <button class="minus" focusable data-focusable-next-focus-left="null" data-focusable-group="{{'count'+randomId}}" data-focusable-next-focus-down="{{'group:btns'+randomId}}" data-focusable-next-focus-up="{{'backbtn'+randomId}}"> <img src="assets/img/icons/minus.svg"> </button>
                <button class="qty"> {{serviceQty}} </button>
                <button class="plus" focusable data-focusable-group="{{'count'+randomId}}" data-focusable-next-focus-up="{{'backbtn'+randomId}}" data-focusable-next-focus-down="{{'group:btns'+randomId}}"> <img src="assets/img/icons/plus.svg"> </button>
            </div>
        </div>
        <div class="button-wrapper">
            <button data-focusable-next-focus-left="null" data-focusable-next-focus-up="{{'group:count'+randomId}}" data-focusable-group="{{'btns'+randomId}}" id="submitBtn" title="submit" data-focusable-next-focus-down="null" class="submit" focusable> {{ 'Global.Submit' | translate }} </button>
            <button data-focusable-next-focus-up="{{'group:count'+randomId}}" data-focusable-group="{{'btns'+randomId}}" id="cancelBtn" title="cancel" data-focusable-next-focus-down="null" class="cancel" focusable> {{ 'Global.Cancel' | translate }} </button>
        </div>
    </section>
    <section class="banner-section">
        <div class="banner" ng-if="offer" data-focusable-next-focus-down="null" data-focusable-next-focus-up="null"
            data-focusable-next-focus-left="{{'group:btns'+randomId}}" data-focusable-next-focus-right="null"
            >
            <img ng-if="offer.Images.length > 0 && offer.Images[0].ImageName!=''" ng-src="imgURL+'/Image/OffersType/'+offer.Images[0].ImageName"
                onerror="this.onerror=null;this.style.display='none'" class="offer-image">
            <div class="offers-card-title">{{offer.Name}}</div>

        </div>
    </section>
</div>