<div class="house-keeping-wrapper">
    <section class="facility-type-section">
        <ul class="facility-type-list">
            <li ng-repeat="type in facilityTypes">
                <button focusable id="{{type.FacilityId}}" data-focusable-name="{{type.FacilityId}}" data-focusable-next-focus-left="{{ $index==0 ? 'menu-item-2' : '' }}" class="facility-type" title="{{type.FacilityName}}" data-focusable-next-focus-up="null" data-focusable-next-focus-down="group:services" on-selected="facilityTypeSelected($event)">{{type.FacilityName}}</button>
            </li>           
        </ul>
    </section>
    <section class="facility-scroll-section">
        <ul class="facility-scroll-list" >
            <li class="card-facility-{{facility.ServiceId}}" ng-repeat="facility in serviceTypes;">
                <div class="image-card">
                   <img class="facility-image"  ng-src="{{facility.Images[0] && facility.Images[0].ImageName ? imgURL+'/Image/ServiceRequest/'+facility.Images[0].ImageName : 'assets/img/placeholder/house-keeping.png'}}" alt="{{facility.ServiceItem}}" onerror="this.style.display='none'">
                </div>
            </li>
        </ul>
    </section>
    <section class="facility-name-section">
        <ul class="facility-name-list">
            <li ng-repeat="facility in serviceTypes">
                 <button focusable id="{{facility.ServiceId}}" data-focusable-group="services" class="facility-button" data-focusable-next-focus-left="{{ $index==0 ? 'menu-item-2' : '' }}" data-focusable-next-focus-up="{{nextItem}}" title="{{facility.ServiceItem}}" on-focused="facilityButtonFocused($event)" on-blurred="facilityButtonBlurred($event)">{{facility.ServiceItem}}</button>
            </li>
        </ul>
    </section>
</div>