<div class="thankyou-wrapper">
    <section class="message-section">
        <!-- <div class="back-arrow-wrapper">
            <button class="back-button" focusable></button>
        </div> -->
        <div class="confirmation-wrapper">
            <p class="title"> {{ 'HouseKeeping.ThankyouTitle' | translate }} </p>
            <hr />
            <p class="message" ng-if="{{details.Quantity>0}}">
                {{ 'HouseKeeping.ThankyouPreMessage' | translate }} <b>{{details.ServiceName}}(({{details.Quantity}}))
                </b> {{ 'HouseKeeping.ThankyouPostMessage1' | translate }}
            </p>
            <p class="message" ng-if="{{details.Quantity==0}}">
                {{ 'HouseKeeping.ThankyouPreMessage' | translate }} <b>{{details.ServiceName}}</b> {{
                'HouseKeeping.ThankyouPostMessage2' | translate }} {{details.AvailTime}}
            </p>
            <hr />
        </div>
        <div class="button-wrapper">
            <button class="home" data-focusable-next-focus-left="null" data-focusable-next-focus-up="null" data-focusable-next-focus-down="null" focusable> Home </button>
            <button class="back" data-focusable-next-focus-up="null" data-focusable-next-focus-down="null"  focusable> Back to Services </button>
        </div>
    </section>
    <section class="banner-section">
        <ul class="banner-list" ng-if="{{offers}}">
            <li class="banner" ng-attr-id="{{'banner-' + $index}}" focusable  data-focusable-next-focus-up="{{$index==0?'null':''}}"
                data-focusable-group="banner"
                ng-repeat="item in offers">
                <div class="banner-card">
                    <img ng-if="{{item.Images.length > 0 && item.Images[0].ImageName!=''}}"
                        ng-src="{{imgURL+'/Image/OffersType/'+item.Images[0].ImageName}}" onerror="this.style.display='none'" class="offer-image">
                    <img ng-if="{{item.Images.length == 0 || item.Images[0].ImageName==''}}"
                        src="assets/img/placeholder/house-keeping.png" class="offer-image">
                    <div class="image-text">
                        <div class="name">{{item.Name}}</div></div>
                </div>
            </li>
        </ul>
    </section>
</div>