<div class="countless-service-wrapper">
    <section class="date-time-section">
        <div class="back-arrow-wrapper">
            <button class="back-button" data-focusable-name="{{'backbtn'+randomId}}" data-focusable-next-focus-up="null" data-focusable-next-focus-left="null"  data-focusable-next-focus-down="{{'group:radios1'+randomId}}" focusable ><img src="assets/img/icons/back_arrow_icon.svg"></button>
        </div>
        <div class="date-time-wrapper">
            <p class="title" ng-if="{{details}}">{{details.ServiceItem}}</p>
            
            <hr/>
            <div class="immediate-wrapper">
                <div class="custom-radio-style" ng-repeat="item in timings">
                   
                    <label focusable data-focusable-group="{{'radios1'+randomId}}"  data-focusable-next-focus-up="{{$index<3?'backbtn'+randomId:''}}" class="radio-button" data-focusable-next-focus-down="{{((timings.length <=3)|| (timings.length >3 && timings.length<=6 && $index>2 )||(timings.length>6 && $index >5)) ? randomId+'submit' : ''}}"  data-focusable-next-focus-left="{{$index % 3 == 0 ? 'null' : ''}}" > {{item.Time}}
                        <input type="radio" name="Time" ng-attr-id="{{item.Time}}" ng-checked="$index==0"  ng-disabled="isChecked && (isCheckedName==item.Time)" ng-change="onCheckboxChange($event)">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            
        </div>
        <div class="button-wrapper">
            <button class="submit" data-focusable-name="{{randomId+'submit'}}" data-focusable-group="btns" data-focusable-next-focus-up="{{'group:radios1'+randomId}}" data-focusable-next-focus-left="null" data-focusable-next-focus-down="null" id="submitBtn" title="submit" focusable> {{ 'Global.Submit' | translate }} </button>
            <button class="cancel" data-focusable-name="{{randomId+'cancel'}}" data-focusable-group="btns" data-focusable-next-focus-up="{{'group:radios1'+randomId}}" data-focusable-next-focus-down="null" id="cancelBtn" title="cancel" focusable> {{ 'Global.Cancel' | translate }} </button>
        </div>
    </section>
    <section class="banner-section">
        <div class="banner" ng-if="{{offer}}" data-focusable-next-focus-down="null" data-focusable-next-focus-up="null"
            data-focusable-next-focus-left="{{randomId+'cancel'}}" data-focusable-next-focus-right="null"
            data-focusable-name="{{randomId+'offer-banner'}}">
            <img ng-if="{{offer.Images.length > 0 && offer.Images[0].ImageName!=''}}" ng-src="{{imgURL+'/Image/OffersType/'+offer.Images[0].ImageName}}"
                onerror="this.style.display='none'" class="offer-image">
            <div class="offers-card-title">{{offer.Name}}</div>

        </div>
    </section>
</div>