<div class="offers-wrapper">
    <section class="offer-scroll-section">
        <div class="offer-list-wrapper">
            <ul class="offer-list" id='ViewContainer'>
                <li ng-repeat="type in spa" id="{{type.id}}" class="focusable-offer offer{{i}} page"
                    data-focusable-group="spa" data-focusable-next-focus-down="{{'offer-name-'+ randomId+'0'}}" data-focusable-next-focus-right="{{'offer-item-'+ randomId + ($index+1)}}" data-focusable-next-focus-left="{{$index!=0?'offer-item-'+ randomId + ($index-1):'menu-item-3'}}" data-focusable-name="{{'offer-item-'+ randomId + $index}}" data-focusable-next-focus-up="null" on-focused="offerFocused($event)" on-selected="spaSelected($event)" focusable>
                    <div class="image-card">
                        <img ng-if="type.webimages.length > 0" src="{{type.webimages[0].metadata}}" />
                        <img ng-if="type.webimages.length == 0" src="img/placeholder/offer.png" />
                       <!-- <img ng-if="type.Images.length > 0 && type.Images[0].ImageName!='' " ng-src="{{imgURL+'/Image/Offers/'+type.Images[0].ImageName}}" onerror="this.style.display='none'" class="offer-image"> -->
                        <!-- <img src="img/placeholder/offer.png" class="offer-image"> -->
                        <div class="offers-card-title">{{type.name}}</div>
                        <div class="go-arrow">
                            <img src="img/icons/arrow.svg">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- <section class="offer-name-section">
        <ul class="offer-name-list">
            <li ng-repeat="type in offersTypes">
                <button focusable data-focusable-group="offertypes" data-focusable-next-focus-up="group:offer" data-focusable-next-focus-down="null"
                data-focusable-name="{{'offer-name-'+ randomId + $index}}" class="offer offerType" id="{{type}}" title="{{type}}" [attr.data-focusable-next-focus-left]="$index!=0?'offer-name-'+ randomId+ ($index-1):'menu-item-7'" on-selected="offerTypeSelected($event)">{{type}}</button>
            </li>
        </ul>
    </section> -->
</div