<style>
    .spa-list li.focused
    {
        border:solid 1px #eee;
        border-radius:0px;
    }
</style>
<div class="offers-wrapper restaurant-wrapper cityguide-wrapper">
    <section class="offer-name-section">
        <ul class="offer-name-list">
            <li ng-repeat="type in treatmenttype" style="max-width:30vw;">
                <button focusable data-focusable-group="treatmenttypes" style="font-size:1.5vw" data-focusable-next-focus-up="null" 
                data-focusable-name="{{'type-name-'+ $index}}" class="offer offerType spaType {{'type-name-'+ $index}}" id="{{type}}" title="{{type}}" data-focusable-next-focus-left="{{$index!=0?'type-name-'+ ($index-1):'menu-item-3'}}" on-selected="TypeSelected('{{type.id}}','{{spaId}}','type-name-{{$index}}', {{$index}})">{{type.displayname}}</button>
            </li>
        </ul>
    </section>
   
    <section class="cityguide-scroll-section">
        <div class="cityguide-list-wrapper">
            <ul class="cityguide-list spa-list" id='ViewContainer' style="padding:10vh 0;width:90%">
                <li ng-repeat="type in treatment" id="{{type.Id}}" style="height:auto" class="focusable-spa restaurant{{i}} page"
                data-focusable-next-focus-up="{{'type-name-'+'0'}}" data-focusable-next-focus-right="{{'treatment-item-'+ ($index+1)}}" data-focusable-next-focus-left="{{$index!=0?'treatment-item-'+  ($index-1):'menu-item-3'}}" data-focusable-name="{{'treatment-item-'+ $index}}"  on-focused="offerFocused($event)" on-selected="spaSelected($event)" focusable>
                    <div class="image-card" >
                        <img ng-if="type.webimages.length > 0" style="height:30vh" src="{{type.webimages[0].metadata}}" />
                        <img ng-if="type.webimages.length == 0" style="height:30vh" src="img/placeholder/offer.png" />
                        <div class="cityguide-card-title" style="font-size:2vw">{{type.displayname   }}</div>
                       <hr />
                      <p style="float:left;width:auto"><span style="font-size:2vw">{{type.durationinminutes}} </span>min</p>
                    <p style="float:right;width:auto;">{{currency}}<span style="font-size:2vw">{{type.priceplan[0].price}}</span> </p>
                        <hr style="margin-top:5vw"/>

                        <p style="display: block;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{type.description}}</p>
                        
                        <!-- <div class="go-arrow">
                           
                          <button class="restbtn">View Details</button>
                           
                        </div> -->
                    </div>
                </li>
            </ul>
        </div>
    </section>
   
</div